<!doctype html>
<% if (isFromWeChat) { %>
<html>
<head>
    <meta charset="utf-8">
    <title>金道贵金属微解盘</title>
    <meta name="keywords" content="金道贵金属微解盘" />
    <meta name="description" content="金道贵金属微解盘" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="stylesheet" href="/css/swipebox.min.css">
    <link type="text/css" rel="stylesheet" href="/css/adminChat.css?t=<%=new Date()%>"/>
    <style type="text/css">
        /**---------------开发加入，begin----------**/
        .dt-txt-name{ position: absolute;top: 8px;left: 5px; }
        .dt-send-name{ color:#093491; margin-right:5px; cursor:pointer;}
        /**---------------开发加入，end----------**/
    </style>
</head>
<body>
<!-- header begin -->
<header id="header">
    <section class="cop-info clearfix">
        <h1 id="logo" class="fl"><a href="http://m.24k.hk" class="hide-t">金道贵金属</a></h1>
        <p class="online-count fl">在线人数<span id="onlineUserNum"></span></p>
        <aside class="user-intr fr">
            <span class="user-img"><img src="" width="20" height="20" alt="头像" /></span>
            <span class="user-name"></span>
        </aside>
    </section>
</header>
<!-- header end -->
<aside class="fxs-ony-box clearfix">
    <section class="ss-tk-info dn" id="top_info"><label></label><i id="close_top_btn"></i></section>
</aside>
<section class="wrapper pub-top" id="content_div">
    <article class="talk-infobox">
        <ul id="content_ul"></ul>
    </article>
</section>

<!-- footer begin -->
<footer class="float-box">
    <article class="float-con">
        <section class="operator-tool">
           <input type="checkbox"/>全选<input type="button" class="btn" value="通过" btnType="1" style="margin-left:15px;" /><input type="button" class="btn" btnType="2" value="拒绝" />
        </section>
        <section class="inp-fon-tix">
            <dt class="dt-txt-name" id="txtNicknameId"></dt>
            <textarea  id="contentText" class="text-area-box"></textarea>
        </section>
        <button class="add-btn hide-t" id="addBtn">添加</button>
        <section class="add-img dn">
            <article class="add-img-in">
                <aside class="select-img"></aside>
                <input type="file" class="file-img" id="fileBtn" accept="image/*" capture="camera"/>
                <p>图片</p>
            </article>
        </section>
        <button class="send-btn" style="display:none" id="sendBtn">发送</button>
    </article>
</footer>
<!-- footer end -->
<!-- shadow begin -->
<section class="layer-shadow dn"></section>
<!-- shadow end -->
<!-- loading begin -->
<section class="loading-box dn"></section>
<!-- loading end -->
<script type="text/javascript" src="/js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.swipebox.min.js"></script>
<script type="text/javascript" src="/js/lib/socket.io.js"></script>
<script type="text/javascript" src="/js/util/common.js?t=<%=new Date()%>"></script>
<script type="text/javascript" src="/js/adminChat.js?t=<%=new Date()%>"></script>

<script type="text/javascript">
    adminChat.userInfo=JSON.parse('<%- userInfo %>');
    adminChat.socketUrl='<%= socketUrl %>';
</script>
</body>
</html>
<% } else{%>
<% include error.html %>
<% } %>