<!doctype html>
<% if (isFromWeChat) { %>
<html>
<head>
    <meta charset="utf-8">
    <title>金道贵金属微信聊天室</title>
    <meta name="keywords" content="微信聊天室" />
    <meta name="description" content="微信聊天室" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="stylesheet" href="/css/swipebox.min.css">
    <link type="text/css" rel="stylesheet" href="/css/wechat.css?t=<%=new Date()%>"/>
    <style type="text/css">
        /**---------------开发加入，begin----------**/
        .dt-txt-name{ position: absolute;top: 8px;left: 5px; }
        .dt-send-name{ color:#093491; margin-right:5px; cursor:pointer;}
        /**---------------开发加入，end----------**/
    </style>
</head>
<body>
<!-- header begin -->
<header id="header">
    <section class="cop-info clearfix">
        <h1 id="logo" class="fl"><a href="http://m.24k.hk" class="hide-t">金道贵金属</a></h1>
        <p class="online-count fl">在线人数<span id="onlineUserNum"></span></p>
        <aside class="user-intr fr">
            <span class="user-img"><img src="" width="20" height="20" alt="头像" /></span>
            <span class="user-name"></span>
        </aside>
    </section>
    <section class="date-box">
        <ul class="clearfix" id="product_price_ul">
            <li name="022">
                <h2>伦敦金</h2>
                <p class="date-sz"></p>
                <p><span></span> <span></span></p>
            </li>
            <li  name="023">
                <h2>伦敦银</h2>
                <p class="date-sz"></p>
                <p><span></span> <span></span></p>
            </li>
            <li name="050">
                <h2>美元指数</h2>
                <p class="date-sz"></p>
                <p><span></span> <span></span></p>
            </li>
            <li name="00E">
                <h2>纽约原油</h2>
                <p class="date-sz"></p>
                <p><span></span> <span></span></p>
            </li>
        </ul>
    </section>
    <article class="anounce" id="quotation">
        <ul></ul>
    </article>
    <aside class="adbox" id="adBox"><a href="#"><img src="/images/gg.jpg" width="640" height="80" alt="广告"></a><s></s></aside>
</header>
<!-- header end -->
<aside class="fxs-ony-box clearfix">
    <section class="ss-tk-info dn" id="top_info"><label></label><i id="close_top_btn"></i></section>
    <article class="kaig-icon">只看分析师<span class="kg-stadus off-fon" id="readSet"><i></i></span></article>
</aside>
<section class="wrapper pub-top" id="content_div">
    <article class="talk-infobox">
        <ul id="content_ul"></ul>
    </article>
</section>

<!-- footer begin -->
<footer class="float-box">
    <article class="float-con">
        <section class="inp-fon-tix">
            <dt class="dt-txt-name" id="txtNicknameId"></dt>
            <textarea  id="contentText" class="text-area-box"></textarea>
        </section>
        <button class="add-btn hide-t" id="addBtn">添加</button>
        <section class="add-img dn">
            <article class="add-img-in">
                <aside class="select-img"></aside>
                <input type="file" class="file-img" id="fileBtn" accept="image/*" capture="camera"/>
                <p>图片</p>
            </article>
        </section>
        <button class="send-btn" style="display:none" id="sendBtn">发送</button>
    </article>
</footer>
<!-- footer end -->
<section class="layer-out dn" id="openBox">
    <section class="layer-con" id="loginSection">
        <a href="javascript://" class="del-btn" title="关闭"></a>
        <h3>登录验证</h3>
        <section class="form-box">
            <form id="loginForm">
                <input type="hidden"  name="userId"/>
                <input type="hidden"  name="groupId"/>
                <input type="hidden"  name="nickname"/>
                <input type="hidden"  name="fromPlatform"/>
                <input type="hidden"  name="userType"/>
                <section class="form-part-a clearfix">
                    <label class="fl">账　号：</label>
                    <aside class="form-inp"><input type="text" class="input-text" name="accountNo" /></aside>
                </section>
                <section class="form-part-a clearfix">
                    <label class="fl">手机号：</label>
                    <aside class="form-inp"><input type="tel" class="input-text" name="mobilePhone" /></aside>
                </section>
                <section class="form-part-a clearfix">
                    <label class="fl">验证码：</label>
                    <aside class="form-inp"><input type="text" class="input-text" name="verifyCode" />
                        <i class="yzm-text" id="verifyCodeId">
                            <img src="" alt="验证码" />
                            <canvas id="canvasId" width="45" height="20" style="cursor: pointer;display:none;margin-top:5px;"></canvas>
                        </i></aside>
                </section>
                <p class="wrong-info"></p>
                <button type="button" class="submit-btn" id="formBtn">提交</button>
            </form>
            <i class="img-loading" style="top: 50%;right: 50%;display:none;" id="formBtnLoad"></i>
        </section>
    </section>
    <!--登录成功 begin-->
    <section class="layer-con dn" id="tipSection">
        <a href="javascript://" class="del-btn" title="关闭"></a>
        <h2></h2>
        <p class="succ-p-info"></p>
    </section>
</section>
<!--登录 end-->
<section class="layer-out dn" id="bulletinBox">
    <section class="layer-con">
        <a href="javascript://" class="del-btn" title="关闭" id="bulletinBoxCloseBtn"></a>
        <article class="anounce-detail">
        </article>
    </section>
</section>
<!--公告详情页 begin-->
<!-- shadow begin -->
<section class="layer-shadow dn"></section>
<!-- shadow end -->
<!-- loading begin -->
<section class="loading-box dn"></section>
<!-- loading end -->
<script type="text/javascript" src="/js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.swipebox.min.js"></script>
<script type="text/javascript" src="/js/lib/socket.io.js"></script>
<script type="text/javascript" src="/js/util/common.js?t=<%=new Date()%>"></script>
<script type="text/javascript" src="/js/chat.js?t=<%=new Date()%>"></script>
<script type="text/javascript" src="/js/wechat.js?t=<%=new Date()%>"></script>

<script type="text/javascript">
    wechat.priceUrl='<%= web24kPriceUrl %>';
    chat.userInfo=JSON.parse('<%- userInfo %>');
    chat.socketUrl='<%= socketUrl %>';
</script>
</body>
</html>
<% } else{%>
<% include error.html %>
<% } %>