<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>视频直播间【<%= groupInfo.name %>】</title>
    <meta content="实盘直播,贵金属实盘直播室,金道贵金属实盘直播,金道贵金属" name="keywords">
    <meta content="金道贵金属打造在线贵金属实盘直播室，金道研究院名家观点即时播报，让您的掘金之旅在此起航！携手金道，生金有道！" name="description">
    <link href="/js/lib/mScroll/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="/js/lib/jsWindows/jsWindows.min.css" rel="stylesheet" type="text/css">
    <link href="/js/lib/jqueryUI/jquery-ui.min.css" type="text/css" rel="stylesheet"/>
    <link href="/css/swipebox.min.css"type="text/css" rel="stylesheet" >
    <link href="/css/face.css" type="text/css" rel="stylesheet" />
    <link href="/css/studio/admin.min.css" type="text/css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <link href="/css/studio/studioIE.css" rel="stylesheet" type="text/css">
    <![endif]-->
</head>
<body>
<div class="box-header">
    <div class="box-header-in clearfix">
        <h1 class="fl"></h1>
        <div style="margin-top: 14px;font-size: 20px;color: #b59030;position: absolute;left:200px;">【<strong><%= groupInfo.name %></strong>】</div>
        <div class="header-right fr clearfix">
            <a href="javascript:"><img src="" id="header_img_id" style="width:34px;height:48px;"/><span></span></a>
            <a href="javascript:" class="username" class="real"><%= nickname %></a>
        </div>
        <span style="display:none;" id="groupInfoId" aw="<%= groupInfo.allowWhisper %>" awr="<%= groupInfo.whisperRoles %>"></span>
    </div>
</div>
<!-- wrapper begin -->
<div class="wrapper clearfix">
    <div class="left_row clearfix">
        <div class="left2">
            <div class="mod_userlist mod_left1">
                <div class="title">
                    <h3 class="title" style="float:left;">在线用户【<span id="onLineSizeNum"></span>】</h3>
                    <a href="javascript:" class="wh_msg_ftip" style="display:none;">私聊</a>
                </div>
                <div class="scrollbox user_box">
                    <ul id="userListId"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="right_row clearfix">
        <div id="right_chat"  <% if (userType!='2') { %> style="width:55%;float:left;"  <% } %>>
            <div class="chat clearfix">
                <div class="line_bar">
                    <div class="view_select">
                        <div style="position: absolute;right: 120px;top: 2px;"><span id="show_top_btn" style="width: 57px;font-size: 14px;color: #d9d9d9;white-space: nowrap;text-overflow: ellipsis;cursor: pointer;margin-right:50px;">@记录<strong>【0】</strong><label></label></span></div>
                        <div class="se_cont">
                            <div class="selected">看所有人</div>
                            <div class="selectlist" style="background-color: #101010;">
                                <a href="javascript:void(0)" class="on" t="all">看所有人</a>
                                <a href="javascript:void(0)" class="" t="analyst">只看分析师</a>
                                <a href="javascript:void(0)" class="" t="me">与我相关</a>
                            </div>
                        </div>
                        <i></i>
                    </div>
                </div>
                <div class="top-box dn">
                    <div style="height: 20px;"><h3 style="float:left;">等待回复的@记录<strong id="top_num">【0】</strong>：</h3><i id="close-top-box"></i></div>
                    <div class="cont" id="talk_top_id" style="overflow-y: auto;height:290px;"></div>
                </div>
                <div class="chat_content">
                    <div id="chatMsgContentDiv">
                        <div class="dialoglist clearfix" id="dialog_list"></div>
                    </div>
                    <i class="img-loading" style="top: 50%;right: 50%;display: none;" pf="chatMessage"></i>
                </div>
                <a href="javascript:" style="display:none;" id="newMsgShowBtn"></a>
                <span  id="newMsgTipBtn" style="display:none;">新信息</span>
            </div>
            <!-- chat_input begin -->
            <div class="chat_input">
                <div class="mymsg dn">
                    <p><span class="sender"></span>对&nbsp;你说<label></label>：<span class="xcont"></span></p>
                    <a href="javascript:" class="replybtn" uId="">回复</a><em style="position: absolute;top: 10px;right: 40px;font-size: 12px;display:none;">正在输入...</em>
                    <a href="javascript:" class="closebtn">关闭</a>
                </div>
                <div class="input_box">
                    <div class="toolbar">
                        <a href="javascript:" class="facebtn">表情</a>
                        <a href="javascript:" class="tbtn clearbtn">清屏</a>
                        <a href="javascript:" class="tbtn scrollbtn on">滚动</a>
                        <a href="javascript:" class="tbtn approveall" id="approveAllHandler">
                            <input type="checkbox" id="approveCheckAll"/>
                            <label for="approveCheckAll">全选</label>
                            &nbsp;
                            <button btnType="1">通过</button>
                            &nbsp;
                            <button btnType="2">拒绝</button>
                        </a>
                    </div>
                    <div class="input_area">
                        <div class="adiv">
                            <div id="contentText" contenteditable="true" class="ctextarea" style="height:60px;line-height: 20px;"></div>
                        </div>
                        <a href="javascript:void(0)" class="sendbtn" id="sendBtn"><i></i><span>发送</span></a>
                    </div>
                </div>
            </div>
            <!-- chat_input end -->
            <div class="dialogbtn" style="display:none">
                <a href="">对话</a>
            </div>
        </div>
       <% if (userType!='2') { %>
        <div class="right_row_1" style="width:45%;float:right;">
            <div class="mod_video" style="margin-left:5px;width:100%;" id="yyVideoDiv"><div style="color:#fff;padding-top:50%;"><strong>目前没有直播的相关课程，可以联系管理员设置相关课程！</strong></div></div>
            <div class="mod_bottom_div" style="width:100%;height:auto;margin-left:5px;background-color: rgba(246,246,246,0.9);"></div>
        </div>
       <% } %>
    </div>
    <!--提示框-->
    <div class="popup_box dn" id="tipMsgBox" style="width:550px;z-index: 999999;">
        <div style="height:25px;font-size:20px;"><b>退出提示</b></div>
        <div class="cont" style="padding-top:5px;padding-bottom:5px;">
            <span style="height:30px;font-size:20px;margin-left:20px;"></span>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/lib/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/js/lib/mScroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.swipebox.min.js"></script>
<script type="text/javascript" src="/js/lib/jqueryUI/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/lib/jsWindows/jsWindows.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.superslide.2.1.1.js"></script>
<script type="text/javascript" src="/js/lib/jquery.face.js"></script>
<script type="text/javascript" src="/js/lib/socket.io.js"></script>
<script type="text/javascript" src="/js/util/common.min.js"></script>
<script type="text/javascript" src="/js/studio/admin.min.js?t=<%=new Date()%>"></script>

<script type="text/javascript">
    studioChat.filePath='<%= filePath %>';
    studioChat.userInfo=JSON.parse('<%- userInfo %>');
    studioChat.socketUrl=JSON.parse('<%- socketUrl %>');
    $(function(){
        widthCheck();
        heightCalcu();
    });
    $(window).resize(function(e){
        widthCheck();
        heightCalcu();
    });
    function widthCheck(){
        var ww = $(window).width();
        if(ww > 1680 ){
            $('body').attr('class','');
            $('body').addClass('wid1');
        }
        if(ww <= 1680 && ww > 1480 ){
            $('body').attr('class','');
            $('body').addClass('wid2');

        }
        if(ww <= 1480 && ww >= 1280 ){
            $('body').attr('class','');
            $('body').addClass('wid3');
        }
        if(ww < 1280 ){
            $('body').attr('class','');
            $('body').addClass('wid4');
        }
    }

    function heightCalcu(){
        var hh = $(window).height();
        if($(window).width()<1160){
            $('.right_row_1').hide();
            /*$("#right_chat").css({width:"100%"});*/
        }else{
            $('.right_row_1').show();
            /*$("#right_chat").css({width:"55%"});*/
        }
        $('.user_box').height(hh-125);
        $('.mod_video').height($('.mod_video').width()-65);
        $(".mod_bottom_div").height(hh-$('.mod_video').height()-70);
        $('#chatMsgContentDiv').height(hh-232-$('.mymsg').height());
        $('.chat').height(hh-$(".input_box").height()-72);
    }
</script>


</body>
</html>