<div class="left1_cont">
    <div class="mod_video" id="lvDivId">
        <div class="live-notice" id="nextCourse">
            <div class="cont">
                <div class="ntext">当前暂无直播，请关注下节课</div>
                <div class="nextbox">
                    <div class="tec_head">
                        <img src=""/>
                    </div>
                    <span class="t_name"></span>
                    <p class="live_name"></p>
                    <span class="live_time"><i></i><span>直播时间：<label class="time" style="margin-left:5px;"></label></span></span>
                </div>
            </div>
            <i class="botlogo"></i>
        </div>
        <div id="lvVideoId" style="height:100%;width:100%;"></div>
    </div>
    <div class="mod_video dn" id="tvDivId">
        <div id="tVideoId" style="width:100%;height: 100%;">
            <i class="img-loading" style="top: 50%;right: 50%;display:none;"></i>
        </div>
        <div class="tec_videolist">
            <div class="min_box dn">
                <span class="list-icon" id="vdLs_min"><i></i></span>
                <span class="v_cate"></span>
                <span class="v_name"><i></i><label></label></span>
            </div>
            <div class="max_box">
                <div class="box_top clearfix">
                    <span class="list-icon fl" id="vdLs_max"><i></i></span>
                    <!--span class="refresh-icon fr"><i></i></span-->
                </div>
                <div class="tec_listcont" id="teachVideoId">
                    <div class="cate_box" t="teach_video_base">
                        <span class="cate_name"><i></i>基础教学</span>
                        <ul></ul>
                    </div>
                    <div class="cate_box" t="teach_video_gw">
                        <span class="cate_name"><i></i>谈金论道</span>
                        <ul></ul>
                    </div>
                    <div class="cate_box" t="teach_video_expert">
                        <span class="cate_name"><i></i>专家锦囊</span>
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="radius_tool">
            <i class="topl"></i>
            <i class="topr"></i>
        </div>
    </div>
    <div class="mod_videolist">
        <div class="tabnav clearfix" id="vdTabId">
            <a href="javascript:" class="on">视频直播</a>
            <a href="javascript:">教学视频</a>
        </div>
        <div class="listcont">
            <div class="scrollbox" style="height:273px">
                <div class="list_tab on clearfix" id="lvInfoId">
                    <div class="intro">
                        <span class="tit">课程介绍</span>
                        <p class="remark"></p>
                    </div>
                    <div class="teacher-view">
                        <span class="tit">主讲人</span>
                        <div class="te_list"></div>
                        <p class="content"></p>
                    </div>
                </div>
                <div class="list_tab clearfix" id="tvInfoId">
                    <div class="intro">
                        <span class="tit">本集介绍</span>
                        <p class="remark"></p>
                    </div>
                    <div class="teacher-view">
                        <span class="tit">主讲人</span>
                        <div class="te_list">
                            <div class="te_detail">
                                <img src="" alt="">
                                <div class="rcont">
                                    <span><strong></strong><i></i></span>
                                    <!--a href="javascript:" class="support"><label></label></a-->
                                </div>
                            </div>
                        </div>
                        <p class="content"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="radius_tool">
            <i class="botl"></i>
            <i class="botr"></i>
        </div>
    </div>
</div>