<link href="/base/lib/mScroll/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
<link href="/pm/theme1/css/train.min.css" type="text/css" rel="stylesheet" />
<!-- 老师培训班详情-陈丞  -->
<%if(userNo=='jade') {%>
<div class="scrollbox">
    <div class="teacherbox">
        <div class="te_top">
            <div class="himg"><img src="/pm/theme1/img/timg3.jpg" alt=""></div>
            <div class="info1 clearfix">
                <div class="info-l">
                    <span class="te_name"><%= locals.userName %></span><br>
                    <span class="te_org"><%= locals.position %></span>
                </div>
                <div class="stateshow">
                    <div class="item">
                        <i class="i1"></i>
                        <b><%= locals.winRate %><em>%</em></b>
                        <span>胜率</span>
                    </div>
                    <div class="item">
                        <i class="i2"></i>
                        <b><%= locals.earningsM %><em>%</em></b>
                        <span>月收益</span>
                    </div>
                    <!-- <div class="item">
                        <i class="i3"></i>
                        <b>200<em>h</em></b>
                        <span>讲课时长</span>
                    </div> -->
                    <div class="item">
                        <i class="i6"></i>
                        <b><em>(<%= locals.praiseNum %>)</em></b>
                        <span>赞</span>
                    </div>
                </div>
            </div>
            <div class="info2">
                <div class="memo" title="遵守止损止盈交易基本纪律，财富是一个积少成多的过程。"><span><i></i>投资箴言：</span>
                    遵守止损止盈交易基本纪律，财富是一个积少成多的过程。</div>
                <div class="taglist">
                    <div class="tag"><span>激进</span><i></i></div>
                    <div class="tag"><span>数据控</span><i></i></div>
                    <div class="tag"><span>女神</span><i></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_ph">
        <div class="ph_tit"><span><i></i>老师简介</span></div>
        <div class="ph_cont">
            <p>专注基本面分析多年 ，掌握第一手各类央行政策财经消息解读，熟悉各大交易规则与报价机制，对于现货黄金白银投资有独到见解，独创“陈氏超短线指标交易参数修正法”。能为客户探索“大多数人”看到大多数人看不到的短线投资机会。通晓美股，港股及A股趋势之间联系，将多年期货交易经验编入现货黄金白银交易之中，为广大投资者提供客观，犀利，精确交易策略。</p>
        </div>
    </div>
    <div class="detail_ph">
        <div class="ph_tit"><span><i></i>本期培训班介绍</span></div>
        <div class="ph_cont">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="detail_tab">
                <tr>
                    <th width="75">主题：</th>
                    <td>
                        <span class="topic">陈丞教您做数据！</span>
                        <ul class="apply_info">
                            <li><span>报名时间</span><b>10.31-11.04</b></li>
                            <li class="m"><span>开课时间</span><b>11.07-11.11</b></li>
                            <li><span>报名人数</span><b>限额50名</b></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>课程介绍：</th>
                    <td>
                        <ul class="t_list">
                            <li><i>1</i><span>如何辨识主要数据对黄金白银影响的大小</span></li>
                            <li><i>2</i><span>美联储利率决议预期主导金价</span></li>
                            <li><i>3</i><span>欧元区数据/日本央行政策/全球第二经济体（中国）对黄金白银影响</span></li>
                            <li><i>4</i><span>如何大胆预测美国各大五星级数据</span></li>
                            <li><i>5</i><span>终极一班：短线/超短线数据参数修正法</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>报名条件：</th>
                    <td>
                        <ul class="t_list w2">
                            <li><i>1</i><span>注册直播间</span></li>
                            <li><i>2</i><span>报名期间净入金满500美元</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>报名流程：</th>
                    <td>
                        <ul class="t_list w2">
                            <li><i>1</i><span>在直播间“我的助理”处报名</span><b class="arrow"></b></li>
                            <li><i>2</i><span>提交报名所需个人信息，完成报名</span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="detail_ph">
        <div class="ph_tit"><span><i></i>老师经典案例</span></div>
        <div class="ph_cont">
            <p>9月非农前夕策略验证“阴谋论”之说，<b>做多</b>，盈利<b class="sz">3800</b>美元/手</p>
            <div class="imgdiv"><img src="/pm/theme1/img/teacher_exp.jpg" alt=""></div>
        </div>
    </div>
</div>
<%} else if(userNo=='lgg'){ %>
<div class="scrollbox dn">
    <div class="ligg_top clearfix">
        <div class="lbox">
            <div class="himg"><img src="../static/img/timg_lgg.jpg" alt=""></div>
            <div class="bcont">
                <div class="ligg_st">
                    <div class="st"><i class="st1"></i>胜率：<span><b>90</b>%</span></div>
                    <div class="st"><i class="st2"></i>赞：<span>(6558)</span></div>
                </div>
                <p class="ligg_zy"><span>投资箴言：</span>兵者，诡道也。投资亦然。辨其道中脉络，方能亏少赚多。</p>
                <a href="" class="applybtn">立即报名</a>
            </div>

        </div>
        <div class="rbox">
            <div class="ligg_intro">
                <b>李呱呱</b><span>顺势波浪八法专家</span>
            </div>
            <div class="taglist">
                <div class="tag"><span>实战高手</span><i></i></div>
                <div class="tag"><span>有激情</span><i></i></div>
                <div class="tag"><span>段子手</span><i></i></div>
                <div class="tag"><span>波浪八法</span><i></i></div>
            </div>
            <div class="detail_ph">
                <div class="ph_tit"><span><i></i>老师简介</span></div>
                <div class="ph_cont">
                    <p>多年实盘操作经验，交易风格属积极大胆进攻，多次掌握黄金单边大波段行情。钻研日内波段操作，透过实战盈亏的洗练而创造出独特的顺势交易系统，成功将易懂难精的波浪理论结合葛兰碧八法，创造了将经典理论融入于实际做单的关键点操作，短中线波段掌握精准度高。</p>
                </div>
            </div>
            <div class="detail_ph">
                <div class="ph_tit"><span><i></i>老师经典案例</span></div>
                <div class="ph_cont">
                    <p>6/9~6/13非农后续效应再加上英国脱欧的不确定恐慌情绪，因而将1240-1260的多方区间上移至1260-1280，李老师在区间内采保守获利就尽早出场或反转就出场的方式，5次相加总共产生<b>2600美元获利</b>！跟单的小伙伴们有福了！</p>
                    <div class="picbox"><a href="../static/img/ligg_sd.jpg" data-rel="sd-img" data-title="持仓中" class="lightbox"><img src="../static/img/ligg_sd.jpg" alt="晒单" class="mCS_img_loaded"><i class="i-zoom"></i></a></div>

                </div>
            </div>
        </div>
    </div>

    <div class="detail_ph">
        <div class="ph_tit"><span><i></i>课程介绍</span></div>
        <div class="ph_cont kcbg">
            <h4 class="kcname">日内波段实战法与交易心理学</h4>
            <ul class="t_list">
                <li><i>1</i><span>随处可听到的顺势交易如何落实在贵金属 </span></li>
                <li><i>2</i><span>具体有哪些顺势交易的系统</span></li>
                <li><i>3</i><span>杰西、李佛摩尔的名言与实战心态对照</span></li>
                <li><i>4</i><span>市场心理如何形成行情趋势洪流</span></li>
                <li><i>5</i><span>运用正确心态建立自己的交易系统</span></li>
            </ul>
            <div class="kcbgpic"></div>
            <div class="apply_info">
                <div class="inbox in1">
                    <div class="cont">
                        <p>报名时间：<b>10.17-10.21</b></p>
                        <p class="red">开课时间：<b>10.24-10.28 </b></p>

                    </div>
                    <i class="arr"></i>
                </div>
                <div class="inbox in2">
                    <div class="cont">
                        <p>报名条件：</p>
                        <ul class="t_list">
                            <li><i>1</i><span>注册直播间 </span></li>
                            <li><i>2</i><span>报名期间净入金满1000美元</span></li>
                        </ul>
                        <p class="p2">报名人数：<br>限额50名，招满截止   </p>
                    </div>
                    <i class="arr"></i>
                </div>
                <div class="inbox">
                    <div class="cont">
                        <p>报名流程：</p>
                        <ul class="t_list">
                            <li><i>1</i><span>在直播间“我的助理”处报名 </span></li>
                            <li><i>2</i><span>登记个人信息，完成报名</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="" class="applybtn">马上报名</a>
</div>
<%}%>




<script type="text/javascript" src="/base/lib/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/base/lib/mScroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript">
    $(function(){
        myscroll();
    });
    //滚动条控制js
    function myscroll(){
        //滚动条
        $.mCustomScrollbar.defaults.scrollButtons.enable=true;
        $(".sdlistcont").mCustomScrollbar({theme:"dark",scrollbarPosition:"outside",scrollButtons:false});
        $(".scrollbox").mCustomScrollbar({theme:"light-thick",scrollbarPosition:"outside",scrollButtons:false});
    }
</script>



</body>
</html>