<link href="../static/css/jquery.mCustomScrollbar.css" type="text/css" rel="stylesheet" />
<link href="../static/css/train.css" type="text/css" rel="stylesheet" />
<!-- 老师培训班详情-陈丞  -->

<div class="scrollbox">
    <div class="teacherbox">
        <div class="te_top">
            <div class="himg"><img src="../static/img/timg3.jpg" alt=""></div>
            <div class="info1 clearfix">
                <div class="info-l">
                    <span class="te_name">陈丞</span><br>
                    <span class="te_org">大数据挖掘师</span>
                </div>
                <div class="stateshow">
                    <div class="item">
                        <i class="i1"></i>
                        <b>90<em>%</em></b>
                        <span>胜率</span>
                    </div>
                    <div class="item">
                        <i class="i2"></i>
                        <b>50<em>%</em></b>
                        <span>月收益</span>
                    </div>
                    <!-- <div class="item">
                        <i class="i3"></i>
                        <b>200<em>h</em></b>
                        <span>讲课时长</span>
                    </div> -->
                    <div class="item">
                        <i class="i6"></i>
                        <b><em>(6558)</em></b>
                        <span>赞</span>
                    </div>
                </div>
            </div>
            <div class="info2">
                <div class="memo" title="遵守止损止盈交易基本纪律，财富是一个积少成多的过程。"><span><i></i>投资箴言：</span>
                    遵守止损止盈交易基本纪律，财富是一个积少成多的过程。</div>
                <div class="taglist">
                    <div class="tag"><span>激进</span><i></i></div>
                    <div class="tag"><span>数据控</span><i></i></div>
                    <div class="tag"><span>女神</span><i></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_ph">
        <div class="ph_tit"><span><i></i>老师简介</span></div>
        <div class="ph_cont">
            <p>专注基本面分析多年 ，掌握第一手各类央行政策财经消息解读，熟悉各大交易规则与报价机制，对于现货黄金白银投资有独到见解，独创“陈氏超短线指标交易参数修正法”。能为客户探索“大多数人”看到大多数人看不到的短线投资机会。通晓美股，港股及A股趋势之间联系，将多年期货交易经验编入现货黄金白银交易之中，为广大投资者提供客观，犀利，精确交易策略。</p>
        </div>
    </div>
    <div class="detail_ph">
        <div class="ph_tit"><span><i></i>本期培训班介绍</span></div>
        <div class="ph_cont">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="detail_tab">
                <tr>
                    <th width="75">主题：</th>
                    <td>
                        <span class="topic">陈丞教您做数据！</span>
                        <ul class="apply_info">
                            <li><span>报名时间</span><b>10.31-11.04</b></li>
                            <li class="m"><span>开课时间</span><b>11.07-11.11</b></li>
                            <li><span>报名人数</span><b>限额50名</b></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>课程介绍：</th>
                    <td>
                        <ul class="t_list">
                            <li><i>1</i><span>如何辨识主要数据对黄金白银影响的大小</span></li>
                            <li><i>2</i><span>美联储利率决议预期主导金价</span></li>
                            <li><i>3</i><span>欧元区数据/日本央行政策/全球第二经济体（中国）对黄金白银影响</span></li>
                            <li><i>4</i><span>如何大胆预测美国各大五星级数据</span></li>
                            <li><i>5</i><span>终极一班：短线/超短线数据参数修正法</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>报名条件：</th>
                    <td>
                        <ul class="t_list w2">
                            <li><i>1</i><span>注册直播间</span></li>
                            <li><i>2</i><span>报名期间净入金满500美元</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>报名流程：</th>
                    <td>
                        <ul class="t_list w2">
                            <li><i>1</i><span>在直播间“我的助理”处报名</span><b class="arrow"></b></li>
                            <li><i>2</i><span>提交报名所需个人信息，完成报名</span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="detail_ph">
        <div class="ph_tit"><span><i></i>老师经典案例</span></div>
        <div class="ph_cont">
            <p>9月非农前夕策略验证“阴谋论”之说，<b>做多</b>，盈利<b class="sz">3800</b>美元/手</p>
            <div class="imgdiv"><img src="../static/img/teacher_exp.jpg" alt=""></div>
        </div>
    </div>
    <div class="detail_ph">
        <div class="ph_tit"><span><i></i>排行榜</span></div>
        <div class="indent_cont">
            <div class="medaltable">
                <table cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tr>
                        <th width="20%"></th>
                        <th>直播间昵称</th>
                        <th width="25%"><span>账号</span></th>
                        <th width="20%">收益率</th>
                    </tr>
                    <tr>
                        <td>
                            <i class="medal m1"></i>状元
                        </td>
                        <td>会飞的黄金</td>
                        <td>186****8888</td>
                        <td>3.96%</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="medal m2"></i>榜眼
                        </td>
                        <td>大风声</td>
                        <td>186****8888</td>
                        <td>1.23%</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="medal m3"></i>探花
                        </td>
                        <td>123ab春满人</td>
                        <td>186****8888</td>
                        <td>0.96%</td>
                    </tr>
                </table>
            </div>
            <div class="train_ad"><a href="javascript:void(0)" class="actrulebtn" onclick="openPopup('train_rule')"><i></i>活动条款</a></div>
        </div>
    </div>

    <a href="" class="applybtn">马上报名</a>
</div>

<script src="../static/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript">
    $(function(){
        myscroll();
    });
    //滚动条控制js
    function myscroll(){
        //滚动条
        $.mCustomScrollbar.defaults.scrollButtons.enable=true;
        $(".sdlistcont").mCustomScrollbar({theme:"dark",scrollbarPosition:"outside",scrollButtons:false});
        $(".scrollbox").mCustomScrollbar({theme:"light-thick",scrollbarPosition:"outside",scrollButtons:false});
    }
</script>



</body>
</html>