<div class="main_tab on">
    <div class="chat_content" id="chatMsgContentDiv">
        <div style="padding: 0 20px;">
            <div class="dialoglist clearfix" id="dialog_list"></div>
        </div>
    </div>
    <div class="chat_input">
        <div class="mymsg dn">
            <p><span class="sender">Alex</span>对你说：<span class="xcont">按刚才这个逻辑，金价还有一次探底点机会。</span></p>
            <a href="javascript:" class="replybtn">回复</a>
            <a href="javascript:" class="pop_close" id="mymsgClose">×</a>
        </div>
        <div class="input_box">
            <div class="input_area">
                <div class="adiv">
                    <a href="javascript:void(0)" class="sendbtn" id="sendBtn"><i></i><span>发送</span></a>
                    <div class="input-toolbar">
                        <a href="javascript:" class="inp-bar1 facebtn" id="msgFaceBtn" title="表情"></a>
                        <a href="javascript:" class="inp-bar2 clearbtn" title="清屏"></a>
                        <a href="javascript:" class="inp-bar3 scrollbtn on" title="滚动"></a>
                        <a href="javascript:" class="inp-bar4" id="sendReward" title="打赏"></a>
                        <a href="javascript:" class="inp-bar5" id="sendImgBtn" title="发图"></a>
                        <input type="file" style="display: none;" id="sendImgInp">
                    </div>
                    <div id="contentText" contenteditable="true" class="ctextarea"></div>
                </div>
                <p title="风险提示：交易存在风险,客户须根据自身的情况考虑,投资有风险,入市需谨慎.">风险提示：交易存在风险,客户须根据自身的情况考虑,投资有风险,入市需谨慎.</p>
            </div>
        </div>
    </div>

    <div class="envelope-reward dn">
        <div class="reward-title">
            <span class="reward-back pull-left dn">&lt;</span>
            现金红包
        </div>
        <div class="reward-form" style="padding: 15px;">
            <div class="clearfix" style="margin: 25px 0 25px;">
                <div class="pull-left" style="line-height:35px;">
                    发送给:
                </div>
                <div class="pull-right" style="width: 210px;">
                    <select id="js-reward-user" class="form-control" style="width: 100%;" required="required">
                        <option value="">请选择老师</option>
                        <option value="hxbj">博金老师</option>
                        <option value="hxmomo">默默老师</option>
                        <option value="hxyz">晏子</option>
                    </select>
                </div>
            </div>
            <div class="clearfix" style="margin: 0 0 50px;">
                <div class="pull-left" style="line-height:35px;">
                    发送给:
                </div>
                <div class="pull-right" style="width: 210px;">
                    <select id="js-reward-fun" class="form-control" style="width: 100%;" required="required">
                        <option value="0">网银支付</option>
                    </select>
                </div>
            </div>
            <div>
                <button  class="btn btn-danger btn-lg btn-block" id="js-reward-send-btn" type="button">打 赏</button>
            </div>
        </div>

        <div class="reward-weima dn" style="text-align: center; padding: 10px;">
            <div>扫描下方二维码，打赏给老师：</div>
            <div id="rewardQRCode" style="width: 180px; margin:10px auto 0;">
                <img id="qrCode" src="" class="img-responsive" />
            </div>
        </div>
    </div>

    <div class="view_select">
        <div class="se_cont">
            <div class="selected">看所有人</div>
            <div class="selectlist">
                <a href="javascript:" class="on" t="all">看所有人</a>
                <a href="javascript:" class="" t="analyst">看分析师</a>
                <a href="javascript:" class="" t="cs">看客服</a>
                <a href="javascript:" class="" t="me">与我相关</a>
            </div>
        </div>
        <i></i>
    </div>
</div>