<div class="mod_video" id="video_content">
    <div class="video-class">
        <div class="video-class-checked">
            <div class="video-checkbox" t="tv"></div>
            <i></i>
            <div class="video-checkbox-list">
                <a href="javascript:;" t="tv" onClick="indexJS.studioGA('send', 'event', 'click', 'jxtv', 'hxstudio_rightlink', ['addaction','click', 'jxtv', 'hxstudio_rightlink']);">
                    教学视频
                </a>
                <a href="javascript:;" t="lv" onClick="indexJS.studioGA('send', 'event', 'click', 'zbtv', 'hxstudio_rightlink', ['addaction','click', 'zbtv', 'hxstudio_rightlink']);">
                    直播视频
                </a>
            </div>
        </div>
        <div class="max_box dn">
            <div class="box_top clearfix">
                <span class="list-icon fl" id="vdLs_max"><i></i></span>
                <!--span class="refresh-icon fr"><i></i></span-->
            </div>
            <div class="tec_listcont" id="teachVideoId">
                <div class="cate_box" t="teach_video_base">
                    <span class="cate_name"><i></i>基础教学</span>
                    <ul></ul>
                </div>
                <div class="cate_box" t="teach_video_gw">
                    <span class="cate_name"><i></i>恒信讲堂</span>
                    <ul></ul>
                </div>
                <div class="cate_box" t="teach_video_expert">
                    <span class="cate_name"><i></i>专家锦囊</span>
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
    <!--div class="classmore">
    </div-->
    <div class="video-name dn"></div>
    <!--<img src="/hx/theme1/img/video.jpg" alt="">-->
    <div class="mod_video" id="lvDivId">
        <div class="live-notice" id="nextCourse">
            <div class="cont">
                <div class="ntext">当前暂无直播，请关注下节课</div>
                <div class="nextbox">
                    <div class="tec_head">
                        <img src=""/>
                    </div>
                    <span class="t_name"></span>
                    <p class="live_name"></p>
                    <span class="live_time"><i></i><span>直播时间：<label class="time" style="margin-left:5px;"></label></span></span>
                </div>
            </div>
            <i class="botlogo"></i>
        </div>
        <div id="lvVideoId" style="height:100%;width:100%;"></div>
    </div>
    <div class="mod_video dn" id="tvDivId">
        <div id="tVideoId" style="width:100%;height: 100%;">
            <i class="img-loading" style="top: 50%;right: 50%;display:none;"></i>
        </div>
    </div>
</div>