<!-- 个人信息 -->
<section class="popupbox pop-person dn" id="personPop">
    <div class="cont">
        <div class="titlebar">
            <span>个人信息</span>
        </div>
        <div class="per_info">
            <ul>
                <li><span>昵称</span><img id="person_hp" src="/images/studio_mb/user1.png"><b id="person_nn"></b></li>
                <li><span>账号</span><b id="person_mb"><%= userSession.mobilePhone %></b></li>
            </ul>
        </div>
        <p class="per_p">金道直播间用户分为5级，根据用户注册情况选择升级，情况如下：</p>
        <table class="level-table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <th width="17%">级别</th>
                <th width="20%">说明</th>
                <th width="43%">权限</th>
                <th width="20%">操作</th>
            </tr>
        </table>
        <div class="sc_cont">
            <table id="upg_tbody_id" class="level-table" border="0" cellpadding="0" cellspacing="0" width="100%">
            </table>
        </div>
        <a href="javascript:void(0)" class="logoutbtn">注销</a>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<!-- 直播间登录 -->
<section class="popupbox pop-member dn" id="loginPop">
    <div class="cont">
        <div class="mtit t2">
            <div class="line"><i></i></div>
            <span>直播间登录</span>
            <div class="line"><i></i></div>
        </div>
        <span id="login_tip">您已经观看了3分钟，赶紧登录再继续观看吧</span>
        <div class="mform">
            <form method="post" id="loginForm">
                <input type="hidden" id="loginForm_csi" name="clientStoreId"/>
                <div class="inp">
                    <div class="inp_l">
                        <i class="phone"></i>
                        <input id="loginForm_mb" name="mobilePhone" type="tel" placeholder="手机号码">
                    </div>
                </div>
                <div class="inp bt clearfix">
                    <div class="inp_l">
                        <i class="mail"></i>
                        <input id="loginForm_vc" name="verifyCode" type="text" placeholder="短信验证码">
                    </div>
                    <div class="rbtn">
                        <input id="loginForm_vcb" type="button" value="获取验证码">
                    </div>
                    <span class="vc_tip">
                        如未收到验证码，请咨询<a onclick="openLive800Chat();_gaq.push(['_trackEvent', 'm_24k_studio', 'chat_live800', 'content_login', 1, true]);" href="javascript:void(0);">在线客服</a>
                    </span>
                </div>
                <div class="inp auto_login">
                    <input type="checkbox" id="loginForm_al" checked="checked">
                    <label for="loginForm_al">下次自动登录</label>
                </div>

                <div class="btnbar">
                    <input id="loginForm_sub" type="button" class="mbtn" value="登录">
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<!-- 直播间设置 -->
<section class="popupbox pop-member dn" id="setPop">
    <div class="cont">
        <div class="mtit t2">
            <div class="line"><i></i></div>
            <span>直播间设置</span>
            <div class="line"><i></i></div>
        </div>
        <div class="mform">
            <form method="post" id="setForm">
                <div class="inp">
                    <div class="inp_l">
                        <i class="user"></i>
                        <input id="setForm_nn" name="nickname" type="text" placeholder="直播间昵称">
                    </div>
                </div>
                <div class="btnbar">
                    <input id="setForm_sub" type="button" class="mbtn" value="确认">
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<!-- 升级成功 -->
<section class="popupbox pop-member dn" id="resultPop">
    <div class="cont">
        <div class="mform">
            <form method="get" id="resultForm">
                <div class="resultbox">
                    <i></i>
                    <p id="resultForm_msg">升级成功！重新登录后，您可享用更多直播间权限。</p>
                </div>
                <div class="btnbar">
                    <input id="resultForm_sub" type="button" class="mbtn" value="确认">
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>
<script type="text/javascript" src="/js/studio_webui/pop.min.js?t=<%=new Date().getTime()%>"></script>