body {
    background:#183056 url("../img/darkblue/background.jpg") no-repeat;
	background-size: 100% 100%;
}

.box-header {background-color:rgba(7,28,60,0.6);}
.header-right .toplink span {border-right:1px solid #34527e;}
.header-right .toplink.on {
    background: #b59030;
    color: #fff;
}
.header-right li:hover .toplink {
    color: #bbcfe5;
}
.header-right .user .toplink strong {
    color: #ffe39c;
}
.header-right .toplink .arr {
    border-color: transparent transparent #fff transparent;
}
.header-btn a {
	border:1px solid #608bb6;
	background-color:#608bb6;
    color: #fff;
}

.header-btn a:hover {
	color:#fff;
    background: #376b9e;
	border:1px solid #376b9e;
}
.left1_cont {
    border-left: 6px solid rgba(5, 15, 36, 0);
}
.mod_menu .dropitem > a {color: #bbcfe5;}
.header-btn .header-login{
    color: #fff;
    border: 1px solid #608bb6;
	transition:background 0.3s;
}
.header-btn .header-login:hover{
    background: #376b9e;
    color: #fff;
}
.mod_userlist .user-inftop{border-bottom:1px solid #334872;}
.mod_userlist li {
    border-bottom: 0px solid rgba(78,123,170,0.2);
}
.mod_userlist li .uname {
    color: #bbcfe5;
}
.user-inftop .toggle-room{
    color: #fff;
	border:1px solid #6382b6;
}
.user-inftop .toggle-room:hover{
	background-color:#bbcfe5;color:#fff;
	border:1px solid #bbcfe5;
}
.user-inftop{
    color: #fff;
}
.user-infbox dd{
    color: #bbcfe5;
}
.user-infbox h5{color:#bbcfe5;}
.input_area .sendbtn{background-color:#2d466f;}
.input_area .sendbtn:hover{background-color:#3e5b8b;}
.live-notice .ntext{color:#bbcfe5;}
.dialogbtn a:hover {color: #fff;background: #5db6e2;}
.dialogbtn a.d1:hover b {
    border-color: transparent transparent #5db6e2 transparent;
}
.header-right .info-name{background:none;}
.dialog.admin .uname,.dialog.analyst .uname,.dialog .uname{color:#fff;}
.mod_videolist .tabnav a{color:#bbcfe5;}
.mod_videolist .hangqing h5{color:#bbcfe5;}
.te_info .te_detail .rcont{color:#fff;}
.te_detail .support,.te_info .te_wx .wx-num{color:#bbcfe5;}
.sd_show .sd_tit span{color:#bbcfe5;}
.te_detail span i.suc,.sd_show .sd_tit .sdtime{color:#bbcfe5;}
.txt_dia{color:#3ca0fc;}
.dialog .dtime{color:#bbcfe5;}

/*background*/
.mod_menu{background-color:rgba(26,39,73,0.9);width:69px;}
.mod_userlist .cont,.user-information,.listcont,.mod_userlist .titbar,.tabnav{background-color:rgba(26,39,73,0.7);}
.tabcont{background-color:none}
.view_select .se_cont{background-color:rgba(111, 158, 204, 0.8);}
.view_select .selected{color:#fff;}
.mod_userlist .titbar,.mod_videolist .tabnav,.news li{border-bottom:1px solid #334872;color:#fff;}
.news li:hover{background-color:rgba(78,123,170,0.3);}
.mod_userlist .titbar span{color:#fff;}
.mod_userlist .titbar span i{color:#bbcfe5;}
.mod_userlist .titbar span.on,.mod_videolist .tabnav a.on{border-bottom:1px solid #446ba6;}
.mod_videolist .tabnav a{border-bottom:0;border-radius:3px 3px 0 0;}
.tabcont .main_tab{background-color:rgba(255,255,255,0);}
.mod_videolist .listcont .listcont {background:none;}
.mod_videolist .hangqing li{border-color:#214679;}
.news li em{background: url("../img/darkblue/time-bg.png") no-repeat;background-size: 100% 100%;color:#bbcfe5;}
.mod_menu .dropitem > a i{background:url("../img/darkblue/iconbox.png") no-repeat scroll -259px -34px;}
.input-toolbar a{background: url("../img/darkblue/iconbox.png") no-repeat -100px -34px;}

.input-toolbar a.inp-bar4{background: url("../img/darkblue/s.png") 1px 0 no-repeat;width:22px;border-radius:50%;animation:largesse-flash 1s linear infinite;}
@keyframes largesse-flash{
  0% {background-color:yellow; }
  50% {background-color:#f60; }
  100% {background-color:yellow; }
}

.input-toolbar a.inp-bar5{background: url("../img/darkblue/i.png") no-repeat;}
.dropitem.dr9 i.i9{background: url(../img/darkblue/left-icon.png) no-repeat;}
.user-inftop .toggle-room i{background: url("../img/darkblue/iconbox.png") no-repeat -229px -33px;}
.view_select i{ background: url("../img/darkblue/select.png") no-repeat;}
.mod_videolist .hangqing li:hover {
    background-color: rgba(78,123,170,0.3);
}
.mod_videolist .tabnav a:hover,.mod_userlist .titbar span:hover{
	background-color:rgba(78,123,170,0.5);
}
.mod_userlist li .uname:hover {
    background-color: rgba(78,123,170,0.2);
}
.sd_ul li .cont{background-color:rgba(78,123,170,0.8);}
.input_area .adiv{background:rgba(26,39,73,1);}
.input_area .ctextarea{color:#fff;}
.input_area .adiv p{color:#8d9db7;}
.input-toolbar a.inp-bar3{
    background:url("../img/darkblue/icon-i1.png") no-repeat;
}

/*晒单*/
.usersd_list .sdinfo_bar a{ color: #346aa5 }
.te_detail .support {background:url("../img/darkblue/icon_recommend.png") 0 0 no-repeat;}
.te_detail .support.supported {background-position: 0 -30px;color:#999;}
.nosd_tip p {color:#bbcfe5;}

.mCSB_dragger_bar{width:12px;background:url(../img/darkblue/scroll.png) center 50% no-repeat;}

/*用户晒单样式*/
.show-order-box{
    background-color: rgba(78,123,170,.8);
}
.my-inftop  .my-inftop-right p,
.show-order-box > p.orders-test,
.show-order-box > p.time,
.show-order-box a.support,
.show-order-box > h5, .show-order-box > h6{
    color: #bbcfe5;
}
.my-infbtn a{
    color: #bbcfe5;
    background: #375f9c;
}
.my-infbtn a.last{
    color: #bbcfe5;
    border: 1px solid #375f9c;
}
.my-infbtn a.last:hover{
    color: #bbcfe5;
    background: #375f9c;
}
.my-infbtn a:hover{
    color: #bbcfe5;
    background: #29589e;
}
.show-order-box a.support{
    background: url(../img/darkblue/icon_recommend.png) no-repeat;
}
.show-order-box > .orders-btn a.showMore{
    color: #bbcfe5;
    border-color: #bbcfe5;
}
.show-order-box > .orders-btn a.showMore:hover{
    color: #eee;
    border-color: #eee;
}
.show-order-box > h5{
    font-size: 15px;
    font-weight: bold;
    color: #222;
}
.show-order-box > h6{
    color: #333;
}
.show-order-box > p.time{
    color: #333;
}
.show-order-box > h6 a{
    color: #fff;
}
