/*images*/
.ligg_st .st i,.detail_ph .ph_cont .picbox i,.train_ad .actrulebtn i,.detail_ph .t_list li .arrow{ background-image:url(../img/icons.png); background-repeat:no-repeat; background-position: 0 0}

/*老师培训班*/
.train_detail .scrollbox{height: 460px;}
.train_detail .vol{ font-size: 14px;color: #464852; display: block;text-align: center;position: relative;top: -10px }
.train_detail .teacherbox .te_top{ border: 1px solid #e6eff5; border-left: 0; background: #f3f9fd; position: relative; border-radius: 190px; border-top-left-radius: 0; border-bottom-left-radius: 0; text-align: right; height: 180px; box-sizing: border-box; margin-left: 90px; padding-left: 130px; padding-top: 10px; text-align: left;}
.train_detail .te_top .info-l{ width: 38%;}
.train_detail .teacherbox .stateshow{  padding-top: 5px; width: 61%; float: right;  text-align: right; padding-right: 1%;}
.train_detail .stateshow .item{ width: 26%; text-align: center;}
.train_detail .stateshow b em{ font-size: 0.8em; font-style: normal; }

.train_detail .teacherbox .taglist{ margin: 0 0 10px}
.train_detail .te_top .himg{ width: 180px; height: 180px; border: 1px solid #cfdfeb; box-sizing: border-box; left: -90px; background: #f3f9fd }
.train_detail .info1{ border-bottom: 1px solid #e6eff5; padding-bottom: 15px; margin-right: 50px; }
.teacherbox .info1 .te_name{ font-size: 20px; line-height: 40px; }

.detailtop{ text-align: center; }
.detailtop .slogan{margin-top: 10px; margin-bottom: 20px;}
.detailcont{padding: 0 57px; font-size: 14px; color: #46484d; line-height: 24px;}
.detailcont .dtit{ font-size: 15px; font-weight: bold; padding-top: 12px; }
.detailcont p img{ padding-top: 5px; margin-right: 8px; }

.teacherbox .info1 .info-l { padding-top: 5px;}
.teacherbox .info1 .te_name{ font-size: 20px; line-height: 40px; }
.te_top .memo{  color: #5d5f66; font-size: 14px; line-height: 20px; padding: 10px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 10px; }
.te_top .memo span{  color: #2e3033;}
.te_top .memo span i{ display: inline-block;*display: inline;*zoom: 1; vertical-align: top; background: #3b96d5; width: 3px; height: 14px; margin-top: 3px; margin-right: 5px; }
.train_detail .teacherbox .taglist{ margin-top: 0; }
.detail_ph .ph_tit{ border-top: 1px solid #aec7de; margin-top: 55px; }
.ph_tit span{ display: inline-block;*display: inline;*zoom: 1; background: #fff; color: #3b96d5; font-size: 16px; line-height: 24px; position: relative; top: -13px; padding-right: 10px; }
.ph_tit span i{ display: inline-block; *display: inline; *zoom: 1; width: 3px; height: 16px; background: #3b96d5; vertical-align: top; margin-top: 4px; margin-right: 10px; }
.detail_ph .ph_cont{ font-size: 14px; line-height: 1.5; color: #5d5f66 }
.detail_ph .ph_cont p{ padding-left: 10px; }
.detail_ph .ph_cont p b{ color: #e55c62; font-size: 16px; }
.detail_ph .ph_cont p b.sz{ font-size: 18px; }
.ph_cont .imgdiv{ padding: 8px; border: 1px solid #dce0e3; margin: 5px 10px; border-radius: 4px; }
.ph_cont .imgdiv img{ width: 100%; height: auto; }
.train_detail .applybtn{ display: block; width: 200px; height: 40px; line-height: 40px; font-size: 18px; color: #fff; background: #3b96d5; font-weight: bold; margin:30px auto 40px; text-align: center; border-radius: 4px }
.train_detail .applybtn:hover{ background: #2587cb;text-decoration: none; }
.train_detail .train_ad { margin-bottom: 20px; display: block; background: url(../img/train_ad.jpg) center 0 no-repeat; height: 204px;}
.train_detail .train_ad .actrulebtn{display: inline-block;*display: inline;*zoom: 1; margin: 38px 0 0 330px; color: #ba2e36; font-size: 16px; line-height: 1.5; }
.train_ad .actrulebtn i{ display: inline-block;*display: inline;*zoom: 1; width: 6px; height: 12px; background-position: -100px -220px; margin: 3px 5px 0 0 }
.detail_tab td{ border-bottom: 1px solid #e1e5eb; padding: 15px 0; font-size: 14px; color: #5d5f66  }
.detail_tab th{padding: 15px 0; padding-left: 10px; text-align: left; font-weight: normal; border-bottom: 1px solid #e1e5eb; font-size: 14px; color: #5d5f66  ; vertical-align: top; line-height: 30px;}
.detail_tab .topic{ font-size: 20px;color: #46484d; font-weight: bold; }
.detail_tab .apply_info{ float: right; display: inline-block;*display: inline;*zoom: 1; vertical-align: top;  margin-top: -15px; }
.detail_tab .apply_info li{display: inline-block;*display: inline;*zoom: 1; vertical-align: top; }
.apply_info li b{ font-size: 18px; display: block; font-family: 'Arial','Microsoft YaHei'; }
.apply_info li.m{  color: #e55c62; border-left:1px solid #e1e5eb;border-right:1px solid #e1e5eb; padding: 0 28px; margin: 0 28px }
.detail_ph .t_list li{ position: relative; padding-left: 28px; line-height: 30px; }
.detail_ph .t_list.w2 li{ width: 35%; display: inline-block;*display: inline;*zoom: 1; }
.detail_ph .t_list li i{ position: absolute; display: block; width: 16px; height: 16px; line-height: 16px; font-size: 16px; font-family: 'Futura Bk BT','Arial'; color: #8b8f99; text-align: center; font-style: normal; left: 0; top: 50%; margin-top: -9px; border: 1px solid #babfcc; border-radius: 3px}
.detail_ph .t_list li .arrow{ display: inline-block;*display: inline;*zoom: 1; background-position: -110px -220px; width: 11px; height: 12px; margin: 5px 0 0 20px }

.popup_box .pop_tit.t2{ font-size: 30px; }
.popup_box .pop_tit.t2 span{ width: 12%; }
.train_detail .scrollbox.ligg{ height: 430px; }
.t_slogan{  text-align: center; position: relative; margin-bottom: 20px; }
.t_slogan span{display: inline-block;*display: inline;*zoom: 1; padding: 0 30px;  height: 30px; line-height: 30px; font-size: 16px; border-radius: 30px; border: 1px solid #e1e5eb}
.t_slogan .arr i{  display:block; position:absolute; width:0; height:0; left:50%; top:-11px; border-width:6px; border-color: transparent transparent #e1e5eb transparent ; border-style:solid; margin-left: -6px; z-index: 2}
.t_slogan .arr i.i2{top:-7px; border-width:4px; border-color: transparent transparent #fff transparent ; margin-left: -4px;}
.ligg_top{ padding-top: 30px; }
.ligg_top .rbox{ float: right; width: 65%; }
.ligg_top .lbox{ float: left; width: 32%; background: #f3f9fd; border:1px solid #e6eff5; border-radius: 4px; }
.ligg_top .lbox .himg{  border:1px solid #e6eff5; border-radius: 4px; width: 180px; height: 180px; box-sizing: border-box; margin: 30px auto 0; overflow: hidden; border-radius: 50% }
.ligg_top .lbox .himg img{}
.ligg_top .bcont{ padding: 0 10px }
.ligg_top .ligg_st{ border-bottom: 1px solid #e0e8ed; font-size: 0; text-align: center; padding: 20px 0 15px; }
.ligg_st .st{ display: inline-block;*display: inline;*zoom: 1; width: 49.9%; vertical-align: top; font-size: 12px; color: #a1a9b2; line-height: 24px; }
.ligg_st .st span{ color: #e55c62 }
.ligg_st .st b{ font-size: 16px; font-weight: normal;}
.ligg_st .st i{ display: inline-block;*display: inline;*zoom: 1; vertical-align: top;  width: 23px; height: 23px; margin-right: 5px; }
.ligg_st .st i.st1{ background-position: 0 -190px }
.ligg_st .st i.st2{ background-position: -140px -100px}
.ligg_zy{ font-size: 14px; line-height: 24px; color: #5d5f66; padding:15px 0  }
.ligg_zy span{ color: #2e3033 }
.ligg_top .applybtn{ width: 100%; margin: 0 auto 23px }
.ligg_intro{ font-size: 14px; color: #7a7c80; padding-bottom: 20px; }
.ligg_intro b{ font-size: 20px; color: #46484d; padding-right: 20px; }
.ligg_top .detail_ph .ph_tit{ margin-top: 35px; }
.ligg_top .detail_ph .ph_cont p b{ font-size: 1em; }
.detail_ph .ph_cont .picbox{ border: 1px solid #dce0e3; padding: 5px; border-radius: 4px; margin-top: 5px; margin-left: 10px; }
.detail_ph .ph_cont .picbox a{ display: block;position: relative; }
.detail_ph .ph_cont img{ width: 100%; height: auto; }
.detail_ph .ph_cont .picbox i{display: block; width: 17px;height: 17px; position: absolute; bottom: 5px; right: 5px; background-position: -60px -220px }
.ligg .kcname{ font-size: 20px; color: #46484d; line-height: 2; }
.ligg .kcbg{ position: relative; }
.ligg .kcbgpic{ width: 286px; height: 168px; background: url(../img/ligg_kcbg.jpg) 0 0 no-repeat; position: absolute; right: -27px; top: 20px; z-index: -1; }
.ligg .apply_info{ border: 1px solid #d7dde0; font-size: 0; text-align: center; margin-top: 15px; }
.ligg .apply_info .inbox{ position: relative; display: inline-block;*display: inline;*zoom: 1; width: 36%; vertical-align: top; font-size: 14px; color: #5d5f66; line-height: 1.6; height: 160px; background: #fff }
.ligg .apply_info .inbox.in1{ width: 25.99%; }
.ligg .apply_info .inbox.in2{ width: 38%; }
.ligg .apply_info .inbox i.arr{ position: absolute; width: 43px; height: 100%; padding:1px 0; background: url(../img/ligg_arr.png) center center no-repeat; top: -1px; right: 0; }
.apply_info .inbox .cont{ padding-left: 30px; text-align: left; padding-top: 15px; }
.apply_info .inbox p{ padding-left: 0; }
.apply_info .inbox p b{ color: #5d5f66; display: block; font-size: 18px; font-family: 'Arial'; }
.apply_info .inbox p.red{ padding-top: 10px; }
.apply_info .inbox p.red,.apply_info .inbox p.red b { color: #e55c62 }
.apply_info .inbox p.p2{ padding-top: 7px; }

.popup_box.train_rule{ margin-top: -300px; height: 600px; }
.popup_box.train_rule .cont{  padding: 40px 40px 0}
.train_rule .rulecont{ margin-bottom: 30px; }
.train_rule .scrollbox{ height: 480px; }
.train_rule h4{ color: #333; font-size: 16px; margin: 20px 0 10px}
.train_rule li{ color: #4c4c4c; font-size: 14px; line-height: 24px; }
.train_rule .eg{ color: #447baf }
.rulecont li b{ color: #e55c62; }

.detail_ph .indent_cont{ margin:0 10px; }
.medaltable{ margin-bottom: 20px; }
.medaltable th{ font-weight: normal; padding: 10px 0 20px; color: #5d5f66; font-size: 14px;}
.medaltable th span{ display: block; height: 14px; border: 1px solid #e6e6e6; border-top: 0; border-bottom: 0; }
.medaltable td{ border-left: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6; padding: 10px 0; text-align: center; vertical-align: middle; color: #333 ;font-size: 14px; }
.medaltable tr:last-child td{ border-bottom: 1px solid #e6e6e6; }
.medaltable tr td:first-child{ border-left:0 }
.medaltable .medal{ display: inline-block;*display: inline;*zoom: 1; width: 24px; height: 44px; background: url(../img/medal.png) center 0 no-repeat;vertical-align: middle; margin-right: 10px;}
.medaltable .medal.m2{ background-position: center -50px; }
.medaltable .medal.m3{ background-position: center -100px; }


