body{font:12px/1.4 'Microsoft YaHei';color:#333;background:#fff;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none}
body,p,ol,ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,pre,input,table,tr,td,form{margin:0;padding:0}
ol,ul,li{list-style:none}
input{border:0 none}
img{border:0 none}
.fl,.fd{float:left}
.fr,.fdr{float:right}
.vcen{vertical-align:middle}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
a:active{noOutline:expression(this.onFocus=this.blur())}
.red{color:#C8310C}
.blue{color:#0082D5}
:focus{outline:0}
.hide-t{line-height:9999px;overflow:hidden}
.hide_txt{ text-indent:-9999px; height:0; line-height:0; overflow:hidden; }
.clearfix{zoom:1}
.clearfix:after{clear:both;content:"";display:block;height:0;visibility:hidden}
.w960{position:relative;margin:0 auto;width:960px}
.w1190{position:relative;margin:0 auto;width:1190px}
.m15p{margin-top:15px}
.m20p{margin-top:20px}
.m25p{margin-top:25px}
.dn{display:none}
.p0-non{font-size:0;height:0;overflow:hidden}

/* CSS Document */
body{ background:url(../../images/studio_admin/bg.jpg) center 0 no-repeat;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun'; }
.hide-t { font-size:0; line-height:0;}
.none-block{ width:100%; height:60px;}
.title {
    height: 47px;
    padding-left: 5px;
    font-weight: normal;
    line-height: 47px;
    border-bottom: 1px solid #dbdbdb;
    color: #a17d20;
    font-size: 14pt;
    background: #f6f6f6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.jscroll-h,.jscroll-e { border-radius:4px}

/*images*/
.visitorDiv li .ym,.wh_msg_ftip,.pletter_hint .pl_close,.header-right a i,.pro_notice .pro_btn span,.sro_notice li i,.tab_list li,.te_list .te_btn i,.te_list .jt_btn span,.te_ctrl a i,.view_select i,.dialog i,.mymsg .closebtn,.toolbar .tbtn,.facebtn,.send_select i,.input_area .sendbtn i,.popup_box .pop_close,.resultbar i,.in_line .level i,.in_line .in_rbtn .qu_btn,.video_room a .s2 i ,.hztip i,.videolist_box li i,.tab_list.download li a,.tab_list li a.listmore,.te_list .te_btn b,.dialogbtn a b,.dialog.analyst .headimg b,.wh-left .visitorDiv ul li .close { background-image:url(../../images/studio_admin/img_css.png); background-repeat:no-repeat;}
.img-loading{position:absolute;bottom:0;display:block;width:25px;height:25px;border-radius:4px;background:url(../../images/loading2.gif) no-repeat center;background-size:40px 40px;z-index:9}
/*header*/
.box-header{width:100%;min-width:1024px;background:#fff; height:50px;}
.box-header-in{width:auto;min-width:1024px;margin:0 auto;overflow:hidden;height:50px}
.box-header h1{margin-top:11px; padding-left:23px; background:url(../../images/studio_admin/logotit.png) 23px 0 no-repeat; height:29px;width:376px}
.header-logo{display:block;float:left;width:187px;height:29px}
.header-right a{ display:block; padding:0 20px; border-left:1px solid #dde2e4; float:left; height:50px; line-height:50px; color:#4e4e4e; font-size:12pt; text-align:center;}
.header-right a.on{ background:#b59030; color:#fff; text-decoration:none}
.header-right a:hover{ background:#f2f2f2;text-decoration:none; color:#b59030}
.header-right a i{ display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:22px; height:20px; margin-right:10px; margin-top:15px;*vertical-align:middle; *margin-top:0;}
.header-right a i.real{ background-position:0 0 ; }
.header-right a i.mn{ background-position:-30px 0 }
.header-right a i.kf{ background-position:-60px 0 }
.header-right a:hover i.real{ background-position:0 -30px ; }
.header-right a:hover i.mn{ background-position:-30px -30px }
.header-right a:hover i.kf{ background-position:-60px -30px }
.header-right a.login,.header-right a.username{ color:#af9251}
.header-right a.logout { color:#479fcc}

/*grid*/
.wrapper{ padding:5px; width:auto; min-width:1024px;}
.left_row{ /*width:58%;*/ width:230px; float:left;}
.right_row{/*margin-left: 58%;*/ margin-left:235px; width:auto; background:none; position:relative}
.left1{ width:208px; float:left}
.left2{width:230px; margin-right:5px}

.wid1 .left_row{ width:230px;}
.wid1 .right_row{ margin-left:235px;}
.wid2 .left_row{ width:230px;}
.wid2 .right_row{ margin-left:235px;}
.wid3 .left_row{ width:230px;}
.wid3 .right_row{ margin-left:235px;}
.wid4 .left_row{ width:230px;}
.wid4 .right_row{ margin-left:235px;}

/*left1*/
.video_ctr{ margin-bottom:5px;}
.video_ctr a{ display:block; width:66px; height:38px; padding-top:40px; background-image:url(../../images/studio_admin/videobtn.png); text-align:center; float:left; margin-right:5px; line-height:22px; font-size:10pt; color:#fff; text-decoration:none}
.video_ctr a.b1{ background-position:0 0 }
.video_ctr a.b2{ background-position:-70px 0 }
.video_ctr a.b3{ background-position:-140px 0; margin-right:0}
.video_ctr a.b1:hover,.video_ctr a.b1.on{ background-position:0 -80px }
.video_ctr a.b2:hover,.video_ctr a.b2.on{ background-position:-70px -80px }
.video_ctr a.b3:hover,.video_ctr a.b3.on{ background-position:-140px -80px }

.mod_left1{ background:rgba(246,246,246,0.9); border-radius:2px; padding-bottom:5px;}

.mod_videolist { margin-bottom:5px}
.videolist_box ul{ padding: 0 10px;}
.videolist_box li{ height:34px; border-bottom:1px dotted #d6d6d6;line-height:34px; font-size:11pt; color:#4e4e4e;}
.videolist_box li span { padding-right:10px;}
.videolist_box{ margin-top:5px;margin-right:10px; height:180px; overflow-y: scroll;overflow-x: hidden;}

.mod_userlist {}
.user_box{ margin-top:5px;height:445px; overflow-y:auto;}
.user_box ul{ padding-right:10px;padding-bottom:28px;}
.user_box li{ height:37px; position:relative; z-index:10; margin-bottom:1px;width:100%;}
.user_box li.zin { z-index:10000}
.user_box li .uname{ display:block; height:33px;line-height:33px; font-size:11pt; color:#4e4e4e;padding:2px 0 2px 10px;text-decoration:none;}
.user_box li .headimg{ display:block; width:33px; height:33px; float:left; margin-right:8px; border-radius:3px;}
.user_box li .uname:hover { background:#cfd1d2}
.user_box li .uname.ume { background:#cfd1d2}
.user_box .dialogbtn{ left:7px; top:33px; z-index:100000}
.user_box li .headimg img{width:33px;height:33px;}
.user_box li .uname .nk-lb{  width: 150px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.user_box .mb-cls{color: #E91E63;font-style: normal;font-size: 9pt;display: block;height: 16px;width: 46px;position: absolute;right: 4px;top: 1px;}
/*left2*/
.mod_left2{ }
.mod_video{ background:rgba(246,246,246,0.1);text-align:center; vertical-align:middle; height:504px; margin-bottom:5px; overflow:hidden;}
.mod_video img{ width:100%; height:auto; }
.mod_notice{background:rgba(246,246,246,0.1); border-radius:2px; padding:0 10px; height:63px; margin-bottom:5px }
.pro_notice{ border-bottom:1px solid #3e4d5b; padding:0 22px; position:relative;overflow:hidden;}
.pro_notice li{ height:31px; float:left; width:100%}
.pro_notice .pro_info{ text-align:center; width:50%; float:left; height:19px; padding:6px 0}
.pro_info .bor { border-right:1px solid #455060}
.pro_info span { display:inline-block; *display:inline; *zoom:1; text-align:center; margin:0 5px;color:#fff; line-height:19px; font-size:10pt;}
.pro_info .pro_name{ width:70px;}
.pro_info .pro_name strong{ display:inline-block; *display:inline; *zoom:1; padding:0 6px; width:auto; height:19px; border-radius:2px; font-weight:normal  }
.pro_info .pro_name.n1 strong{ background:#a59155}
.pro_info .pro_name.n2 strong{ background:#949494}
.pro_info .pro_name.n3 strong{ background:#3775aa}
.pro_info .pro_name.n4 strong{ background:#704b32}
.pro_info .pro_n.red{color:#f05366;}
.pro_info .pro_n.green{color:#5de36d;}
.pro_notice .pro_btn{ display:block; position:absolute; width:11px; height:31px; top:0; }
.pro_notice .pro_btn span { display:block; width:11px; height:12px; margin-top:9px;}
.pro_btn.pro_prev {padding-left:11px; left:0}
.pro_btn.pro_next {padding-right:11px; right:0}
.pro_btn.pro_prev span{ background-position:0 -60px;}
.pro_btn.pro_next span{ background-position:-15px -60px;}
.pro_btn.pro_prev:hover span{ background-position:0 -90px;}
.pro_btn.pro_next:hover span{ background-position:-15px -90px;}
.sro_notice{ height:31px; overflow:hidden;}
.sro_notice li{ position:relative; height:31px;color:#fff; line-height:30px; font-size:10pt; padding-left:34px; position:relative}
.sro_notice li i{ display:block ; width:15px; height:15px; background-position:0 -140px; position:absolute; left:9px; top:8px;}
.sro_notice li span { display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.mod_tab { background:rgba(219,219,219,0.9); border-radius:2px; height:252px;}
.mod_tab .tab_nav{ width:100%;}
.tab_nav a{ width:20%; float:left; display:block; height:52px;color:#757575; line-height:52px; font-size:12pt; text-align:center; text-decoration:none}
.tab_nav a.on{ color:#a17d20; background:#f6f6f6}
.tab_nav a.fir{ border-top-left-radius:2px;}
.tab_nav a.last{ border-top-right-radius:2px;}
.mod_tab .tabcont { height:200px; padding-top:52px;}
.mod_tab .tab_box{background:#f6f6f6; height:200px; display:none; overflow:hidden;  border-bottom-left-radius: 2px;  border-bottom-right-radius: 2px;}
.mod_tab .tab_box.on{ display:block;}
.mod_tab .notice_cont{ padding:15px 40px 0;color:#4e4e4e; line-height:22pt; font-size:11pt;}
.tab_box .tab_list{ padding:13px 30px 0 30px; padding-top:13px;}
.tab_list li{ line-height:22pt; font-size:11pt; padding-left:24px; background-position:-110px -339px; }
.tab_list li a{color:#4e4e4e; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block}
.tab_list li a:hover { text-decoration:none; color:#a17d20}
.tab_list li .ndate { padding-right:10px;}
.tab_list li .wday { padding-right:30px;}
.tab_list li .atime { padding-right:30px;}
.tab_list li .ndate { padding-right:10px;}
.tab_list.arrange{ padding:13px 14px 0}
.tab_list.arrange li { height:34px; line-height:34px; border-bottom:2px dotted #e8e7e7; background-position:-94px -337px; padding-left:40px}
.tab_list.arrange li.last { border-bottom:0}
.tab_list.download{ padding:3px 14px 0}
.tab_list.download li { height:27px; line-height:27px; padding:10px 0 10px 40px; color:#4e4e4e; border-bottom:2px dotted #e8e7e7; background-position:-94px -330px;}
.tab_list.download li a { width:50px; height:24px; background:#b59030; float:left; border-bottom:3px solid #937427; border-radius:2px; line-height:27px; color:#fff; text-align:center;}
.tab_list.download li span{ display:block; width:41%; float:left;}

/*chat*/
.chat{  background:rgba(240,240,240,0.3);  border-radius:2px; padding:5px 10px 0; position: relative;}
.pletter_hint{
    position: absolute;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    background: #F7F7F7;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    font-size: 13px;
    outline: 0;
    left: 220px;
    color: #F11A0A;
    padding: 3px;
    line-height: 20px;
}
.wh_msg_ftip{
    float: right;
    display: block;
    margin: 8px 15px 0px 0px;
    width: 40px;
    height: 30px;
    background-position: -60px 3px;
    line-height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-left: 18px;
    text-align: center;
    color: #4e4e4e;
    line-height: 25px;
    font-size: 11pt;
    text-decoration: none;
}
.have{background-position: -60px -27px;}
.have_op{opacity:0.5;filter:alpha(opacity=50);}
.user_box .have_op img{border:2px solid #FF0000;}
.num{  font-size:12px; color:#fff; line-height:14px; text-align:center; font-style:normal; background-position:-70px -150px; z-index:1 }
/*咨询对象*/
.te_list { padding:0 28px 0 28px; position:relative; margin-bottom:5px; height:53px; overflow:hidden}
.te_list ul{ }
.te_list li{ width:25%; float:left;}
.te_list .te_btn{ margin-right:4px; position:relative; overflow:hidden; display:block; background:#f6f6f6; padding-left:13px; text-align:center; height:50px; border-radius:2px; border-top:3px solid #c7c5c6;}
.te_list .te_btn:hover{ text-decoration:none; cursor:pointer}
.te_list .te_btn span { display:inline-block; *display:inline; *zoom:1; text-align:left; width:auto; vertical-align:top; height:45px; padding-top:5px; color:#393939; font-size:10pt; line-height:20px;}
.te_list .te_btn strong {color:#4e4e4e; font-size:12pt; line-height:20px;}
.te_list .te_btn i{ display:block; position:absolute; left:8px; top:4px; background-position:-8px -236px; width:5px; height:41px;}
.te_list .te_btn:hover i,.te_list .te_btn.on i{ background-position:-115px -236px; }
.te_list .jt_btn{ display:block; height:53px; width:22px; position:absolute; top:0; background:rgba(255,255,255,0.1); border-radius:2px}
.te_list .jt_btn:hover { background:rgba(255,255,255,0.2)}
.te_list .jt_btn span { display:block; width:12px; height:19px; margin-left:5px; margin-top:17px;}
.te_list .jt_btn.te_prev{ left:0}
.te_list .jt_btn.te_next{ right:0}
.te_list .jt_btn.te_prev span,.te_list .jt_btn.te_prev.prevStop:hover span{ background-position:-30px -60px}
.te_list .jt_btn.te_next span,.te_list .jt_btn.te_next.nextStop:hover span{ background-position:-50px -60px}
.te_list .jt_btn.te_prev:hover span{ background-position:-30px -90px}
.te_list .jt_btn.te_next:hover span{ background-position:-50px -90px}
.te_list .jt_btn.prevStop:hover,.te_list .jt_btn.nextStop:hover {background:rgba(255,255,255,0.1)}

/*按钮*/
.line_bar{ height:27px; padding-bottom:5px}
.te_ctrl { float:left;}
.te_ctrl a{ display:none; width:98px; padding-left:44px; height:27px; border-radius:2px; background:rgba(0,0,0,.2); position:relative;color:#82878f; font-size:10pt; line-height:27px; text-decoration:none;}
.te_ctrl a.show { display:block}
.te_ctrl a:hover { background:rgba(0,0,0,.4); color:#979ba0 }
.te_ctrl a i { display:block; width:30px; height:27px; position:absolute; left:7px; top:0}
.te_ctrl a.show_btn i{ background-position:-90px 0}
.te_ctrl a.show_btn:hover i{ background-position:-90px -30px}
.te_ctrl a.hide_btn i{ background-position:-90px -60px}
.te_ctrl a.hide_btn:hover i{ background-position:-90px -90px}
.view_select{ width:145px;float:right; height:27px; position:relative; z-index:100000}
.view_select.dw {}
.view_select i { display:block; position:absolute; right:11px; top:9px; background-position:0 -170px; width:14px; height:9px;}
.view_select.dw i{background-position:0 -190px; }
.view_select .se_cont{  width:145px; height:27px; overflow:hidden;background:rgba(0,0,0,.2); border-radius:2px; position:absolute; left:0; top:0}
.view_select.dw .se_cont{ height:auto;background:rgba(0,0,0,.4);}
.view_select .se_cont a{ display:block;padding-left:10px; color:#898d94; line-height:27px; font-size:10pt; text-decoration:none}
.view_select .selected{ line-height:27px; font-size:10pt; height:27px; color:#898d94;padding-left:10px; }
.view_select .selectlist{ display:none;}
.view_select.dw .selected{color:#fff;}
.view_select.dw .selectlist{display:block;}
.view_select.dw .se_cont a.on{ background:#343b49;color:#fff;  }
.view_select .se_cont a:hover { background:#343b49; color:#fff; }
/*聊天内容*/
.chat_content{ margin-top:5px; }
.chat_content .scrollbox2{ padding-right:10px;height:480px;overflow-y: scroll;overflow-x: hidden;}
.chat .newMsgTipBtn{cursor: pointer;float: right;z-index: 100000;margin-right: 10px;color: blue;width: 40px;height: 20px;background-color: #F5F8F9;padding: 5px;border-radius: 3px;font-size: 13px;}
.wh-left{background-color: #FBFBFB;width: 25%;height: 532px;border: 1px solid #9E9B9B;float: left;border-radius: 2px;margin: 5px 0px 5px 5px;}
.wh-left .searchDiv input{text-indent: 5px;width: 150px;height:22px;border: 1px solid #9E9B9B;}
.wh-left .searchDiv em{position: absolute;left: 136px;top: 37px;width: 23px;height: 22px;background-image: url("../../images/studio_admin/search.png")}
.wh-left .searchDiv .searchResult {overflow-y:auto;max-height:350px;display: none;padding: 2px;position: absolute;z-index: 999999;background-color: white;border-left: 1px solid #BDBBBB;border-bottom: 1px solid #BDBBBB;border-right: 1px solid #BDBBBB;  width: 144px;}
.searchResult ul li{cursor: pointer;height: 25px;height: 25px;border-radius: 2px;margin: 2px 0px;}
.searchResult ul li:hover{background-color: #DEE4E1;}
.searchResult ul li label{padding:0px 5px}
.wh-left .visitorDiv{overflow-y:auto;padding: 5px;max-height:480px;width: 160px;}
.wh-left .searchDiv{padding: 5px;}
.wh-left .visitorDiv ul li{width: 145px;height: 35px;background-color: #fff;border: 1px solid #BDBBBB;margin: 8px 0px;border-radius: 3px;}
.wh-left .visitorDiv ul .on,.wh-left .visitorDiv ul li:hover{background-color: #E4E6E3;}
.wh-left .visitorDiv ul .user-row{text-align:left ;line-height: 28px;float: left;width: 145px;height: 28px;cursor: pointer;}
.wh-left .visitorDiv ul .user-row label{
    text-align: left;
    cursor: pointer;
    padding: 0px 0px 0px 5px;
    width: 110px;
    line-height: 28px;
    height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;}
.wh-left .visitorDiv ul li .close{
    display:block;
    margin: 2px 4px;
    cursor: pointer;
    float: right;
    width: 16px;
    height: 16px;
    line-height: 16px;
    z-index:2;
    font-style: normal;
    text-align: center;
}
.wh-left .visitorDiv ul li .ym{background-position:-70px -150px;color:#fff;}
.wh-left .visitorDiv ul li:hover .close{
    background-position: -70px -60px;
    text-indent: -99999px;
}
.wh-left .visitorDiv ul li .wrtip{
    display: block;
    float: right;
    margin-top: -22px;
    font-style: normal;
    text-align: center;
    color:#59595A;
}
.wh-box .ctextarea:empty:before{content:attr(data-placeholder);color:#aaa;line-height:42px;}
.wh-box .ctextarea:focus:before{content:none;}

.searchResult ul .off,.visitorDiv ul .off{opacity: 0.6;}
.wh-right{float: right;border: 1px solid #9E9B9B;border-radius: 2px;margin: 5px 5px 5px 0px;width: 72%;height:532px;}
.wh-right .wh-tab-msg{height: 430px;}
.wh-tab-msg .wh-title{border-radius: 2px;border-bottom: 1px solid #BDBBBB;padding: 1px;}
.wh-tab-msg .wh-title label{font-weight: bolder;font-size: 15px;}
.wh-tab-msg .wh-title .title-tip{float:right;color:#FF0000}
.wh-content{padding: 8px;height: 420px;background-color: #e3e4ea;}
.wh-right .dialog{padding: 0px;margin-bottom: 3px;}
.wh-right .dialog p{
    background:none;
    padding: 5px 5px;
    color: #1D1C1C;
    line-height: 15pt;
}
.wh-right .dialog .dcont{
    padding: 2px;
    text-align: left;

}
.wh-right .dialog .wh-dia-title{
     display: block;
 }
.wh-right .dialog.mine .wh-dia-title{
    text-align: right;
}
.wh-right .dialog .wh-dia-title .wh-nk{
    margin-right: 10px;
    color: #0E1CF3;
    font-size: 10px;}
.wh-right .dialog.mine p{text-align: right;float: right;margin-right: 8px;}
.wh-right .dialog.mine .wh-nk{ color: #0E1CF3;  margin: 0 10px;}
.wh-right .dialog.mine p .dcont{padding: 2px;}
.wh-right .dialog .dtime{ padding-left:0;font-size: 10px;}
.wh-right .mCSB_inside>.mCSB_container{
    margin-right: 10px;
}
.wh-right .mCS_no_scrollbar .mCSB_container{
    margin-right: 5px;
}
.mCSB_container{padding-bottom:28px;}

.whblt{
    color: #1D1C1C;
    line-height: 15pt;
    border-radius: 2px;
    padding: 5px 9px;
    font-size: 11pt;
    display:inline-block;
    margin-top: 2px;
}

.wh-right .dialog.mine .whblt p{
    padding:0px;
    border:none;
    display: block;
    text-align: left;
    white-space: normal;
    word-break: break-all;
    overflow: auto;
}
.wh-content .shadow-box{position:absolute;left:2px;top:2px;width:100%;max-width:150px;background:#000;opacity:0.4;z-index:9}
.wh-content .shadow-conut{position:absolute;left:2px;top:50%;margin-top:-12px;width:100%;max-width:150px;display:block;text-align:center;font:25px arial;color:#fff;text-shadow:0 2px 0 #000;z-index:10;text-decoration:none}
.wh-content .dialog .img-loading {
    bottom: 0;
    width: 23px;
    height: 23px;
    z-index: 9;
    left: -22px;
    bottom: 10px;
}
.wh-tab-msg .wh-txt{height:30px;}
.window-content{background-color: #EAECEF;}
.wh-txt .toolbar{height: 22px;padding: 0px 3px 3px; position: relative;}
.wh-tab-msg .wh-txt .toolbar .facebtn {
    display: block;
    float: left;
    width: 23px;
    height: 23px;
    margin-top: 2px;
    text-indent: -9999px;
    background-position: -30px -120px;
}
.wh-tab-msg .wh-txt .ctextarea {
    border: 1px solid #d6d6d6;
    background: #fff;
    height: 42px;
    resize: none;
    width: 99%;
    padding: 0;
    margin: 2px;
    color: #4e4e4e;
    font-size: 11pt;
    overflow-y: auto;
    overflow-x: hidden;
}
.send-wh-img{
    cursor:pointer;
    display: inline-block;
    margin: 3px 20px;
    background: url(../../images/studio_admin/send_img.jpg) no-repeat center;
    width: 28px;
    height: 23px;
    background-size: 30px 28px;
}

.txt_dia {color:#0BA1EC;margin-right:5px;}
.dialoglist .txt_dia{cursor: pointer;}
.ui-front{z-index:1500000}
.ui-autocomplete {
    max-height:500px;
    max-width:120px;
    overflow-y: auto;
    overflow-x: hidden;
}
#swipebox-overlay{z-index: 999999!important;}
.dialog{ height:auto; position:relative; padding:0 53px; margin-bottom:8px; /*float:left;*/ width:auto; clear:both;}
.dialog.mine{ float:right;}
.dialog p { background:#fff; border-radius:2px; display:inline-block; *display:inline; *zoom:1;padding:5px 9px; color:#777; line-height:18pt; font-size:11pt;}
.dialog.analyst p{ background:#fff7e2;}
.dialog.admin p{ background:#474b51;color:#d7d7d7}
.dialog .dtime { color:#afafaf; padding-left:8px;}
.dialog .approve {padding-left:18px;}
.dialog .approve button{color:#3a3a3a; margin-left:5px;}
.dialog .uname { color:#3a3a3a;}
.dialog.admin .uname { color:#edbb38}
.dialog.analyst .uname { color:#3181c6}
.dialog .uname:hover{ text-decoration:none}
.dialog .dcont{  white-space: normal;word-break: break-all; overflow:auto; display:block;}
.dialog .dcont em.ruleTipStyle{color:#ff0000;font-size:12px;margin-left:5px;}
.dialog .to{ padding-left:5px}
.dialog .toname { padding-left:5px; font-weight:normal}
.dialog .headimg{ display:block; width:33px; height:auto; position:absolute; left:0; top:0; }
.dialog .headimg img{ display:block; width:33px; height:auto; border-radius:3px; vertical-align:bottom}
.dialog.mine .headimg{ left:auto; right:0}
.dialog.analyst .headimg{ height:46px;}
.dialog.analyst .headimg img{ border-bottom-left-radius:0; border-bottom-right-radius:0}
.dialog.analyst .headimg b { background-position:-30px -250px; display:block; width:33px; height:13px;}
.dialog i{ display:block;position:absolute; left:46px; top:10px; width:7px; height:9px; background-position:-30px -170px;}
.dialog.mine i{ background-position:-40px -170px; left:auto; right:46px;}
.dialog.analyst i{ background-position:-30px -180px;}
.dialog.mine.analyst i{ background-position:-50px -150px;}
.dialog.admin i{ background-position:-40px -180px;}
.dialog.mine.admin i{ background-position:-60px -150px;}
.chat_input{ width:100%;bottom:0; z-index:100001}
.mymsg{ height:auto; position:relative; padding:5px 0; background:rgba(246,246,246,.5);  }
.mymsg p{ padding:0 44px 0 80px;color:#4e4e4e; line-height:27px; font-size:11pt;}
.mymsg .sender{ padding-right:8px}
.mymsg .replybtn{ position:absolute; top:5px; left:10px; display:block; height:27px; width:50px; background:#f6f6f6; border-radius:2px; text-align:center;color:#4e4e4e; line-height:27px; font-size:11pt;}
.mymsg .replybtn:hover { background:#d8d8d8; text-decoration:none}
.mymsg .closebtn{ position:absolute; top:11px; right:20px; display:block; height:14px; width:14px; background-position:0 -120px; text-indent:-9999px}
.input_box{ background:#f6f6f6;  border-bottom-left-radius: 2px;  border-bottom-right-radius: 2px;}
.input_box .toolbar{ height:27px; padding:6px 10px 5px; position: relative;}
.toolbar .facebtn{ display:block; float:left; width:23px; height:23px; margin-top:2px; text-indent:-9999px; background-position:-30px -120px}
.toolbar .tbtn{ display:block; float:left; width:47px; height:25px; margin-left:10px; border:1px solid #e0e0e0; border-radius:2px; padding-left:23px; text-align:center;color:#4e4e4e; line-height:25px; font-size:11pt; text-decoration:none}
.toolbar .tbtn:hover { background-color:#fff;}
.toolbar .tbtn.clearbtn{ background-position:-95px -170px}
.toolbar .tbtn.approveall{display: none;width: auto; background-image: none; cursor: default; padding: 0 10px 0 10px;}
.toolbar .tbtn.approveall button{color: #4e4e4e; font-size: 11pt;}
.toolbar .tbtn.scrollbtn{ background-position:-95px -120px}
.toolbar .tbtn.scrollbtn.on{ background-position:-95px -145px}
.facebox{ position:absolute; bottom:43px; left:0; z-index:101; background:#fff; border-radius:3px; padding:5px}
.facebox .arr{display:block; position:absolute; width:0; height:0; left:14px; bottom:-12px; border-width:8px; border-color: #fff transparent transparent transparent; border-style:solid; z-index:101}
.wh-txt .facebox{ bottom:30px;}
.wh-txt .facebox .arr{left:7px;}

.send_select{ width:145px;float:right; height:27px; position:relative; z-index:100000}
.send_select i { display:block; position:absolute; right:11px; top:9px; background-position:0 -210px; width:14px; height:9px;}
.send_select .se_cont{  width:145px; height:25px; overflow:hidden; border:1px solid #e0e0e0; border-radius:2px; position:absolute; left:0; top:0}
.send_select.dw .se_cont{ height:auto;background:#fff;}
.send_select .se_cont a{ display:block;padding-left:10px; color:#4e4e4e; line-height:25px; font-size:10pt; text-decoration:none}
.send_select.dw .se_cont a.on {background:#f0f0f0;}
.send_select .se_cont a:hover { background:#f0f0f0; }
.send_select .selected{ line-height:25px; font-size:10pt; height:25px; color:#4e4e4e;padding-left:10px; }
.send_select .selectlist{ display:none; height:75px; overflow-y: scroll; overflow-x: hidden;}
.send_select.dw .selectlist{display:block;}

.input_area{ padding:0 10px 10px;}
.input_area .adiv{ margin-right:102px; width:auto;background:#e7e7e7;overflow:hidden}
.input_area .ctextarea{ border:1px solid #d6d6d6; background:#e7e7e7; height:48px; resize:none; width:100%; padding:0; margin:0;color:#4e4e4e; line-height:25px; font-size:11pt;}
.input_area .sendbtn{ float:right; width:97px; height:60px; border-bottom:3px solid #937427;border-radius:2px; background:#b59030;margin-top:-63px;*margin-top:-64px display:block; text-align:center;}
.input_area .sendbtn span { vertical-align:top; display:inline-block; *display:inline; *zoom:1;color:#fff; line-height:50px; font-size:12pt; }
.input_area .sendbtn i { vertical-align:top; display:inline-block; *display:inline; *zoom:1; background-position:-96px -290px; height:47px; width:23px; margin-right:12px}

/*对话按钮*/
.dialogbtn {border-radius: 3px; position:absolute; left:0; top:53px; width:70px;/* height:56px;*/ z-index:100000; border:1px solid #b5b5b5; background:#fff; padding:1px; box-shadow:0 0 3px rgba(12,3,5,.3)}
.dialogbtn a{ display:block; height:28px; text-align:left; padding:0 4px; line-height:29px; color:#4e4e4e; font-size:11pt; text-decoration:none; position:relative;}
.dialogbtn a b{ display:block; width:17px; height:28px; position:absolute; left:18px; top:0;background-position:-50px -325px;}
.dialogbtn a.d2 b{background-position:-50px -355px; }
.dialogbtn a span {display:block; padding-left:10px;}
.dialogbtn a.d1 span { border-bottom:1px solid #dbdbdb;}
.dialogbtn a:hover {color:#fff; background:#b59030}
.dialogbtn a.d1:hover span { border:0}
.dialogbtn a:hover b{background-position:-70px -325px; }
.dialogbtn a.d2:hover b{background-position:-70px -355px; }

/*弹出框*/
.blackbg{ background:rgba(0,0,0,.6); width:100%; height:100%; position:fixed; top:0; left:0; z-index:100002}
.popup_box{ position:absolute; top:50%; margin-top:-200px; left:50%; height:auto; width:630px; margin-left:-315px; background:url(../../images/studio_admin/popbg.jpg) center top no-repeat; border-radius:2px;font-family:'SimSun';}
.popup_box .tit { text-indent:-9999px; font-size:0; height:60px; padding-top:21px; background:#fff;border-top-left-radius:2px;border-top-right-radius:2px}
.popup_box .tit b{ height:60px; display:block; width:100%; background-image:url(../../images/studio_admin/poptit.jpg); background-repeat:no-repeat;}
.popup_box .tit.t1 b{ background-position:center 0}
.popup_box .tit.t2 b{ background-position:center -60px}
.popup_box .tit.t3 b{ background-position:center -120px}
.popup_box .tit.t4 b{ background-position:center -180px}
.popup_box .tit.t5 b{ background-position:center -240px}
.popup_box .tit.t6 b{ background-position:center -300px}
.popup_box .tit.t7 b{ background-position:center -360px}
.popup_box .tit.t8 b{ background-position:center -420px}
.popup_box .cont { position:relative;background:url(../../images/studio_admin/shadow.png) repeat-x 0 0; padding-top:30px; padding-bottom:30px;}
.popup_box .cont.re_cont { padding:40px 0 50px}
.popup_box .cont.pdb50{ padding-bottom:50px}
.popup_box .pop_close{ position:absolute; display:block; width:14px; height:14px; background-position:-30px -150px; right:20px; top:-60px; text-indent:-99999px; line-height:0 }
.formcont{ width:301px; margin:0 auto}
.formcont.formcont2{ width:359px;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun';}
.formcont .in_line { margin-bottom:10px; height:40px; position:relative}
.formcont.formcont2 .in_line{ border:1px solid #dde2e4;height:38px; background:#fff;}
.in_line .in1{ border:1px solid #dde2e4; height:38px; padding-left:9px; width:290px; color:#b4b4b4; font-size:12pt; line-height:38px;}
.in_line .in1.in2{width:160px; float:left}
.in_line .in1.in3{width:227px; float:right; text-align:center; padding-left:0}
.in_line .in_value{ border:0; height:38px;  color:#727272; font-size:12pt; line-height:38px; width:144px; padding-left:10px; float:left;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun';}
.in_line .level{height:38px;  color:#727272; font-size:12pt; line-height:39px; width:100px; padding-left:50px; float:left; position:relative;}
.in_line .level i{ display:block; width:28px; height:28px; position:absolute; left:10px; top:5px;}
.in_line .level.l1 i{ background-position:0 -290px;}
.in_line .level.l2 i{ background-position:-30px -290px;}
.in_line .level.l3 i{ background-position:-60px -290px;}
.in_line .level.l4 i{ background-position:0 -320px;}
.in_line .level.l5 i{ background-position:-30px -320px;}
.in_line .level.l6 i{ background-position:-60px -320px;}
.in_line .level.l7 i{ background-position:-60px -350px;}

.in_line .rbtn { float:right; width:123px; display:block; height:37px; border-bottom:3px solid #8b8a8a; background:#acacac; text-align:center; color:#fff; line-height:38px; border-radius:2px; font-size:12pt; text-decoration:none}
.in_line .frbtn{ position:absolute; right:-85px; top:0;  padding:0 10px; display:block;color:#b59030; line-height:40px; font-size:12pt; }
.in_line .in_rbtn{ float:right; width:102px; border-left:1px solid #dde2e4; margin-top:8px; height:22px; text-align:center; }
.in_line .in_rbtn a{color:#b3b3b3; line-height:22px; font-size:12pt;}
.in_line .in_rbtn.upg{ text-align:left; position:relative}
.in_line .in_rbtn .upg_btn{ padding-left:21px;}
.in_line .in_rbtn .qu_btn{ display:block; width:16px; height:16px; position:absolute; right:25px; top:3px; background-position:-50px -170px}
.in_line .item_name { float:left; width:100px; display:block; height:38px; text-align:right;color:#b59030;line-height:38px; font-size:12pt;}
.btnbar { text-align:center; padding-top:24px;font-size:0;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun';}
.btnbar .formbtn{ display:inline-block; *display:inline; *zoom:1; width:205px;height:37px; border-bottom:3px solid #937427; background:#b59030; text-align:center;border-radius:2px; text-decoration:none; font-size:12pt;  color:#fff; line-height:38px; margin:0 7px;letter-spacing:normal;word-spacing:normal;}
.btnbar .formbtn span { letter-spacing:8px; padding-left:8px}
.btnbar.btn2 .formbtn{ width:165px;}
.errorbar { text-align:center;  color:#ff5757; line-height:40px; font-size:11pt;}
.botbar{ text-align:center; color:#dadada;line-height:16px; font-size:11pt; height:16px; padding:15px 0; }
.botbar span { display:inline-block;*display:inline; *zoom:1; border-left:1px solid #dadada; width:11px; margin-left:11px; height:16px; vertical-align:top}
.botbar a{color:#b59030; }
.resultbar{ text-align:center;}
.resultbar i{ display:inline-block; *display:inline; *zoom:1; width:38px; height:38px; background-position:-30px -190px; margin-right:10px;}
.resultbar span {color:#b59030;line-height:38px; font-size:12pt;display:inline-block; *display:inline; *zoom:1; height:38px; vertical-align:top;}
.upg_tip{ display:none; background:url(../../images/studio_admin/info_tip.png) 0 0 no-repeat; width:288px; height:91px; position:absolute; top:160px; right:27px}
.upg_tip.show { display:block;}
.upg_tip p { padding:27px 25px 0;color:#4e4e4e;line-height:24px; font-size:10pt;}
.upg_fail{ width:470px; height:240px; position:absolute; top:50%; margin-top:-120px; left:50%; margin-left:-235px; background:#fff; border:1px solid #b5b5b5; box-shadow:0 0 4px rgba(0,0,0,.3); border-radius:2px;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun';}
.upg_fail .upg_cont{ position:relative; padding:60px 0 }
.upg_fail .resultbar i{ background-position:0 -350px; width:42px;}
.upg_fail .tip{ width:250px; margin:0 auto; padding-top:15px;}
.upg_fail .tip li{color:#4e4e4e; line-height:26px; font-size:12pt; }
.upg_fail .tip li span{ width:58px; display:inline-block; *display:inline; *zoom:1;}
.upg_fail .tip li strong { color:#b59030; font-weight:normal}
.upg_fail .pop_close { top:19px;}
/*mod2*/

/*mod3*/


/*mod4*/

/*mod5*/


/*mod6*/

/*fload*/


/*响应式*/
.wid1 .te_list .te_btn i{ left:12px;}


.wid4 .pro_notice {padding:0 15px}
.wid4 .pro_info span { margin:0 2px}
.wid4 .pro_btn.pro_prev {padding-left:4px}
.wid4 .pro_btn.pro_next {padding-right:4px}
.wid4 .te_list .te_btn { padding-left:18px;}
.wid4 .te_list .te_btn strong { font-size:14px; line-height:22px}
.wid4 .te_list .te_btn span{ font-size:12px; padding-top:3px}
.top-box {
    right: 50px;
    position: absolute;
    top: 36px;
    width: 500px;
    border-style: solid;
    background: #FFF;
    border-color: #BFA766;
    text-align: left;
    z-index: 10000;
}
.top-box label {
    float: left;
}
.top-box .ss-tk-info {
    margin: 4px;
    height: auto;
}
.ss-tk-info {
    position: relative;
    height: 25px;
    line-height: 25px;
    color: #191B1D;
    font-size: 10pt;
    background: #F3F3E1;
    padding: 0 10px;
}
.top-box i {
    background: url(../../images/mainbg.png) no-repeat;
    background-size: 90px 130px;
}
.top-box i {
    cursor: pointer;
}
.ss-tk-info i, .top-box i {
    position: absolute;
    right: 5px;
    top: 0;
    display: block;
    width: 25px;
    height: 25px;
    background-position: -25px -20px;
}
.top-box .ss-tk-info button {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    cursor: pointer;
}
.top-box span {
    margin-left: 5px;
    display: block;
    width: 300px;
    float: left;
    white-space: normal;
    word-break: break-all;
}
.top-box .reply-st{
    color: #0BA1EC;
}