body{font:12px/1.4 'Microsoft YaHei';color:#333;background:#fff;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none}
body,p,ol,ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,pre,input,table,tr,td,form{margin:0;padding:0}
ol,ul,li{list-style:none}
input{border:0 none}
img{border:0 none}
.fl,.fd{float:left}
.fr,.fdr{float:right}
.vcen{vertical-align:middle}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
a:active{noOutline:expression(this.onFocus=this.blur())}
.red{color:#C8310C}
.blue{color:#0082D5}
:focus{outline:0}
.hide-t{line-height:9999px;overflow:hidden}
.hide_txt{ text-indent:-9999px; height:0; line-height:0; overflow:hidden; }
.clearfix{zoom:1}
.clearfix:after{clear:both;content:"";display:block;height:0;visibility:hidden}
.w960{position:relative;margin:0 auto;width:960px}
.w1190{position:relative;margin:0 auto;width:1190px}
.m15p{margin-top:15px}
.m20p{margin-top:20px}
.m25p{margin-top:25px}
.dn{display:none}
.p0-non{font-size:0;height:0;overflow:hidden}

/* CSS Document */
body{ background:url(../../images/studio/bg.jpg) center 0 no-repeat;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun'; }
.hide-t { font-size:0; line-height:0;}
.none-block{ width:100%; height:60px;}
.title { height:33px; padding-left:10px; font-weight:normal; line-height:33px; border-bottom:1px solid #dbdbdb; color:#a17d20; font-size:12pt; background:#f6f6f6; border-top-left-radius: 4px;border-top-right-radius: 4px;}
.jscroll-h,.jscroll-e { border-radius:4px}

/*images*/
.header-right a i,.pro_notice .pro_btn span,.sro_notice li i,.tab_list li,.te_list .jt_btn span,.te_ctrl a i,.view_select i,.dialog i,.mymsg .closebtn,.toolbar .tbtn,.toolbar .facebtn,.send_select i,.input_area .sendbtn i,.popup_box .pop_close,.resultbar i,.in_line .level i,.in_line .in_rbtn .qu_btn,.video_room a .s2 i ,.hztip i,.videolist_box li i,.tab_list.download li a,.tab_list li a.listmore,.te_list .te_btn b,.dialogbtn a b,.dialog.analyst .headimg b,.upg_cont .btnbar a i{ background-image:url(../../images/studio/img_css.png); background-repeat:no-repeat;}
.img-loading{position:absolute;bottom:0;display:block;width:25px;height:25px;border-radius:4px;background:url(../../images/loading2.gif) no-repeat center;background-size:40px 40px;z-index:9}
/*header*/
.box-header{width:100%;min-width:1024px;background:#fff; height:50px;}
.box-header-in{width:auto;min-width:1024px;margin:0 auto;overflow:hidden;height:50px}
.box-header h1{margin-top:11px; padding-left:23px; background:url(../../images/studio/logotit.png) 23px 0 no-repeat; height:29px;width:376px}
.header-logo{display:block;float:left;width:187px;height:29px}
.header-right a{ display:block; padding:0 20px; border-left:1px solid #dde2e4; float:left; height:50px; line-height:50px; color:#4e4e4e; font-size:12pt; text-align:center;}
.header-right a.on{ background:#b59030; color:#fff; text-decoration:none}
.header-right a:hover{ background:#f2f2f2;text-decoration:none; color:#b59030}
.header-right a i{ display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:22px; height:20px; margin-right:10px; margin-top:15px;*vertical-align:middle; *margin-top:0;}
.header-right a i.real{ background-position:0 0 ; }
.header-right a i.mn{ background-position:-30px 0 }
.header-right a i.kf{ background-position:-60px 0 }
.header-right a:hover i.real{ background-position:0 -30px ; }
.header-right a:hover i.mn{ background-position:-30px -30px }
.header-right a:hover i.kf{ background-position:-60px -30px }
.header-right a.login,.header-right a.username{ color:#af9251}
.header-right a.logout { color:#479fcc}

/*grid*/
.wrapper{ padding:10px; width:auto; min-width:1024px;}
.left_row{ /*width:58%;*/ width:850px; float:left;}
.right_row{/*margin-left: 58%;*/ margin-left:850px; width:auto; background:none; position:relative}
.left1{ width:263px; float:left}
.left2{margin-left:270px;width:auto; margin-right:10px}

.wid1 .left_row{ width:950px;}
.wid1 .right_row{ margin-left:950px;}
.wid2 .left_row{ width:850px;}
.wid2 .right_row{ margin-left:850px;}
.wid3 .left_row{ width:794px;}
.wid3 .right_row{ margin-left:794px;}
.wid4 .left_row{ width:660px;}
.wid4 .right_row{ margin-left:660px;}

/*left1*/
.video_room{ margin-bottom:5px;  height:116px; overflow:visible; position:relative}
.areabg{background:#747474; border-radius:2px; padding:0px; width:100%; height: 100%; position:absolute; left:0; top:0; z-index:100000}
.btnarea { height:90px; overflow:hidden; position:relative}
.video_room.all .btnarea{ height:auto;}
.btnarea a{ display:block; width:124px; height:42px; float:left; margin-left: 5px; margin-top:3px;  text-decoration:none; font-size:0}
.btnarea a .s1{ display:inline-block; *display:inline; *zoom:1; width:86px;text-align:center; line-height:42px; font-size:12pt; background:#e4e4e4; color:#545454; float:left; border-top-left-radius:2px; border-bottom-left-radius:2px}
.btnarea a .s2{ display:inline-block; *display:inline; *zoom:1; width:38px; height:19px; padding:12px 0 11px; background:#f6f6f6; border-top-right-radius:2px; border-bottom-right-radius:2px}
.btnarea a .s2 i{ display:block; width:17px; height:19px; background-position:-30px -228px; margin:0 auto}
.btnarea a.vip .s1{ background:#e9d191}
.btnarea a.r1 .s1{ background:#ffcaca}
.btnarea a.r2 .s1{ background:#c4e4ff}
.btnarea a.normal .s2 i{background-position:-30px -228px;}
.btnarea a.ing .s2{ background:#92c04a}
.btnarea a.ing .s2 i{background-position:-50px -228px;}
.btnarea a.locked .s2 i{background-position:-65px -120px;}
.btnarea a.normal:hover .s2{background:#92c04a;}
.btnarea a.normal:hover .s2 i{ background-position:-50px -228px;}
.video_room .more{ width:auto; display:block; height:16px; position:relative; background:#89898a; border-radius:2px;margin: 5px 5px 0 5px;}
.video_room .more i { display:block; height:0; width:0; border-style:solid; border-width:7px; border-color:#6d6d6d transparent transparent transparent; position:absolute; left:50%; margin-left:-7px; top:5px;}
.video_room .more:hover{ background:#b5b5b5}
.video_room .more:hover i{ border-color:#8f8f8f transparent transparent transparent;}
.video_room.all .more i{ border-color:transparent transparent #6d6d6d transparent; top:-3px}
.hztip{ position:absolute; left:270px; top:5px;background:#fff; border-radius:2px; display:block; width:165px;padding:6px 16px; color:#4e4e4e; line-height:18pt; font-size:11pt; z-index:100001}
.hztip i{ display:block;position:absolute; left:-7px; top:18px; width:7px; height:9px; background-position:-30px -170px;}
.hztip strong{ font-weight:normal; color:#b59030}

.mod_left1{ background:rgba(246,246,246,0.9); border-radius:2px; padding-bottom:5px;}
.mod_videolist { margin-bottom:5px}
.videolist_box ul{ padding: 0 10px;}
.videolist_box li{ height:34px; border-bottom:1px solid #d6d6d6;line-height:34px; font-size:11pt; color:#4e4e4e; position:relative; padding-left:25px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.videolist_box li i{ position:absolute; left:0; top:9px; display:block; width:15px; height:15px; background-position:0 -250px;}
.videolist_box li a:hover{ text-decoration:none}
.videolist_box li a:hover i{ background-position:0 -230px;}
.videolist_box li a.on i{ background-position:0 -230px;}
.videolist_box li span { padding-right:10px;}
.videolist_box{ margin-top:5px;margin-right:10px; height:180px; overflow-y: scroll;overflow-x: hidden;}

.mod_userlist {}
.user_box{ margin-top:5px;margin-right:10px; height:445px; overflow-y: scroll;overflow-x: hidden;}
.user_box ul{ padding-right:10px;}
.user_box li{ height:37px; position:relative; z-index:10; margin-bottom:1px;}
.user_box li.zin { z-index:10000}
.user_box li .uname{ display:block; height:33px;line-height:33px; font-size:11pt; color:#4e4e4e;padding:2px 0 2px 10px;text-decoration:none;}
.user_box li .headimg{ display:block; width:33px; height:33px; float:left; margin-right:15px; border-radius:3px;}
.user_box li .uname:hover { background:#cfd1d2}
.user_box li .uname.ume { background:#cfd1d2}
.user_box .dialogbtn{ left:7px; top:33px; z-index:100000}

/*left2*/
.mod_left2{ }
.mod_video{ background:rgba(246,246,246,0.1); text-align:center; vertical-align:middle; height:504px; margin-bottom:5px; overflow:hidden; position:relative}
.mod_video img{ width:100%; height:auto; }
.mod_video .vbackbtn{ background:rgba(181,144,48,.5); display:block; width:43px; height:40px; padding-top:3px; color:#fff; position:absolute; right:10px; top:10px; border-radius:2px; font-size:12pt; line-height:14pt;}
.mod_video .vbackbtn:hover { text-decoration:none}
.mod_notice{background:rgba(246,246,246,0.1); border-radius:2px; padding:0 10px; height:63px; margin-bottom:5px }
.pro_notice{ border-bottom:1px solid #3e4d5b; padding:0 22px; position:relative;overflow:hidden;}
.pro_notice li{ height:31px; float:left; width:100%}
.pro_notice .pro_info{ text-align:center; width:50%; float:left; height:19px; padding:6px 0}
.pro_info .bor { border-right:1px solid #455060}
.pro_info span { display:inline-block; *display:inline; *zoom:1; text-align:center; margin:0 5px;color:#fff; line-height:19px; font-size:10pt;}
.pro_info .pro_name{ width:70px;}
.pro_info .pro_name strong{ display:inline-block; *display:inline; *zoom:1; padding:0 6px; width:auto; height:19px; border-radius:2px; font-weight:normal  }
.pro_info .pro_name.n1 strong{ background:#a59155}
.pro_info .pro_name.n2 strong{ background:#949494}
.pro_info .pro_name.n3 strong{ background:#3775aa}
.pro_info .pro_name.n4 strong{ background:#704b32}
.pro_info .pro_n.red{color:#f05366;}
.pro_info .pro_n.green{color:#5de36d;}
.pro_notice .pro_btn{ display:block; position:absolute; width:11px; height:31px; top:0; }
.pro_notice .pro_btn span { display:block; width:11px; height:12px; margin-top:9px;}
.pro_btn.pro_prev {padding-left:11px; left:0}
.pro_btn.pro_next {padding-right:11px; right:0}
.pro_btn.pro_prev span{ background-position:0 -60px;}
.pro_btn.pro_next span{ background-position:-15px -60px;}
.pro_btn.pro_prev:hover span{ background-position:0 -90px;}
.pro_btn.pro_next:hover span{ background-position:-15px -90px;}
.sro_notice{ height:31px; overflow:hidden;}
.sro_notice li{ position:relative; height:31px;color:#fff; line-height:30px; font-size:10pt; padding-left:34px; position:relative}
.sro_notice li i{ display:block ; width:15px; height:15px; background-position:0 -140px; position:absolute; left:9px; top:8px;}
.sro_notice li span { display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.mod_tab { background:rgba(219,219,219,0.9); border-radius:2px; height:252px;}
.mod_tab .tab_nav{ width:100%;}
.tab_nav a{ width:20%; float:left; display:block; height:52px;color:#757575; line-height:52px; font-size:12pt; text-align:center; text-decoration:none}
.tab_nav a.on{ color:#a17d20; background:#f6f6f6}
.tab_nav a.fir{ border-top-left-radius:2px;}
.tab_nav a.last{ border-top-right-radius:2px;}
.mod_tab .tabcont { height:200px; padding-top:52px;}
.mod_tab .tab_box{background:#f6f6f6; height:200px; display:none; overflow:hidden;  border-bottom-left-radius: 2px;  border-bottom-right-radius: 2px;}
.mod_tab .tab_box.on{ display:block;}
.mod_tab .notice_cont{ padding:15px 40px 0;color:#4e4e4e; line-height:22pt; font-size:11pt;overflow: auto;height: 100%;}
.mod_tab .notice_cont img{width:100%; height:auto;}
.tab_box .tab_list{ padding:13px 30px 0 30px; padding-top:13px;}
.tab_list li{ line-height:22pt; font-size:10.5pt; padding-left:24px; background-position:-110px -339px; }
.tab_list li a{color:#4e4e4e; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block}
.tab_list li a:hover { text-decoration:none; color:#a17d20}
.tab_list li .ndate {float: right; font-size: 80%;}
.tab_list li .wday { padding-right:30px;}
.tab_list li .atime { padding-right:30px;}
.tab_list li .ndate { padding-right:10px;}
.tab_list li a.listmore{ float:right; text-align:center; width:50px; padding-right:20px; background-position:46px -311px; line-height:22pt; color:#a17d20}
.tab_list li a.listmore:hover{ }
.tab_list.arrange{ padding:13px 14px 0}
.tab_list.arrange li { height:32px; line-height:32px; border-bottom:2px dotted #e8e7e7; background-position:-94px -337px; padding-left:40px}
.tab_list.arrange li.last { border-bottom:0}
.tab_list.download{ padding:3px 14px 0}
.tab_list.download li { height:27px; line-height:27px; padding:10px 0 10px 40px; color:#4e4e4e; border-bottom:2px dotted #e8e7e7; background-position:-94px -330px; position:relative}
.tab_list.download li a { width:50px; padding-left:20px; height:27px; background-color:#b59030; float:right;/*position:absolute; right:0; top:10px;*/ border-radius:2px; line-height:27px; color:#fff; text-align:center; background-position:-95px -200px;margin-right: 14px;}
.tab_list.download li span{ display:block; width:80%; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}

/*chat*/
.chat{  background:rgba(240,240,240,0.3);  border-radius:2px; padding:5px 10px 0;}

/*咨询对象*/
.te_list { padding:0 28px 0 28px; position:relative; margin-bottom:5px; height:53px;overflow:hidden}
.te_list .tempwrap{ height:53px; overflow:hidden; position:relative; }
.te_list .te_ul{ width:auto; position:relative; left:0; height:53px;}
.te_list li{ /*width:35%;*/ width:160px; float:left; position:relative;}
.te_list .te_btn{ margin-right:4px; position:relative; overflow:hidden; display:block; background:#f6f6f6; padding-left:41px; text-align:left; height:53px; border-radius:2px;}
.te_list .te_btn:hover{ text-decoration:none; cursor:pointer}
.te_list .te_btn span { display:inline-block; *display:inline; *zoom:1; text-align:left; width:auto; vertical-align:top; height:40px; padding-top:8px; color:#393939; font-size:10pt; line-height:18px;margin-left: 10px;}
.te_list .te_btn strong {color:#4e4e4e; font-size:10.5pt; line-height:18px;font-family:'Microsoft JhengHei','Microsoft YaHei','SimSun'; display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.te_list .te_btn i{ display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:84px; font-style:normal}
.te_list .te_btn .headimg{ display:block; position:absolute; left:5px; top:6px; width:38px; height:42px; vertical-align:bottom; border-radius:3px}
.te_list .te_btn .mp{ width:26px; border-top-right-radius:2px; border-bottom-right-radius:2px; background:#f6f6f6; border-left:1px solid #e8e8e8; height:53px; position:absolute; right:0; top:0}
.te_list .te_btn b{ display:block; width:17px; height:27px; background-position:-20px -280px; margin:13px auto 0; }
.te_list .te_btn:hover .mp,.te_list .te_btn.on .mp{ background:#92c04a; border-color:#92c04a;}
.te_list .te_btn:hover b,.te_list .te_btn.on b{ background-position:0 -280px; }
.te_list .jt_btn{ display:block; height:53px; width:22px; position:absolute; top:0; background:rgba(255,255,255,0.1); border-radius:2px}
.te_list .jt_btn:hover { background:rgba(255,255,255,0.2)}
.te_list .jt_btn span { display:block; width:12px; height:19px; margin-left:5px; margin-top:17px;}
.te_list .jt_btn.te_prev{ left:0}
.te_list .jt_btn.te_next{ right:0}
.te_list .jt_btn.te_prev span,.te_list .jt_btn.te_prev.prevStop:hover span{ background-position:-30px -60px}
.te_list .jt_btn.te_next span,.te_list .jt_btn.te_next.nextStop:hover span{ background-position:-50px -60px}
.te_list .jt_btn.te_prev:hover span{ background-position:-30px -90px}
.te_list .jt_btn.te_next:hover span{ background-position:-50px -90px}
.te_list .jt_btn.prevStop:hover,.te_list .jt_btn.nextStop:hover {background:rgba(255,255,255,0.1)}
.chat .dialogbtn{ left:43px; top:52px; z-index:100001}

/*按钮*/
.line_bar{ height:27px; padding-bottom:5px}
.te_ctrl { float:left;}
.te_ctrl a{ display:none; width:98px; padding-left:44px; height:27px; border-radius:2px; background:rgba(0,0,0,.2); position:relative;color:#82878f; font-size:10pt; line-height:27px; text-decoration:none;}
.te_ctrl a.show { display:block}
.te_ctrl a:hover { background:rgba(0,0,0,.4); color:#979ba0 }
.te_ctrl a i { display:block; width:30px; height:27px; position:absolute; left:7px; top:0}
.te_ctrl a.show_btn i{ background-position:-90px 0}
.te_ctrl a.show_btn:hover i{ background-position:-90px -30px}
.te_ctrl a.hide_btn i{ background-position:-90px -60px}
.te_ctrl a.hide_btn:hover i{ background-position:-90px -90px}
.view_select{ width:145px;float:right; height:27px; position:relative; z-index:100000}
.view_select.dw {}
.view_select i { display:block; position:absolute; right:11px; top:9px; background-position:0 -170px; width:14px; height:9px;}
.view_select.dw i{background-position:0 -190px; }
.view_select .se_cont{  width:145px; height:27px; overflow:hidden;background:rgba(0,0,0,.2); border-radius:2px; position:absolute; left:0; top:0}
.view_select.dw .se_cont{ height:auto;background:rgba(0,0,0,.4);}
.view_select .se_cont a{ display:block;padding-left:10px; color:#898d94; line-height:27px; font-size:10pt; text-decoration:none}
.view_select .selected{ line-height:27px; font-size:10pt; height:27px; color:#898d94;padding-left:10px; }
.view_select .selectlist{ display:none;}
.view_select.dw .selected{color:#fff;}
.view_select.dw .selectlist{display:block;}
.view_select.dw .se_cont a.on{ background:#343b49;color:#fff;  }
.view_select .se_cont a:hover { background:#343b49; color:#fff; }

/*聊天内容*/
.chat_content{ margin-top:5px; }
.chat_content .scrollbox2{ padding-right:10px;height:480px;overflow-y: scroll;overflow-x: hidden;}
.dialog{ height:auto; position:relative; padding:0 53px; margin-bottom:8px; /*float:left;*/ width:auto; clear:both;}
.dialog.mine{ float:right;}
.dialog p { background:#fff; border-radius:2px; display:inline-block; *display:inline; *zoom:1;padding:5px 9px; color:#777; line-height:18pt; font-size:11pt;}
.dialog.analyst p{ background:#fff7e2;}
.dialog.admin p{ background:#474b51;color:#d7d7d7}
.dialog .dtime { color:#afafaf; padding-left:8px;}
.dialog .uname { color:#3a3a3a;}
.dialog.admin .uname { color:#edbb38}
.dialog.analyst .uname { color:#3181c6}
.dialog .uname:hover{ text-decoration:none}
.dialog .dcont{  white-space: normal;word-break: break-all; overflow:auto; display:block;}
.dialog .dcont em.ruleTipStyle{color:#ff0000;font-size:12px;margin-left:5px;}
.dialog .to{ padding-left:5px}
.dialog .toname { padding-left:5px; font-weight:normal}
.dialog .headimg{ display:block; width:33px; height:auto; position:absolute; left:0; top:0; }
.dialog .headimg img{ display:block; width:33px; height:auto; border-radius:3px; vertical-align:bottom}
.dialog.mine .headimg{ left:auto; right:0}
.dialog.analyst .headimg{ height:46px;}
.dialog.analyst .headimg img{ border-bottom-left-radius:0; border-bottom-right-radius:0}
.dialog.analyst .headimg b { background-position:-30px -250px; display:block; width:33px; height:13px;}
.dialog i{ display:block;position:absolute; left:46px; top:10px; width:7px; height:9px; background-position:-30px -170px;}
.dialog.mine i{ background-position:-40px -170px; left:auto; right:46px;}
.dialog.analyst i{ background-position:-30px -180px;}
.dialog.mine.analyst i{ background-position:-50px -150px;}
.dialog.admin i{ background-position:-40px -180px;}
.dialog.mine.admin i{ background-position:-60px -150px;}

.chat_input{ width:100%; position:absolute; bottom:0; z-index:100001}
.mymsg{ height:auto; position:relative; padding:5px 0; background:rgba(246,246,246,.5);  }
.mymsg p{ padding:0 44px 0 80px;color:#4e4e4e; line-height:27px; font-size:11pt;}
.mymsg .sender{ padding-right:8px}
.mymsg .replybtn{ position:absolute; top:5px; left:10px; display:block; height:27px; width:50px; background:#f6f6f6; border-radius:2px; text-align:center;color:#4e4e4e; line-height:27px; font-size:11pt;}
.mymsg .replybtn:hover { background:#d8d8d8; text-decoration:none}
.mymsg .closebtn{ position:absolute; top:11px; right:20px; display:block; height:14px; width:14px; background-position:0 -120px; text-indent:-9999px}
.input_box{ background:#f6f6f6;  border-bottom-left-radius: 2px;  border-bottom-right-radius: 2px;}
.input_box .toolbar{ height:27px; padding:6px 10px 5px}
.toolbar .facebtn{ display:block; float:left; width:23px; height:23px; margin-top:2px; text-indent:-9999px; background-position:-30px -120px}
.toolbar .tbtn{ display:block; float:left; width:47px; height:25px; margin-left:10px; border:1px solid #e0e0e0; border-radius:2px; padding-left:23px; text-align:center;color:#4e4e4e; line-height:25px; font-size:11pt; text-decoration:none}
.toolbar .tbtn:hover { background-color:#fff;}
.toolbar .tbtn.clearbtn{ background-position:-95px -170px}
.toolbar .tbtn.scrollbtn{ background-position:-95px -120px}
.toolbar .tbtn.scrollbtn.on{ background-position:-95px -145px}
.toolbar .tbtn.qqbtn{ background-position:-95px -232px; background-color:#b59030; border-color:#b59030; width:70px; color:#fff; }
.toolbar .tbtn.qqbtn span{font-family:'Arial'}
.toolbar .tbtn.qqbtn:hover{ background-color:#bd9b35;border-color:#bd9b35}


.send_select{ width:145px;float:right; height:27px; position:relative; z-index:100000}
.send_select i { display:block; position:absolute; right:11px; top:9px; background-position:0 -210px; width:14px; height:9px;}
.send_select .se_cont{  width:145px; height:25px; overflow:hidden; border:1px solid #e0e0e0; border-radius:2px; position:absolute; left:0; top:0}
.send_select.dw .se_cont{ height:auto;background:#fff;}
.send_select .se_cont a{ display:block;padding-left:10px; color:#4e4e4e; line-height:25px; font-size:10pt; text-decoration:none}
.send_select.dw .se_cont a.on {background:#f0f0f0;}
.send_select .se_cont a:hover { background:#f0f0f0; }
.send_select .selected{ line-height:25px; font-size:10pt; height:25px; color:#4e4e4e;padding-left:10px; }
.send_select .selectlist{ display:none; height:75px; overflow-y: scroll; overflow-x: hidden;}
.send_select.dw .selectlist{display:block;}

.input_area{ padding:0 10px 10px;}
.input_area .adiv{ margin-right:102px; width:auto;background:#e7e7e7; overflow:hidden;}
.input_area .ctextarea{ border:1px solid #d6d6d6; background:#e7e7e7; height:48px; resize:none; width:100%; padding:0; margin:0;color:#4e4e4e; line-height:25px; font-size:11pt;}
.input_area .sendbtn{ float:right; width:97px; height:50px;border-radius:2px; background:#b59030;margin-top:-53px;*margin-top:-51px display:block; text-align:center;}
.input_area .sendbtn span { vertical-align:top; display:inline-block; *display:inline; *zoom:1;color:#fff; line-height:50px; font-size:12pt; }
.input_area .sendbtn i { vertical-align:top; display:inline-block; *display:inline; *zoom:1; background-position:-96px -290px; height:47px; width:23px; margin-right:12px}

/*对话按钮*/
.dialogbtn { position:absolute; left:0; top:53px; width:91px;/* height:56px;*/ z-index:100000; border:1px solid #b5b5b5; background:#fff; padding:1px; box-shadow:0 0 3px rgba(12,3,5,.3)}
.dialogbtn a{ display:block; height:28px; text-align:left; padding:0 4px; line-height:29px; color:#4e4e4e; font-size:11pt; text-decoration:none; position:relative;}
.dialogbtn a b{ display:block; width:17px; height:28px; position:absolute; left:18px; top:0;background-position:-50px -325px;}
.dialogbtn a.d2 b{background-position:-50px -355px; }
.dialogbtn a span {display:block; padding-left:40px;}
.dialogbtn a.d1 span { border-bottom:1px solid #dbdbdb;}
.dialogbtn a:hover {color:#fff; background:#b59030}
.dialogbtn a.d1:hover span { border:0}
.dialogbtn a:hover b{background-position:-70px -325px; }
.dialogbtn a.d2:hover b{background-position:-70px -355px; }

/*弹出框*/
.blackbg{ background:rgba(0,0,0,.6); width:100%; height:100%; position:fixed; top:0; left:0; z-index:100002}
.popup_box{ position:absolute; top:50%; margin-top:-200px; left:50%; height:auto; width:630px; margin-left:-315px; background:url(../../images/studio/popbg.jpg) center top no-repeat; border-radius:2px;font-family:'SimSun';}
.popup_box .tit { text-indent:-9999px; font-size:0; height:60px; padding-top:21px; background:#fff;border-top-left-radius:2px;border-top-right-radius:2px}
.popup_box .tit b{ height:60px; display:block; width:100%; background-image:url(../../images/studio/poptit.jpg); background-repeat:no-repeat;}
.popup_box .tit.t1 b{ background-position:center 0}
.popup_box .tit.t2 b{ background-position:center -60px}
.popup_box .tit.t3 b{ background-position:center -120px}
.popup_box .tit.t4 b{ background-position:center -180px}
.popup_box .tit.t5 b{ background-position:center -240px}
.popup_box .tit.t6 b{ background-position:center -300px}
.popup_box .tit.t7 b{ background-position:center -360px}
.popup_box .tit.t8 b{ background-position:center -420px}
.popup_box .cont { position:relative;background:url(../../images/studio/shadow.png) repeat-x 0 0; padding-top:30px; padding-bottom:30px;}
.popup_box .cont.re_cont { padding:40px 0 50px}
.popup_box .cont.pdb50{ padding-bottom:50px}
.popup_box .pop_close{ position:absolute; display:block; width:14px; height:14px; background-position:-30px -150px; right:20px; top:-60px; text-indent:-99999px; line-height:0 }
.formcont{ width:301px; margin:0 auto}
.formcont.formcont2{ width:300px;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun';background:#fff; border:1px solid #dde2e4; padding:0 30px;}
.formcont .in_line { margin-bottom:10px; height:34px; position:relative}
.formcont .in_line .placeholder{ position: absolute;padding-left: 39px;font-size: 130%;line-height: 34px;color: #A9A9A9;left: 0;top: 0}
.formcont.formcont2 .in_line{ border-bottom:1px solid #dde2e4;height:42px; line-height:42px; background:#fff; margin-bottom:0}
.in_line .in1{ border:1px solid #dde2e4; height:32px; padding-left:39px; width:260px; color:#b4b4b4; font-size:10.5pt; line-height:32px;}
.in_line .in1.in2{width:130px; float:left}
.in_line .in1.in3{width:197px; float:right; text-align:center; padding-left:0}

.in_line .level{height:38px;  color:#727272; font-size:12pt; line-height:39px; width:100px; padding-left:50px; float:left; position:relative;}
.in_line .level i{ display:block; width:33px; height:33px; position:absolute; left:10px; top:5px; background-image:url(../../images/studio/headimg.png); background-repeat:no-repeat;}
.in_line .level.l1 i{ background-position:0 0px;}
.in_line .level.l2 i{ background-position:0 -40px;}
.in_line .level.l3 i{ background-position:0 -80px;}
.in_line .level.l4 i{ background-position:0 -120px;}
.in_line .level.l5 i{ background-position:0 -160px;}

.in_line .rbtn { float:right; width:123px; display:block; height:34px;background:#b1b1b1; text-align:center; color:#fff; line-height:34px; border-radius:2px; font-size:12pt; text-decoration:none}
.in_line .rbtn.pressed{ background:#6dabcf; cursor:default}
.in_line .frbtn{ position:absolute; right:-85px; top:0;  padding:0 10px; display:block;color:#b59030; line-height:40px; font-size:12pt; }
.in_line .in_rbtn{ float:right; width:72px; border-left:1px solid #dde2e4; margin-top:8px; height:23px; text-align:right; }
.in_line .in_rbtn a{color:#b3b3b3; line-height:23px; font-size:10.5pt; display:block;}
.in_line .in_rbtn.upg{ text-align:left; position:relative}
.in_line .in_rbtn .upg_btn{ padding-left:21px;}
.in_line .in_rbtn .qu_btn{ display:block; width:16px; height:16px; position:absolute; right:0; top:3px; background-position:-50px -170px}
.in_line .item_name { float:left; width:75px; display:block; height:42px; text-align:right;color:#b59030;line-height:42px; font-size:10.5pt;}
.in_line .in_value{ border:0; height:42px;  color:#727272; font-size:10.5pt; line-height:42px; width:130px; padding-left:10px; float:left;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun';}
.in_line i{ display:block; height:32px; width:20px; position:absolute; left:10px; top:0; background-image:url(../../images/studio/form.png); background-repeat:no-repeat}
.in_line i.ic_psw{ background-position:0 0}
.in_line i.ic_phone{ background-position:0 -32px}
.in_line i.ic_msg{ background-position:0 -64px}
.in_line i.ic_user{ background-position:0 -96px}

.btnbar { text-align:center; padding-top:24px;font-size:0;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun';}
.btnbar .formbtn{ display:inline-block; *display:inline; *zoom:1; width:205px;height:40px; background:#b59030; text-align:center;border-radius:2px; text-decoration:none; font-size:14pt;  color:#fff; line-height:40px; margin:0 7px;letter-spacing:normal;word-spacing:normal;}
.btnbar .formbtn span { letter-spacing:8px; padding-left:8px}
.btnbar.btn2 .formbtn{ width:165px;}
.errorbar { text-align:center;  color:#ff5757; line-height:40px; font-size:11pt;}
.botbar{ text-align:center; color:#dadada;line-height:16px; font-size:11pt; height:16px; padding:15px 0; }
.botbar span { display:inline-block;*display:inline; *zoom:1; border-left:1px solid #dadada; width:11px; margin-left:11px; height:16px; vertical-align:top}
.botbar a{color:#b59030; }
.resultbar{ text-align:center;}
.resultbar i{ display:inline-block; *display:inline; *zoom:1; width:38px; height:38px; background-position:-30px -190px; margin-right:10px;}
.resultbar span {text-align:left; color:#b59030;line-height:38px; font-size:12pt;display:inline-block; *display:inline; *zoom:1; height:38px; vertical-align:top;}
.upg_tip{ display:none; background:url(../../images/studio/info_tip.png) 0 0 no-repeat; width:288px; height:91px; position:absolute; top:160px; right:27px}
.upg_tip.show { display:block;}
.upg_tip p { padding:27px 25px 0;color:#4e4e4e;line-height:24px; font-size:10pt;}
.upg_fail,.upg_succ{ width:470px; /*height:210px; */position:absolute; top:50%; margin-top:-120px; left:50%; margin-left:-235px; background:#fff; border:1px solid #b5b5b5; box-shadow:0 0 4px rgba(0,0,0,.3); border-radius:2px;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun';z-index:11000}
.upg_fail .upg_cont,.upg_succ .upg_cont{ position:relative; padding:40px 0 }
.upg_fail .resultbar i{ background-position:0 -350px; width:42px; margin-top:15px;}
.upg_succ .resultbar i{margin-top:10px;}
.upg_fail .resultbar span{ line-height:28px; height:auto}
.upg_succ .resultbar span{ line-height:50px; height:auto}
.upg_cont .btnbar{    padding-top: 30px;}
.upg_fail .tip{ width:250px; margin:0 auto; padding-top:15px;}
.upg_fail .tip li{color:#4e4e4e; line-height:26px; font-size:12pt; }
.upg_fail .tip li span{ width:58px; display:inline-block; *display:inline; *zoom:1;}
.upg_fail .tip li strong { color:#b59030; font-weight:normal}
.upg_fail .pop_close,.upg_succ .pop_close { top:19px;}

.upg_list{ width:650px; /*height:406px;*/ padding:40px 0 35px 0; position:absolute; top:50%; margin-top:-240px; left:50%; margin-left:-326px; background:#fff; border:1px solid #b5b5b5; border-radius:2px;font-family:'Microsoft YaHei','Microsoft JhengHei','SimSun'; z-index:10000}
.upg_list p{ text-align:center;color:#4e4e4e;line-height:16px; font-size:12pt; padding-bottom:20px;}
.upg_list .upg_table{ width:490px; margin:0 auto}
.upg_table th{color:#b59030;line-height:34px; font-size:12pt;border-bottom:1px solid #dbdbdb; font-weight:normal}
.upg_table td{ height:53px; border-bottom:1px solid #dbdbdb; font-size:10.5pt}
.upg_table a{ color:#479fcc;}
.upg_list .pop_close { top:19px;}
.upg_cont .btnbar{text-align:center; font-size:0}
.upg_cont .btnbar a {display:inline-block; *display:inline; *zoom:1;  padding:0 20px; border:1px solid #d7dbdd; border-radius:2px; height:38px;  text-align:center; font-size:0;vertical-align:middle; margin:0 10px;color:#4e4e4e;}
.upg_cont .btnbar a span{line-height:38px;  font-size:12pt;vertical-align:middle;}
.upg_cont .btnbar a i{ display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:22px; height:20px; margin-right:10px; margin-top:8px;*vertical-align:middle; *margin-top:0;}
.upg_cont .btnbar a i.real{ background-position:0 0 ; }
.upg_cont .btnbar a i.mn{ background-position:-30px 0 }
.upg_cont .btnbar a:hover{text-decoration:none; color:#b59030}
.upg_cont .btnbar a:hover i.real{ background-position:0 -30px ; }
.upg_cont .btnbar a:hover i.mn{ background-position:-30px -30px }

/*响应式*/
.wid1 .te_list .te_btn i{ /*left:12px;*/}
.wid4 .pro_notice {padding:0 15px}
.wid4 .pro_info span { margin:0 2px}
.wid4 .pro_btn.pro_prev {padding-left:4px}
.wid4 .pro_btn.pro_next {padding-right:4px}
.wid4 .te_list .te_btn {/* padding-left:18px;*/}
.wid4 .te_list .te_btn strong { font-size:14px; /*line-height:22px*/}
.wid4 .te_list .te_btn span{ font-size:12px;/* padding-top:3px*/}