<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
<head>
<title>手机在线教育 - 首页</title>
<meta name="keywords" content="手机在线教育" />
<meta name="description" content="手机在线教育" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="telephone=no" name="format-detection">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<script type="text/javascript" src="/base/lib/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/base/lib/store.min.js"></script>
<!-- 自动登录 begin -->
<script type="text/javascript" src="/fx/theme2/js/loginAuto.js"></script>
<script>
    LoginAuto.sessionUser = JSON.parse('<%- userInfo %>');
    LoginAuto.init();
</script>
<!-- 自动登录 end -->
<link rel="stylesheet" media="screen" href="/fx/theme2/css/index<%=isDevTest? '.css' : ('.min.css?t=' + new Date().getTime())%>" />
<link rel="stylesheet" media="screen" href="/base/lib/swipe/swiper.min.css" />
</head>

<body class="home">
<section class="content_w">
    <header id="header">
        <section class="content_w clearfix">
            <div class="logobar">
                <a href="http://m.gwfx.com" target="_blank">金道贵金属</a>
                <h1 class="hide-t">视频在线</h1>
            </div>
            <div class="rightbar">
                <a href="javascript:live800Prompt(2, '&utm_source=studio&utm_medium=yy&utm_content=wap&utm_campaign=qq_fx');" class="qq"><i></i></a>
                <a id="header_ui" href="javascript:void(0)" class="loginbtn"><%= userSession.isLogin ? userSession.nickname : '登录' %></a>
            </div>
        </section>
    </header>

    <section class="sroll-box">
        <section class="scroll-imbd swiper-container" id="slider">
            <ul class="clearfix swiper-wrapper">
            </ul>
            <nav id="position" class="dot-infobox scroll_position">
            </nav>
        </section>
    </section>

    <!-- 切换tab -->
    <section class="cen-qhbox swiper-container">
        <ul class="cen-ulist clearfix">
            <li class="on" t="studioListTab"><span>在线视频</span></li>
            <li t="newInfoTab"><span>快讯</span></li>
            <!--<li t="commentTab"><span>专业评论</span></li>-->
            <li t="bulletinTab"><span>公告</span></li>
        </ul>
        <article class="cen-qhcon swiper-wrapper">
            <!-- 在线视频begin -->
            <section class="cen-pubox swiper-slide" id="studioListTab">
                <div class="boxcont">
                    <ul class="videoroom-ul">
                        <% if (studioList!='[]') { %>
                        <% studioList.forEach(function(row,index){ %>
                        <li class="<%=((!row.disable || !userSession.isLogin) && row.isOpen ? 'live' : '')%>" ga="<%=!row.disable%>" go="<%=row.isOpen%>" gi="<%= row.id %>">
                            <section class="room-main clearfix">
                                <div class="tit">
                                    <b><%= row.name %></b><div><i></i>火热视频中</div><br>
                                    <span aw="<%= row.clientGroup %>">所有客户均可观看</span>
                                </div>
                                <div class="btns">
                                    <a href="javascript:void(0)" class="timebtn">课程表</a>
                                    <a href="javascript:void(0)" class="enter">进入</a>
                                </div>
                                <div class="syll-tip dn">
                                    <span><label>课程时间：</label><label class="syll-time"></label><label style="margin-left:12px;"></label><label style="margin-left:12px;"></label></span>
                                </div>
                            </section>
                            <section class="room-info">
                                <div class="info intro">
                                    <span class="tag"><b>房间介绍</b></span>
                                    <p><%=row.remark %></p>
                                </div>
                                <div class="info syllabus">
                                    <span class="tag"><b>课程表</b></span>
                                    <table class="timetable" border="0" cellpadding="0" cellspacing="1" width="100%">
                                    </table>
                                </div>
                            </section>
                        </li>
                        <% }); %>
                        <% } %>
                    </ul>
                </div>
            </section>
            <!-- 在线视频end -->
            <!-- 快讯begin -->
            <section class="cen-pubox swiper-slide" id="newInfoTab">
                <div class="boxcont">
                    <ul class="message_list">
                    </ul>
                </div>
            </section>
            <!-- 快讯end -->
            <!-- 专业评论begin -->
            <!--<section class="cen-pubox swiper-slide" id="commentTab">
                <div class="boxcont">
                    <a href="javascript:void(0)" class="moreitem">更多专业评论</a>
                </div>
            </section>-->
            <!-- 专业评论end -->
            <!-- 公告begin -->
            <section class="cen-pubox swiper-slide" id="bulletinTab">
                <div class="boxcont">
                    <div class="notice_cont">
                    </div>
                </div>
            </section>
            <!-- 公告end -->
        </article>
    </section>
</section>

<!-- 收藏提示begin -->
<footer class="collect-tip dn">
    <div class="content_w">
        <b></b>
        <p>先保存书签, 再添加到主屏幕<br>随时打开看在线视频</p>
        <a href="javascript:void(0)" class="c_close"></a>
    </div>
</footer>
<!-- 收藏提示end -->

<!-- 底部悬浮菜单begin-->
<div class="fob_open">
    <div>
        <a target="_blank" onclick="_gaq.push(['_trackEvent', 'm_fx_studio', 'open_real_account', 'content_bottom',1,true]);" class="fb_open_real" href="http://oa.gwfx.com/zh/nzMobileAccount.html?utm_source=m_studio&utm_medium=yy&utm_content=bottom&utm_campaign=nzMobileAccount">开真实账户</a>
        <a target="_blank" onclick="_gaq.push(['_trackEvent', 'm_fx_studio', 'open_demo_account', 'content_bottom',1,true]);" class="fb_open_analog" href="http://oa.gwfx.com/zh/mobile-demo-account.html?utm_source=m_studio&utm_medium=yy&utm_content=bottom&utm_campaign=mobile-demo-account">无风险模拟</a>
        <a href="javascript:void(0)" onclick="_gaq.push(['_trackEvent', 'm_fx_studio', 'chat_qq', 'content_bottom',1,true]);live800Prompt(1, '&utm_source=m_studio&utm_medium=yy&utm_content=bottom&utm_campaign=zx_fx');" class="fb_consult" style="background-image:none"><i class="qq-fon"><s></s></i>立即咨询</a>
    </div>
</div>
<!-- 底部悬浮菜单end-->

<!-- 弹出层begin -->
<section class="popupbg dn">
    <section class="popupbox pop-time dn">
        <div class="cont">
            <div class="titlebar">
                <span>课程表</span>
            </div>
            <div class="sc_cont">
                <table class="timetable" border="0" cellpadding="0" cellspacing="1" width="100%">
                </table>
            </div>
            <a href="javascript:void(0)" class="pop-close"></a>
        </div>
    </section>

    <% include pop.html %>
</section>
<section class="errorbox dn">
    <div class="cont"></div>
</section>
<!-- 弹出层end -->

<script type="text/javascript" src="/base/lib/swipe/swiper.min.js"></script>
<% if(isDevTest) { %>
<script type="text/javascript" src="/base/util/common.js"></script>
<script type="text/javascript" src="/base/util/chatAnalyze.js"></script>
<script type="text/javascript" src="/fx/theme2/js/index.js"></script>
<% }else{ %>
<script type="text/javascript" src="/fx/theme2/js/index.min.js?t=<%=new Date().getTime()%>"></script>
<% }%>
<script type="text/javascript">
$(function(){
    studioChatMbIdx.userInfo=JSON.parse('<%- userInfo %>');
    studioChatMbIdx.apiUrl='<%= apiUrl %>';
    studioChatMbIdx.fromPlatform='<%- fromPlatform%>';
    studioChatMbIdx.init();
});
</script>
</body>
</html>