<!-- 个人信息 -->
<section class="popupbox pop-person dn" id="personPop">
    <div class="cont">
        <div class="titlebar">
            <span>个人信息</span>
        </div>
        <div class="per_info">
            <ul>
                <li><span>昵称</span><img id="person_hp" src="/fx/theme2/img/user.png"><b id="person_nn"></b></li>
                <li><span>账号</span>
                    <a class="btn" href="javascript:void(0)" id="personPop_repwd">修改密码</a>
                    <b id="person_mb"><%= userSession.mobilePhone %></b>
                </li>
            </ul>
        </div>
        <p class="per_p">金道用户分为5级，根据用户注册情况选择升级，情况如下：</p>
        <table class="level-table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <th width="17%">级别</th>
                <th width="20%">说明</th>
                <th width="43%">权限</th>
                <th width="20%">操作</th>
            </tr>
        </table>
        <div class="sc_cont">
            <table id="upg_tbody_id" class="level-table" border="0" cellpadding="0" cellspacing="0" width="100%">
            </table>
        </div>
        <a href="javascript:void(0)" class="logoutbtn">注销</a>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<!-- 直播间登录 -->
<section class="popupbox pop-member dn" id="loginPop">
    <div class="cont">
        <div class="mtit t2">
            <div class="line"><i></i></div>
            <span>直播间登录</span>
            <div class="line"><i></i></div>
        </div>
        <span id="login_tip">您已经观看了3分钟，赶紧登录再继续观看吧</span>
        <div class="mform">
            <form method="post" id="loginForm">
                <input type="hidden" id="loginForm_csi" name="clientStoreId"/>
                <input type="hidden" name="loginType" id="loginForm_lt" value="pwd"/>
                <div class="inp">
                    <div class="inp_l">
                        <i class="phone"></i>
                        <input id="loginForm_mb" name="mobilePhone" type="tel" placeholder="手机号码">
                    </div>
                </div>
                <div class="inp">
                    <ul class="sel-con-box" id="loginForm_tab">
                        <li class="li-on" lt="pwd"><t class="sel-fon-xz"><s class="dn"></s></t>客户密码</li>
                        <li lt="verify"><t class="sel-fon-xz"><s class="dn"></s></t>动态密码</li>
                    </ul>
                </div>
                <div class="pwd-qibox">
                    <div class="inp" lt="pwd">
                        <div class="inp_l">
                            <i class="pwd"></i>
                            <input id="loginForm_pwd" name="password" type="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="inp dn" lt="verify">
                        <div class="inp_l">
                            <i class="pwd pwd-nicon"></i>
                            <input id="loginForm_vc" name="verifyCode" type="text" placeholder="短信验证码">
                            <a href="javascript:void(0)" id="loginForm_vcb" class="get-dt-code">获取动态码</a>
                        </div>
                    </div>
                </div>
                <div class="inp-tip">
                    <div class="auto-login off fl" id="loginForm_alBtn">
                        <input type="checkbox" id="loginForm_al" checked="checked" style="display: none;">
                        <s class="sel-on"></s>下次自动登录
                    </div>
                    <p class="no-acc-pfon fr" lt="pwd">
                        <a href="javascript:void(0)" id="loginForm_pwdBtn" target="_blank">忘记密码</a>
                    </p>
                    <p class="no-acc-pfon fr dn" lt="verify">
                        如未收到验证码，请咨询<a onclick="live800Prompt();_gaq.push(['_trackEvent', 'm_fx_studio', 'chat_live800', 'content_login', 1, true]);" href="javascript:void(0);">在线客服</a>
                    </p>
                </div>
                <div class="btnbar new-btn-mar2">
                    <input id="loginForm_sub" type="button" class="mbtn" value="登录">
                </div>
                <div class="inp-tip">
                    <p class="no-acc-pfon">
                        您还没有金道直播间账号？
                        <a href="javascript:void(0)" target="_blank" id="loginForm_reg">免费注册</a>
                    </p>
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<!-- 设置 -->
<section class="popupbox pop-member dn" id="setPop">
    <div class="cont">
        <div class="mtit t2">
            <div class="line"><i></i></div>
            <span>设置</span>
            <div class="line"><i></i></div>
        </div>
        <div class="mform">
            <form method="post" id="setForm">
                <div class="inp">
                    <div class="inp_l">
                        <i class="user"></i>
                        <input id="setForm_nn" name="nickname" type="text" placeholder="昵称">
                    </div>
                </div>
                <div class="btnbar">
                    <input id="setForm_sub" type="button" class="mbtn" value="确认">
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<!-- 直播间注册 -->
<section class="popupbox pop-member dn" id="regPop">
    <div class="cont">
        <div class="mtit t2">
            <div class="line"><i></i></div>
            <span>直播间注册</span>
            <div class="line"><i></i></div>
        </div>
        <div class="mform">
            <form method="post" id="regForm">
                <div class="inp">
                    <div class="inp_l">
                        <i class="phone"></i>
                        <input id="regForm_mb" name="mobilePhone" type="text" placeholder="手机号码" maxlength="11">
                    </div>
                </div>
                <div class="inp">
                    <div class="inp_l">
                        <i class="pwd"></i>
                        <input id="regForm_pwd" name="password" type="password" placeholder="设置密码" maxlength="20">
                    </div>
                </div>
                <div class="inp">
                    <div class="inp_l">
                        <i class="pwd"></i>
                        <input id="regForm_pwd1" name="password1" type="password" placeholder="再次输入密码" maxlength="20">
                    </div>
                </div>
                <div class="inp clearfix">
                    <div class="inp_l">
                        <i class="pwd pwd-nicon"></i>
                        <input id="regForm_vc" name="verifyCode" type="text" placeholder="短信验证码">
                        <a href="javascript:void(0)" id="regForm_vcb" class="get-dt-code">获取动态码</a>
                    </div>
                </div>
                <div class="inp-tip">
                    <p class="no-acc-pfon fr">
                        如未收到验证码，请咨询<a onclick="live800Prompt();_gaq.push(['_trackEvent', 'm_fx_studio', 'chat_live800', 'content_reg', 1, true]);" href="javascript:void(0);">在线客服</a>
                    </p>
                </div>
                <div class="btnbar new-btn-mar2">
                    <input id="regForm_sub" type="button" class="mbtn" value="注册">
                </div>
                <div class="inp-tip">
                    <p class="no-acc-pfon">
                        已有账号，我要
                        <a href="javascript:void(0)" target="_blank" id="regForm_login">登录</a>
                    </p>
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<section class="popupbox pop-member dn" id="reg1Pop">
    <div class="cont">
        <div class="mform">
            <form method="get" action="">
                <div class="resultbox">
                    <i></i>
                    <p>恭喜你注册成功！</p>
                    <p>
                        <a href="javascript:void(0)" target="_blank" id="reg1Form_lpBtn" style="font-size: 18px; text-decoration: underline;" onclick="_gaq.push(['_trackEvent', 'm_fx_studio', 'activity_choujiang ', 'content_middle']);">
                            立即参与抽奖
                        </a>，领取iphone7！
                    </p>
                </div>
                <div class="btnbar">
                    <input id="reg1Form_sub" type="button" class="mbtn" value="确认">
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<!-- 直播间修改密码 -->
<section class="popupbox pop-member dn" id="pwd1Pop">
    <div class="cont">
        <div class="mtit t2">
            <div class="line"><i></i></div>
            <span>修改密码</span>
            <div class="line"><i></i></div>
        </div>
        <div class="mform">
            <form method="post" id="pwd1Form">
                <input type="hidden" name="type" value="1">
                <div class="inp">
                    <div class="inp_l">
                        <i class="pwd"></i>
                        <input id="pwd1Form_pwd0" name="password0" type="password" placeholder="原始密码" maxlength="20">
                    </div>
                </div>
                <div class="inp">
                    <div class="inp_l">
                        <i class="pwd"></i>
                        <input id="pwd1Form_pwd" name="password" type="password" placeholder="新的密码" maxlength="20">
                    </div>
                </div>
                <div class="inp">
                    <div class="inp_l">
                        <i class="pwd"></i>
                        <input id="pwd1Form_pwd1" name="password1" type="password" placeholder="确认新的密码" maxlength="20">
                    </div>
                </div>
                <div class="btnbar new-btn-mar2">
                    <input id="pwd1Form_sub" type="button" class="mbtn" value="确认">
                </div>
                <div class="inp-tip">
                    <p class="no-acc-pfon">
                        <a href="javascript:void(0)" id="pwd1Form_pwdBtn" target="_blank">忘记密码？</a>
                    </p>
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<!-- 直播间忘记密码 -->
<section class="popupbox pop-member dn" id="pwd2Pop">
    <div class="cont">
        <div class="mtit t2">
            <div class="line"><i></i></div>
            <span>忘记密码</span>
            <div class="line"><i></i></div>
        </div>
        <div class="mform">
            <form method="post" id="pwd2Form">
                <input type="hidden" name="type" value="2">
                <div class="inp">
                    <div class="inp_l">
                        <i class="phone"></i>
                        <input id="pwd2Form_mb" name="mobilePhone" type="text" placeholder="手机号码" maxlength="11">
                    </div>
                </div>
                <div class="inp clearfix">
                    <div class="inp_l">
                        <i class="pwd pwd-nicon"></i>
                        <input id="pwd2Form_vc" name="verifyCode" type="text" placeholder="短信验证码">
                        <a href="javascript:void(0)"  id="pwd2Form_vcb" class="get-dt-code">获取动态码</a>
                    </div>
                </div>
                <div class="btnbar">
                    <input id="pwd2Form_sub" type="button" class="mbtn" value="确认">
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<!-- 直播间重置密码 -->
<section class="popupbox pop-member dn" id="pwd3Pop">
    <div class="cont">
        <div class="mtit t2">
            <div class="line"><i></i></div>
            <span>重置密码</span>
            <div class="line"><i></i></div>
        </div>
        <div class="mform">
            <form method="post" id="pwd3Form">
                <input type="hidden" name="type" value="3">
                <input type="hidden" name="mobilePhone" id="pwd3Form_mb" value="">
                <div class="inp">
                    <div class="inp_l">
                        <i class="pwd"></i>
                        <input id="pwd3Form_pwd" name="password" type="password" placeholder="新的密码" maxlength="20">
                    </div>
                </div>
                <div class="inp">
                    <div class="inp_l">
                        <i class="pwd"></i>
                        <input id="pwd3Form_pwd1" name="password1" type="password" placeholder="确认新的密码" maxlength="20">
                    </div>
                </div>
                <div class="btnbar">
                    <input id="pwd3Form_sub" type="button" class="mbtn" value="确认">
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>

<!-- 升级成功 -->
<section class="popupbox pop-member dn" id="resultPop">
    <div class="cont">
        <div class="mform">
            <form method="get" id="resultForm">
                <div class="resultbox">
                    <i></i>
                    <p id="resultForm_msg">升级成功！刷新页面后，您可享用更多权限。</p>
                </div>
                <div class="btnbar">
                    <input id="resultForm_sub" type="button" class="mbtn" value="确认">
                </div>
            </form>
        </div>
        <a href="javascript:void(0)" class="pop-close"></a>
    </div>
</section>
<script type="text/javascript" src="/fx/theme2/js/pop<%=isDevTest? '.js' : ('.min.js?v=' + version)%>"></script>