<div class="right_row clearfix">
    <div class="mod_main">
        <div class="main_tabnav">
            <a href="javascript:void(0)" class="on" t="livepride">
                    <span class="ibox">
                        <span class="hoverbox">
                            <span class="navtext">直播精华<em class="num" id="livePrideCount" style="display:none;">8</em></span>
                            <i></i>
                        </span>
                    </span>
            </a>
            <a href="javascript:void(0)" t="chat">
                    <span class="ibox">
                        <span class="hoverbox">
                            <span class="navtext">聊天室<span class="dialognum">（<span></span>）</span>
                                <em class="num" id="chatMsgCount" style="display:none;"></em>
                            </span>
                        <i></i>
                        </span>
                    </span>
            </a>
            <a href="javascript:void(0)" t="teacher">
                    <span class="ibox"><span class="hoverbox">
                    <span class="navtext">直播老师</span>
                    <i></i>
                    </span></span>
            </a>
            <a href="javascript:void(0)" t="showtrade">
                    <span class="ibox"><span class="hoverbox">
                    <span class="navtext">晒单墙</span>
                    <i></i>
                    </span></span>
            </a>
        </div>
        <div class="tabcont">
            <div class="main_tab on" t="livepride">
                <div class="livebrief_list">
                    <div class="scrollbox">
                        <div id="textlivePanel"></div>
                        <a id="textliveMore" href="javascript:void(0);" class="morebtn" style="">加载更多</a>
                    </div>
                </div>
            </div>
            <div class="main_tab" t="chat">
                <div class="chat_content" id="chatMsgContentDiv">
                    <div class="scrollbox">
                        <div class="dialoglist clearfix" id="dialog_list">
                        <!-- 公聊内容 -->
                        </div>
                    </div>
                    <div class="contactbar" id="analystbar">
                        <!--a href="javascript:void(0);" class="contactbtn">联系易老师</a-->
                    </div>
                </div>
                <div class="chat_input">

                    <div class="input_box">
                        <div class="toolbar">
                            <a href="javascript:void(0)" class="tbtn facebtn" id="msgFaceBtn" title="添加表情">表情</a>
                            <a href="javascript:void(0)" class="tbtn clearbtn" title="清屏">清屏</a>
                            <a href="javascript:void(0)" class="tbtn scrollbtn on" title="自动滚屏">滚屏</a>
                            <!--a href="javascript:void(0)" class="tbtn magicbtn" title="魔法表情">魔法表情</a>
                            <a href="javascript:void(0)" class="tbtn flowerbtn" title="鲜花">鲜花</a>
                            <a href="javascript:void(0)" class="tbtn djbtn" title="道具">道具</a-->
                            <div class="tosigninbtn"><i></i>签到</div>
                            <div class="facebox dn">
                                <i class="arr"></i>
                                <div class="facecont">
                                    <img src="../images/studio/faceimg.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="input_area">
                            <div class="adiv">
                                <div id="contentText" contenteditable="true" class="ctextarea"></div>
                                <!--div class="lgtip dn">亲，<a href="">登录</a> 后可以发言哦~</div>
                                <textarea class="ctextarea" placeholder="快来参与讨论吧"></textarea-->
                            </div>
                            <div class="who_list dn"><a href="" class="on">李老师</a><a href="">李查德</a><a href="">李师傅</a><a href="">李易峰</a></div>
                            <a href="javascript:void(0)" class="sendbtn" id="sendBtn">发送</a>
                        </div>

                    </div>
                </div>
                <div class="view_select">
                    <div class="se_cont">
                        <div class="selected">看所有人</div>
                        <div class="selectlist">
                            <a href="javascript:void(0)" class="on" t="all">看所有人</a>
                            <a href="javascript:void(0)" class="" t="analyst">看分析师</a>
                            <a href="javascript:void(0)" class="" t="mine">与我相关</a>
                        </div>
                    </div>
                    <i></i>
                </div>
            </div>
            <div class="main_tab" t="teacher">
                <div class="teacherlist">
                    <div class="scrollbox">
                        <div class="teacherbox">
                            <div class="te_top">
                                <div class="himg"><img src="/pm/theme1/img/timg1.jpg" alt=""></div>
                                <div class="info-l">
                                    <span class="te_name">赵相宾老师</span><br>
                                    <span class="te_org">金道研究院</span>
                                </div>
                                <div class="stateshow">
                                    <div class="item">
                                        <i class="i1"></i>
                                        <b>90%</b>
                                        <span>胜率</span>
                                    </div>
                                    <div class="item">
                                        <i class="i2"></i>
                                        <b>50%</b>
                                        <span>月收益</span>
                                    </div>
                                    <!--<div class="item">
                                        <i class="i3"></i>
                                        <b>200h</b>
                                        <span>讲课时长</span>
                                    </div>-->
                                    <!--<div class="item">
                                        <i class="i4"></i>
                                        <b>(1000)</b>
                                        <span>鲜花</span>
                                    </div>
                                    <div class="item">
                                        <i class="i5"></i>
                                        <b>(500)</b>
                                        <span>道具</span>
                                    </div>-->
                                    <div class="item">
                                        <a href="javascript:void(0)" class="support" uid=""><i class="i6"></i></a>
                                        <b>(6558)</b>
                                        <span>赞</span>
                                    </div>
                                </div>
                            </div>
                            <div class="taglist">
                                <!--<span class="tag"><span>死多头</span><i></i></span>
                                <span class="tag"><span>领军人物</span><i></i></span>-->
                            </div>
                            <p class="intro"><b>特约分析师简介：</b><span>毕业于卢森堡国立大学，硕士学位，国内黄金外汇行业资深分析师领军人物之一，曾任职于多家知名黄金外汇投资机构担任首席分析师，拥有多年的金融实战经验，对黄金外汇交易有独到见解，具有丰厚的理论分析功底和实战操作经验，其贵金属及外汇评论于「和讯网」、「中金在线」、「金融界」等多家网站刊登，并在多个城市举办个人专场讲座，操作收益持续稳定。</span></p>
                            <div class="clearfix">
                                <div class="view_select teacher_select">
                                    <div class="se_cont">
                                        <div class="selected">查看其他老师</div>
                                        <div class="selectlist">
                                            <a href="javascript:void(0)" class="">李老师</a>
                                            <a href="javascript:void(0)" class="">老易</a>
                                            <a href="javascript:void(0)" class="on">耳东陈</a>
                                            <a href="javascript:void(0)" class="">钟无艳（钟老师）</a>
                                        </div>
                                    </div>
                                    <i></i>
                                </div>
                            </div>
                            <div class="sd_show">
                                <h5 class="tebox_tit">战绩：</h5>
                                <ul class="sd_ul">
                                   <!-- <li>
                                        <div class="cont">
                                            <div class="sd_tit"><span class="dep">持仓中</span><span class="sdtime">晒单时间: 06/14 13:26</span></div>
                                            <a href="/pm/theme1/img/sd_pic.jpg" data-rel="sd-img" data-title="持仓中" class="lightbox"><img src="/pm/theme1/img/sd_thumb.jpg" alt="晒单"><i class="i-zoom"></i></a>
                                        </div>
                                    </li>
                                    <li class="r">
                                        <div class="cont">
                                            <div class="sd_tit"><span class="dep">获利: <b>+3570</b></span><span class="sdtime">晒单时间: 06/14 13:26</span></div>
                                            <a href="/pm/theme1/img/sd_pic.jpg" data-rel="sd-img" data-title="获利:+3570" class="lightbox"><img src="/pm/theme1/img/sd_thumb.jpg" alt="晒单"><i class="i-zoom"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cont">
                                            <div class="sd_tit"><span class="dep">获利: <b>+64770</b></span><span class="sdtime">晒单时间: 06/14 13:26</span></div>
                                            <a href="/pm/theme1/img/sd_pic.jpg" data-rel="sd-img" data-title="获利:+64770" class="lightbox"><img src="/pm/theme1/img/sd_thumb.jpg" alt=""><i class="i-zoom"></i></a>
                                        </div>
                                    </li>
                                    <li class="r">
                                        <div class="cont">
                                            <div class="sd_tit"><span class="dep">获利: <b class="fall">-375</b></span><span class="sdtime">晒单时间: 06/14 13:26</span></div>
                                            <a href="/pm/theme1/img/sd_pic.jpg" data-rel="sd-img" data-title="获利:-375" class="lightbox"><img src="/pm/theme1/img/sd_thumb.jpg" alt=""><i class="i-zoom"></i></a>
                                        </div>
                                    </li>-->
                                </ul>
                            </div>
                            <div class="tebox_train">
                                <h5 class="tebox_tit">培训班：<span>(已结束开班57期/总共200人)</span></h5>
                                <ul>
                                    <!--<li>
                                        <div class="cont">
                                            <div class="headimg"><img src="/pm/theme1/img/timg1.jpg" alt="" class="mCS_img_loaded"></div>
                                            <div class="train_name">老易培训班<span>（第6期）</span></div>

                                            <p>国内黄金外汇行业资深分析师领军人物，曾任职于多家知名黄金外汇投资机构...</p>
                                            <a href="" class="trainbtn">报名（20人）</a>
                                        </div>
                                    </li>
                                    <li class="r">
                                        <div class="cont">
                                            <div class="headimg"><img src="/pm/theme1/img/timg1.jpg" alt="" class="mCS_img_loaded"></div>
                                            <div class="train_name">老易培训班<span>（第6期）</span></div>

                                            <p>国内黄金外汇行业资深分析师领军人物，曾任职于多家知名黄金外汇投资机构...</p>
                                            <a href="" class="trainbtn">报名（20人）</a>
                                        </div>
                                    </li>-->
                                </ul>
                            </div>
                            <div class="tebox_video tebox_teachLive">
                                <h5 class="tebox_tit">精彩直播：</h5>
                                <ul>
                                    <li>
                                        <a href="" class="imga"><img src="/pm/theme1/img/tebox_pic2.jpg" alt=""><b class="playbtn"><i></i></b></a>
                                        <a href="" class="vlink">非农议息大赚</a>
                                    </li>
                                    <li>
                                        <a href="" class="imga"><img src="/pm/theme1/img/tebox_pic2.jpg" alt=""><b class="playbtn"><i></i></b></a>
                                        <a href="" class="vlink">非农议息大赚</a>
                                    </li>
                                    <li class="r">
                                        <a href="" class="imga"><img src="/pm/theme1/img/tebox_pic2.jpg" alt=""><b class="playbtn"><i></i></b></a>
                                        <a href="" class="vlink">非农议息大赚</a>
                                    </li>
                                    <li>
                                        <a href="" class="imga"><img src="/pm/theme1/img/tebox_pic2.jpg" alt=""><b class="playbtn"><i></i></b></a>
                                        <a href="" class="vlink">非农议息大赚</a>
                                    </li>
                                    <li>
                                        <a href="" class="imga"><img src="/pm/theme1/img/tebox_pic2.jpg" alt=""><b class="playbtn"><i></i></b></a>
                                        <a href="" class="vlink">非农议息大赚</a>
                                    </li>
                                    <li class="r">
                                        <a href="" class="imga"><img src="/pm/theme1/img/tebox_pic2.jpg" alt=""><b class="playbtn"><i></i></b></a>
                                        <a href="" class="vlink">非农议息大赚</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tebox_video tebox_studentLive">
                                <h5 class="tebox_tit">学员风采：</h5>
                                <ul>
                                    <li>
                                        <div class="imga"><img src="/pm/theme1/img/tebox_pic1.jpg" alt=""></div>
                                        <span class="vlink">Tim学员非农大赚1万美金</span>
                                    </li>
                                    <li>
                                        <div class="imga"><img src="/pm/theme1/img/tebox_pic1.jpg" alt=""></div>
                                        <span class="vlink">Tim学员非农大赚1万美金</span>
                                    </li>
                                    <li class="r">
                                        <div class="imga"><img src="/pm/theme1/img/tebox_pic1.jpg" alt=""></div>
                                        <span class="vlink">Tim学员非农大赚1万美金</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="tebox_video tebox_teachVideo">
                                <h5 class="tebox_tit">教学视频：</h5>
                                <ul>
                                    <li>
                                        <a href="" class="imga"><img src="/pm/theme1/img/tebox_pic2.jpg" alt=""><b class="playbtn"><i></i></b></a>
                                        <a href="" class="vlink">非农议息大赚</a>
                                    </li>
                                    <li>
                                        <a href="" class="imga"><img src="/pm/theme1/img/tebox_pic2.jpg" alt=""><b class="playbtn"><i></i></b></a>
                                        <a href="" class="vlink">非农议息大赚</a>
                                    </li>
                                    <li class="r">
                                        <a href="" class="imga"><img src="/pm/theme1/img/tebox_pic2.jpg" alt=""><b class="playbtn"><i></i></b></a>
                                        <a href="" class="vlink">非农议息大赚</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="main_tab" t="showtrade">
                <div id="showTradeDiv" class="sd_show sd_list">
                    <div class="scrollbox">
                        <ul class="sd_ul">
                            <!-- 晒单墙内容 -->
                        </ul>
                    </div>
                    <div class="sdbtn_bar">
                        <a href="javascript:void(0);" id="wantShowTrade">我要晒单</a>
                        <a href="javascript:void(0);" class="r" id="myShowTrade">我的晒单</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>