<div class="right_row clearfix">
    <div class="mod_main">
        <div class="main_tabnav">
            <a href="javascript:void(0)" class="on" t="livepride" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_textLive', 'content_right', 1, true]);">
                    <span class="ibox">
                        <span class="hoverbox">
                            <span class="navtext">直播精华<em class="num" id="livePrideCount" style="display:none;"></em></span>
                            <i></i>
                        </span>
                    </span>
            </a>
            <a href="javascript:void(0)" t="chat" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_chat_chat', 'content_right', 1, true]);">
                    <span class="ibox">
                        <span class="hoverbox">
                            <span class="navtext">聊天室<span class="dialognum">（<span></span>）</span>
                                <em class="num" id="chatMsgCount" style="display:none;"></em>
                            </span>
                        <i></i>
                        </span>
                    </span>
            </a>
            <a href="javascript:void(0)" t="teacher" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_LiveTeacher', 'content_right', 1, true]);">
                    <span class="ibox"><span class="hoverbox">
                    <span class="navtext">直播老师</span>
                    <i></i>
                    </span></span>
            </a>
            <a href="javascript:void(0)" t="showtrade" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_showTrade', 'content_right', 1, true]);">
                    <span class="ibox"><span class="hoverbox">
                    <span class="navtext">晒单墙</span>
                    <i></i>
                    </span></span>
            </a>
        </div>
        <div class="tabcont">
            <div class="main_tab on" t="livepride">
                <div class="livebrief_list">
                    <div class="scrollbox">
                        <div id="textlivePanel"></div>
                        <a id="textliveMore" href="javascript:void(0);" class="morebtn" style="">加载更多</a>
                    </div>
                </div>
            </div>
            <div class="main_tab" t="chat">
                <div class="chat_content" id="chatMsgContentDiv">
                    <div class="scrollbox">
                        <div class="dialoglist clearfix" id="dialog_list">
                        <!-- 公聊内容 -->
                        </div>
                    </div>
                    <div class="mymsg dn">
                        <p><span class="sender">Alex</span>对你说：<span class="xcont">按刚才这个逻辑，金价还有一次探底点机会。</span></p>
                        <a href="javascript:void(0);" class="replybtn">回复</a>
                        <a href="javascript:void(0);" class="pop_close" id="mymsgClose"><i>关闭</i></a>
                    </div>
                    <div class="contactbar" id="analystbar">
                        <!--a href="javascript:void(0);" class="contactbtn">联系易老师</a-->
                    </div>
                </div>
                <div class="chat_input">

                    <div class="input_box">
                        <div class="toolbar">
                            <a href="javascript:void(0)" class="tbtn facebtn" id="msgFaceBtn" title="添加表情">表情</a>
                            <a href="javascript:void(0)" class="tbtn clearbtn" title="清屏">清屏</a>
                            <a href="javascript:void(0)" class="tbtn scrollbtn on" title="自动滚屏">滚屏</a>
                            <!--a href="javascript:void(0)" class="tbtn magicbtn" title="魔法表情">魔法表情</a>
                            <a href="javascript:void(0)" class="tbtn flowerbtn" title="鲜花">鲜花</a>
                            <a href="javascript:void(0)" class="tbtn djbtn" title="道具">道具</a-->
                            <div class="tosigninbtn" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_lts_Checkin', 'content_right', 1, true]);"><i></i>签到</div>
                            <div class="facebox dn">
                                <i class="arr"></i>
                                <div class="facecont">
                                    <img src="../images/studio/faceimg.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="input_area">
                            <div class="adiv">
                                <div id="contentText" contenteditable="true" class="ctextarea"></div>
                                <!--div class="lgtip dn">亲，<a href="">登录</a> 后可以发言哦~</div>
                                <textarea class="ctextarea" placeholder="快来参与讨论吧"></textarea-->
                            </div>
                            <div class="who_list dn"><a href="" class="on">李老师</a><a href="">李查德</a><a href="">李师傅</a><a href="">李易峰</a></div>
                            <a href="javascript:void(0)" class="sendbtn" id="sendBtn">发送</a>
                        </div>

                    </div>
                </div>
                <div class="view_select">
                    <div class="se_cont">
                        <div class="selected">看所有人</div>
                        <div class="selectlist">
                            <a href="javascript:void(0)" class="on" t="all" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_lts_filter_all', 'content_right', 1, true]);">看所有人</a>
                            <a href="javascript:void(0)" class="" t="analyst" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_lts_filter_analyst', 'content_right', 1, true]);">看分析师</a>
                            <a href="javascript:void(0)" class="" t="mine" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_lts_filter_all', 'content_right', 1, true]);">与我相关</a>
                        </div>
                    </div>
                    <i></i>
                </div>
            </div>
            <div class="main_tab" t="teacher">
                <div class="teacherlist">
                    <div class="scrollbox">
                        <div class="teacherbox">
                            <div class="te_top">
                                <div class="himg"><img src="" alt=""></div>
                                <div class="info-l">
                                    <span class="te_name"></span><br>
                                    <span class="te_org"></span>
                                </div>
                                <div class="stateshow">
                                    <div class="item">
                                        <i class="i1"></i>
                                        <b></b>
                                        <span>胜率</span>
                                    </div>
                                    <div class="item">
                                        <i class="i2"></i>
                                        <b></b>
                                        <span>月收益</span>
                                    </div>
                                    <!--<div class="item">
                                        <i class="i3"></i>
                                        <b>200h</b>
                                        <span>讲课时长</span>
                                    </div>-->
                                    <!--<div class="item">
                                        <i class="i4"></i>
                                        <b>(1000)</b>
                                        <span>鲜花</span>
                                    </div>
                                    <div class="item">
                                        <i class="i5"></i>
                                        <b>(500)</b>
                                        <span>道具</span>
                                    </div>-->
                                    <div class="item">
                                        <a href="javascript:void(0)" class="support" uid=""><i class="i6"></i></a>
                                        <b></b>
                                        <span>赞</span>
                                    </div>
                                </div>
                            </div>
                            <div class="taglist">
                                <!--<span class="tag"><span>死多头</span><i></i></span>
                                <span class="tag"><span>领军人物</span><i></i></span>-->
                            </div>
                            <p class="intro"><b>特约分析师简介：</b><span></span></p>
                            <div class="clearfix">
                                <div class="view_select teacher_select">
                                    <div class="se_cont">
                                        <div class="selected">查看其他老师</div>
                                        <div class="selectlist"></div>
                                    </div>
                                    <i></i>
                                </div>
                            </div>
                            <div class="sd_show">
                                <h5 class="tebox_tit">战绩：</h5>
                                <ul class="sd_ul"></ul>
                            </div>
                            <div class="tebox_train">
                                <h5 class="tebox_tit">培训班：<span></span></h5>
                                <ul></ul>
                            </div>
                            <div class="tebox_video tebox_teachLive">
                                <h5 class="tebox_tit">精彩直播：</h5>
                                <ul></ul>
                            </div>
                            <div class="tebox_video tebox_studentLive">
                                <h5 class="tebox_tit">学员风采：</h5>
                                <ul></ul>
                            </div>
                            <div class="tebox_video tebox_teachVideo">
                                <h5 class="tebox_tit">教学视频：</h5>
                                <ul></ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="main_tab" t="showtrade">
                <div id="showTradeDiv" class="sd_show sd_list">
                    <div class="scrollbox">
                        <ul class="sd_ul">
                            <!-- 晒单墙内容 -->
                        </ul>
                    </div>
                    <div class="sdbtn_bar">
                        <a href="javascript:void(0);" id="wantShowTrade" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_sdq_woyaoshaidan', 'content_right', 1, true]);">我要晒单</a>
                        <a href="javascript:void(0);" class="r" id="myShowTrade" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_sdq_wodeshaidan', 'content_right', 1, true]);">我的晒单</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>