<!-- mod_menu begin -->
<div class="mod_menu">
    <ul>
        <li class="dropitem dr9">
            <a href="javascript:void(0)" class="item_icon"><i class="i9"></i><span>晒单墙</span><b class="arr"></b></a>
            <div class="dropcont">
                <div class="cont">
                    <div class="allsd_list" p="1">
                        <div class="sdlistcont">
                            <ul class="usersd_list"><!--晒单列表--></ul>
                        </div>
                        <div class="userad_btnbar clearfix">
                            <a href="javascript:void(0)" class="fl">我要晒单</a>
                            <a href="javascript:void(0)" id="myShowTrade">我的晒单</a>
                        </div>
                    </div>
                    <div class="mysd_list dn" p="1">
                        <div class="sdinfo">
                            <div class="sdinfo_cont">
                                <div class="headimg"><img src=""></div>
                                <span>昵<i></i>称:<b></b></span>
                                <span>晒单数:<strong id="sdcount">2</strong></span>
                            </div>
                        </div>
                        <div class="sdlistcont">
                            <ul class="usersd_list"><!--晒单列表--></ul>
                        </div>
                        <div class="userad_btnbar clearfix">
                            <a href="javascript:void(0)" class="fl">我要晒单</a>
                            <a href="javascript:void(0)" id="backShowTrade">返回晒单墙</a>
                        </div>
                    </div>
                    <div class="loading_trade dn"><img src="/pm/theme1/img/loading2.gif" /></div>
                </div>
            </div>
        </li>
        <li class="dropitem dr2">
            <a href="javascript:" class="item_icon"><i class="i2"></i><span>行情</span><b class="arr"></b></a>
            <div class="dropcont">
                <div class="cont">
                    <div class="hqbox">
                        <ul>
                            <li class="up">
                                <div class="hq_top">
                                    <span class="hq">欧元美元</span>
                                    <b id="deltaPercent_EURUSD"></b>
                                </div>
                                <div class="main" id="price_EURUSD"></div>
                                <i></i>
                            </li>
                            <li class="up">
                                <div class="hq_top">
                                    <span class="hq">美元日元</span>
                                    <b id="deltaPercent_USDJPY"></b>
                                </div>
                                <div class="main" id="price_USDJPY"></div>
                                <i></i>
                            </li>
                            <li>
                                <div class="hq_top">
                                    <span class="hq">澳元美元</span>
                                    <b id="deltaPercent_AUDUSD"></b>
                                </div>
                                <div class="main" id="price_AUDUSD"></div>
                                <i></i>
                            </li>
                            <li>
                                <div class="hq_top">
                                    <span class="hq">英镑美元</span>
                                    <b id="deltaPercent_GBPUSD"></b>
                                </div>
                                <div class="main" id="price_GBPUSD"></div>
                                <i></i>
                            </li>
                            <li>
                                <div class="hq_top">
                                    <span class="hq">美元加元</span>
                                    <b id="deltaPercent_USDCAD"></b>
                                </div>
                                <div class="main" id="price_USDCAD"></div>
                                <i></i>
                            </li>
                            <li>
                                <div class="hq_top">
                                    <span class="hq">纽元美元</span>
                                    <b id="deltaPercent_NZDUSD"></b>
                                </div>
                                <div class="main" id="price_NZDUSD"></div>
                                <i></i>
                            </li>
                            <li>
                                <div class="hq_top">
                                    <span class="hq">美元瑞郎</span>
                                    <b id="deltaPercent_USDCHF"></b>
                                </div>
                                <div class="main" id="price_USDCHF"></div>
                                <i></i>
                            </li>
                            <li>
                                <div class="hq_top">
                                    <span class="hq">伦敦金</span>
                                    <b id="deltaPercent_XAUUSD"></b>
                                </div>
                                <div class="main" id="price_XAUUSD"></div>
                                <i></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropitem dr3">
            <a href="javascript:" class="item_icon"><i class="i3"></i><span>财经日历</span><b class="arr"></b></a>
            <div class="dropcont">
                <div class="cont">
                    <!--a href="javascript:void(0);" class="on notebtn"><i></i>桌面通知</a-->
                    <div class="clearfix"></div>
                    <div class="date_select">
                        <input id="calendarFinance" type="text" value="" class="date_inp">
                        <a href="javascript:void(0);">选择日期</a>
                        <div id="calendarContainer"></div>
                    </div>
                    <div class="calendar_ul scrollbox2">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropitem dr6">
            <a href="javascript:" class="item_icon"><i class="i6"></i><span>课件下载</span><b class="arr"></b></a>
            <div class="dropcont">
                <div class="cont">
                    <div class="ppt_list">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropitem dr7">
            <a href="javascript:" class="item_icon"><i class="i7"></i><span>平台下载</span><b class="arr"></b></a>
            <div class="dropcont">
                <div class="cont">
                    <div class="plate_box p1">
                        <h4><b>GTS2</b>桌面版</h4>
                        <span>自主研发</span>
                        <p>跨平台操作,桌面与移动端云端同步不受时间地域限制,随时随地进行交易,更人性化看盘体验,智能化下单功能</p>
                        <a href="http://www.gwfx.com/download/GTS2.exe" target="gts_download" class="downbtn"><i></i><span>下载GTS2桌面版</span></a>
                    </div>
                    <div class="plate_box p2">
                        <h4><b>GTS2</b>移动版</h4>
                        <span>扫一扫下载GTS2开启掌上交易</span>
                        <img src="/fx/theme1/img/plate_2.jpg">
                    </div>
                </div>
            </div>
        </li>
        <li class="dropitem dr8">
            <a href="javascript:" class="item_icon"><i class="i8"></i><span class="line2">扫一扫<br>移动在线</span><b class="arr"></b></a>
            <div class="dropcont" style="height:300px;">
                <div class="cont">
                    <div class="qr_box">
                        <img src="/fx/theme1/img/firmlive_qr.png" alt="">
                        <span>扫一扫<br>手机在线教育</span>
                    </div>
                    <!--<div class="qr_box">
                        <img src="/fx/theme1/img/firmlive_qr2.png" alt="">
                        <span>微信解盘<br>快来扫</span>
                    </div>-->
                </div>
            </div>
        </li>
        <li class="dropitem dr10">
            <a href="javascript:void(0)" class="item_icon"><i class="i10"></i><span>央行动态</span><b class="arr"></b></a>
            <div class="dropcont">
                <div class="cont">
                    <div class="yxlist">
                        <ul>
                            <li class=""><a href="http://www.gwfx.com/special/federal_reserve/index.html" target="_blank" onclick="_gaq.push(['_trackEvent','fx_studio','meilianchu','float_right',1,true]);"><i class="i1"></i><span>美联储议息</span></a></li>
                            <li class="c2"><a href="http://www.gwfx.com/special/european_centralbank/index.html" target="_blank" onclick="_gaq.push(['_trackEvent','fx_studio','ouyanghang','float_right',1,true]);"><i class="i2"></i><span>欧央行议息</span></a></li>
                            <li class=""><a href="http://www.gwfx.com/special/boe/index.html" target="_blank" onclick="_gaq.push(['_trackEvent','fx_studio','yingyanghang','float_right',1,true]);"><i class="i3"></i><span>英央行议息</span></a></li>
                            <li class="c2"><a href="http://www.gwfx.com/special/boj/index.html" target="_blank" onclick="_gaq.push(['_trackEvent','fx_studio','riyanghang','float_right',1,true]);"><i class="i4"></i><span>日央行议息</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropitem dr11">
            <a href="javascript:void(0)" class="item_icon"><i class="i11"></i><span>热点专题</span><b class="arr"></b></a>
            <div class="dropcont">
                <div class="cont">
                    <div class="fxsplist">
                        <ul>
                            <li class=""><a href="http://www.gwfx.com/special/eia/index.html" target="_blank"><i class="i1"></i><span>EIA数据中心</span><b></b></a></li>
                            <li class=""><a href="http://www.gwfx.com/special/non_farm/index.html" target="_blank"><i class="i2"></i><span>非农专题</span><b></b></a></li>
                            <li class=""><a href="http://www.gwfx.com/special/USelections/index.html" target="_blank"><i class="i3"></i><span>美国大选</span><b></b></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
		<!-- <li class="menu_ad">
            <a href="http://www.gwfx.com/activity/studioPlan/index.html" onclick="_gaq.push(['_trackEvent', 'fx_studio', 'menu_img', '天使计划']);" target="_blank">
                <img src="/fx/theme1/img/menu_ad.png" alt="">
            </a>
        </li> -->
    </ul>
    <div class="radius_tool">
        <i class="topl"></i>
        <i class="topr"></i>
        <i class="botl"></i>
        <i class="botr"></i>
    </div>
</div>
<!-- mod_menu end -->