<div class="blackbg dn"></div>
<!-- 上课通知设置 -->
<div class="popup_box notice dn">
	<div class="cont">
    	<div class="pop_tit">上课通知设置</div>   
    	<div class="notice_set">
        	<div class="set_box clearfix" style="z-index:2">
            	<div class="set_name">上课时间</div>
                <div class="time_select">
                    <div class="se_cont">
                        <div class="selected">星期四 13：00</div>
                        <div class="selectlist">
                            <a href="javascript:" class="">星期四 10：00</a>
                            <a href="javascript:" class="">星期四 13：00</a>
                            <a href="javascript:" class="">星期四 17：00</a>
                        </div>
                    </div>
                    <i></i>
                </div>
            </div>
            <div class="set_box clearfix">
            	<div class="set_name">上课老师</div>
                <div class="set_show">雷老师</div>
            </div>
            <div class="set_box clearfix">
            	<div class="set_name s1">主<i></i>题</div>
                <div class="set_show">2016年金汇投资展望</div>
            </div>
            <div class="set_box clearfix">
            	<div class="set_name s2">手<i></i>机<i></i>号</div>
                <input type="text" class="set_inp" placeholder="用于短信通知您上课" id="notice_num">
            </div>
            <div class="btnbar"><input type="button" class="set_submit" value="确定"></div>
        </div>
    	<a class="pop_close" href="javascript:"><i>关闭</i></a>
    </div>
</div>

<!-- 专家咨询 -->
<div class="popup_box expert dn">
	<div class="cont">
    	<div class="pop_tit">专家咨询</div>
    	<div class="expert_box">
            <div class="set_box b2 clearfix">
            	<div class="set_name">收件人</div>
                <div class="set_show">cs@gwfx.com</div>
            </div>
            <div class="set_box b2 clearfix">
            	<div class="set_name s1">发件人</div>
                <input id="mailFrom" type="text" class="set_inp" placeholder="建议输入qq/手机号码/邮箱" >
            </div>
            <div class="set_box b2 clearfix">
            	<textarea id="mailContent" placeholder="输入您想对专家说的话~" class="set_textaera"></textarea>
            </div>
            <div class="set_box b2 clearfix" id="verifyCodeId">
                <div class="set_name s1">验证码</div>
                <img class="verify_img" alt="验证码">
                <input id="mailImgCode" type="text" class="set_inp" placeholder="请输入验证码" >
            </div>
            <div class="error"><i></i>输入内容有误，请重新输入！</div>
            <div class="btnbar"><input id="btnSendMail" type="button" class="set_submit" value="提交"></div>
        </div>
    	<a class="pop_close" href="javascript:"><i>关闭</i></a>
    </div>
</div>

<!-- 直播间注册 -->
<div class="popup_box register dn">
	<div class="cont">
    	<div class="pop_tit">直播间注册</div>   
    	<form method="post" action="">
            <div class="formcont">
            	<div class="in_line">
                	<i class="ic_phone"></i>
                	<input type="text" placeholder="手机号" class="in1">
                </div>
                <div class="in_line clearfix">
                	<i class="ic_msg"></i>
                	<input type="text" placeholder="短信验证码" class="in1 in2">
                    <a href="" class="rbtn">获取验证码</a><!--<a href="" class="rbtn pressed">60s...</a>按钮点击后的样式-->
                </div>
                <div class="in_line">
                	<i class="ic_user"></i>
                	<input type="text" placeholder="用户昵称" class="in1">
                </div>
                <div class="in_line">
                	<i class="ic_psw"></i>
                	<input type="password" placeholder="设置密码" class="in1">
                </div>
                <div class="in_line">
                 	<i class="ic_psw"></i>
                	<input type="password" placeholder="再次输入密码" class="in1">
                </div>
                
            </div>    
            <div class="error"><i></i>输入内容有误，请重新输入！</div>
            <div class="btnbar"><input type="button" class="set_submit" value="提交"></div>
        </form>
    	<a class="pop_close" href="javascript:"><i>关闭</i></a>
    </div>
</div>

<!-- 昵称设置 -->
<div class="popup_box reset_psw nk_box dn">
	<div class="cont">
    	<div class="pop_tit">设置昵称</div>
    	<form method="post" action="" id="setNkForm">
            <div class="formcont">
            	<div class="in_line">
                	<i class="ic_psw"></i>
                    <input type="text" placeholder="填一个好听的昵称吧" name="nickname" class="in1"/>
                </div>
            </div>
            <div class="error dn"></div>
            <div class="btnbar"><input type="button" class="set_submit" value="确定" id="setNkBtn"></div>
        </form>
    	<a class="pop_close" href="javascript:"><i>关闭</i></a>
    </div>
    <i class="img-loading" style="top: 50%;right: 50%;display:none;" id="setNkLoad"></i>
</div>

<!-- 忘记密码第一步 -->
<div class="popup_box forget_psw1 dn">
	<div class="cont">
    	<div class="pop_tit">重设密码</div>   
    	<form method="post" action="">
            <div class="formcont">
            	<div class="in_line">
                	<i class="ic_phone"></i>
                	<input type="text" placeholder="手机号" class="in1">
                </div>
                <div class="in_line clearfix">
                	<i class="ic_msg"></i>
                	<input type="text" placeholder="短信验证码" class="in1 in2">
                    <a href="" class="rbtn">获取验证码</a><!--<a href="" class="rbtn pressed">60s...</a>按钮点击后的样式-->
                </div>
        
            </div>    
            <div class="error"><i></i>输入内容有误，请重新输入！</div>
            <div class="btnbar"><input type="button" class="set_submit" value="下一步"></div>
        </form>
    	<a class="pop_close" href="javascript:"><i>关闭</i></a>
    </div>
</div>

<!-- 忘记密码第二步 -->
<div class="popup_box forget_psw2 dn">
	<div class="cont">
    	<div class="pop_tit">重设密码</div>   
    	<form method="post" action="">
            <div class="formcont">
            	<div class="in_line">
                	<i class="ic_psw"></i>
                	<input type="password" placeholder="新的密码" class="in1">
                </div>
                <div class="in_line">
                 	<i class="ic_psw"></i>
                	<input type="password" placeholder="确认新的密码" class="in1">
                </div>
        
            </div>    
            <div class="error"><i></i>输入内容有误，请重新输入！</div>
            <div class="btnbar"><input type="button" class="set_submit" value="确定"></div>
        </form>
    	<a class="pop_close" href="javascript:"><i>关闭</i></a>
    </div>
</div>

<!-- 直播间登录 -->
<div class="popup_box login dn" id="loginBox">
	<div class="cont">
    	<div class="pop_tit">直播间登录</div>
    	<form method="post" action="" id="loginForm">
            <input type="hidden" name="clientStoreId"/>
            <!--<div class="login_nav">
            	<a href="javascript:" class="a1">用户登录<i></i></a>
            	<a href="javascript:" class="on a2">验证码登录<i></i></a>
            </div>
            <div class="login_tab">
                <div class="formcont">
                    <div class="in_line">
                        <i class="ic_phone"></i>
                        <input type="password" placeholder="手机号码" class="in1">
                    </div>
                    <div class="in_line">
                        <i class="ic_psw"></i>
                        <input type="password" placeholder="密码" class="in1">
                    </div>
                </div>    
            </div>-->
            <div class="login_tab on">
                <div class="formcont">
                    <div class="in_line">
                        <i class="ic_phone"></i>
                        <input type="text" name="mobilePhone" placeholder="手机号码" class="in1" maxlength="11">
                    </div>
                    <div class="in_line clearfix">
                        <i class="ic_msg"></i>
                        <input type="text"  name="verifyCode" placeholder="短信验证码" class="in1 in2"/>
                        <a href="javascript:" class="rbtn" ut="fxstudio_login" t="120">获取验证码</a>
                    </div>
                </div>
            </div>
            <div class="in_line clearfix" style="color: #999;line-height: 18px;font-size: 14px; margin-bottom: 10px;">
                <div class="fl<%if(fromPlatform == 'wechat'){%> dn<%}%>">
                    <input type="checkbox" id="autoLogin" checked="checked">
                    <label for="autoLogin">下次自动登录</label>
                </div>
                <span class="fr">如未收到验证码，请咨询<a onclick="openLive800Chat();_gaq.push(['_trackEvent', 'fx_studio', 'chat_live800', 'content_login', 1, true]);" href="javascript:void(0);" style="color:#2980d1;">在线客服</a></span>
            </div>
            <div class="error dn"></div>
            <div class="btnbar"><input type="button" class="set_submit" value="登录" id="logBtnSub"></div>
           <!-- <div class="botbar">
            	&lt;!&ndash;<a href="" class="fl">忘记密码？</a>&ndash;&gt;
                &lt;!&ndash;<span class="fr">如未收到验证码，请咨询<a onclick="openLive800Chat();_gaq.push(['_trackEvent', 'fx_studio', 'chat_live800', 'content_login', 1, true]);" href="javascript:void(0);">在线客服</a></span>&ndash;&gt;
            </div>-->
        </form>
    	<a class="pop_close" href="javascript:"><i>关闭</i></a>
    </div>
    <i class="img-loading" style="top: 50%;right: 50%;display:none;" id="formBtnLoad"></i>
</div>

<!-- 升级等级说明 -->
<div class="popup_box upgrade dn" style="top:40%;width:580px;">
	<div class="cont">
    	<div class="upg_box">
        	<span>金道直播间用户登录分为5级，根据用户注册情况选择升级，详情如下：</span>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <th width="70"><span class="fir">级别</span></th>
                        <th width="112"><span>说明</span></th>
                        <th><span>权限</span></th>
                        <th width="112"><span>操作</span></th>
                    </tr>
                </tbody>
                <tbody id="upg_tbody_id"></tbody>
            </table>
            <i class="img-loading" style="top: 50%;right: 50%;display:none;"  id="up_loading"></i>
        </div>
    	<a class="pop_close" href="javascript:"><i>关闭</i></a>
    </div>
</div>


<!-- 升级成功或失败 -->
<div class="popup_box upgrade_result dn" style="width:580px;">
	<div class="cont">
    	<div class="upg_result fail">
        	<i></i>
            <h4>很遗憾，升级失败！</h4>
            <span>您未开通金道模拟交易账户，如有疑问请联系客服！</span>
            <div class="kh-btn clearfix">
                <a href="http://oa.gwfx.com/zh/nzAccount.html?utm_source=studio&utm_medium=yy&utm_content=shengji&utm_campaign=nzAccount" target="_blank" class="fl">
                    <i class="real"></i><span>真实交易开户</span>
                </a>
                <a href="http://oa.gwfx.com/zh/demo-account-gts2.html?utm_source=studio&utm_medium=yy&utm_content=shengji&utm_campaign=demo-account-gts2" target="_blank" class="fr">
                    <i class="mn"></i><span>模拟交易开户</span>
                </a>
      		</div>
        </div>
        <div class="upg_result succ">
            <i></i>
            <h4>升级成功！重新登录后，您可享用更多直播间权限！ </h4>
            <span class="dn" id="studioUpgA">注：你已经激活真实交易账户，直接为你升级到A级别。</span>
        </div>
    	<a class="pop_close" href="javascript:"><i>关闭</i></a>
    </div>
</div>

<!-- 注册成功 -->
<div class="popup_box register_result dn">
	<div class="cont">
    	<div class="reg_result">
        	<i></i>
            <h4>恭喜您注册直播间成功！ </h4>
        </div>
    	<a class="pop_close" href="javascript:"><i>关闭</i></a>
    </div>
</div>

<!-- 私信窗口 -->
<div class="pletter_win clearfix mult dn">
    <div class="mult_dialog"></div>
</div>
<div id="wh_content_tmp">
    <div class="cont dn">
        <div class="tit wh_drag"><label class="wh_nk"></label><label class="tit">【<strong></strong>】</label></div>
        <div class="chat_content">
            <div class="wh-content" style="height:269px">
                <div class="dialoglist clearfix"></div>
            </div>
        </div>
        <div class="input_box">
            <div class="toolbar">
                <a href="javascript:" class="tbtn facebtn" title="添加表情"></a>
            </div>
            <div class="input_area">
                <div class="adiv">
                    <!--<textarea class="ctextarea" placeholder="按回车发送私信"></textarea>-->
                    <div contenteditable="true" class="ctextarea"></div>
                </div>
                <a href="javascript:" class="sendbtn"><i></i><span>发送</span></a>
            </div>
        </div>
        <a class="pop_small" href="javascript:" title="最小化"><i>最小化</i></a>
        <a class="pop_close" href="javascript:" title="关闭"><i>关闭</i></a>
    </div>
</div>

<!-- 通用提示框 -->
<div class="popup_box pub_hint dn" id="popMsgBox">
    <div class="cont" id="popMsgCont">
        <h4 id="popMsgTit"></h4>
        <p id="popMsgTxt"></p>
        <a id="popMsgClo" class="pop_close" href="javascript:void(0)"><i>关闭</i></a>
    </div>
</div>

<!-- 通用自动关闭提示框 -->
<section class="tipsbox dn">
    <div class="cont"></div>
</section>

<!-- 广告弹窗 -->
<div class="popup_box popbanner banner_pic1 dn" id="main_ad_box">
    <div class="cont">
        <div class="btn_new">
            <a href="javascript:void(0)" class="btn_a" id="mainAdBtn1">
                <img src="/fx/theme1/img/btn_new1.png" />
            </a>
            <a href="javascript:void(0)" class="btn_b" id="mainAdBtn2">
                <img src="/fx/theme1/img/btn_new2.png" />
            </a>
        </div>
        <a class="pop_close" href="javascript:void(0)"><i>关闭</i></a>
    </div>
</div>

<div class="popup_box popbanner banner_pic2 dn" id="main_ad1_box">
    <div class="cont">
        <!-- <a href="#" target="_blank" class="act_link"></a> -->
        <a class="pop_close" href="javascript:void(0)"><i>关闭</i></a>
    </div>
</div>

<!-- 晒单权限弹窗 -->
<div class="popup_box pop_sd dn" id="sdNoAuthBox">
    <div class="cont">
        <div class="sd_stat">
            <i></i>
            <h4>持仓晒单仅限已入金的真实客户查看</h4>
            <p class="sdzl"><span>如需查看，请联系老师助理</span><i></i></p>
        </div>
        <div class="te_aid sdzl">
            <span>老师助理：</span>
            <a class="aid_chat"><div class="imgdiv"><img src="/fx/theme1/img/manager.png"></div><span>小雪（助理）</span></a>
        </div>
        <a class="pop_close" href="javascript:void(0)"><i>关闭</i></a>
    </div>
</div>