<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
<head>
<title>手机视频直播 - 首页</title>
<meta name="keywords" content="手机视频直播" />
<meta name="description" content="手机视频直播" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="telephone=no" name="format-detection">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<link rel="stylesheet" media="screen" href="/css/studio_mb/index.min.css" />
<link rel="stylesheet" media="screen" href="/css/swiper.min.css" />
</head>

<body class="home">
<section class="content_w">
    <header id="header">
        <section class="content_w clearfix">
            <div class="logobar">
                <a href="http://m.24k.hk" target="_blank">金道贵金属</a>
                <h1 class="hide-t">视频直播间</h1>
            </div>
            <div class="rightbar">
                <a href="javascript:openQQChatByCommonjs();" class="qq"><i></i></a>
                <a id="header_ui" href="javascript:void(0)" class="loginbtn"><%= userSession.isLogin ? userSession.nickname : '登录' %></a>
            </div>
        </section>
    </header>

    <section class="sroll-box">
        <section class="scroll-imbd swiper-container" id="slider">
            <ul class="clearfix swiper-wrapper">
            </ul>
            <nav id="position" class="dot-infobox scroll_position">
            </nav>
        </section>
    </section>

    <!-- 切换tab -->
    <section class="cen-qhbox swiper-container">
        <ul class="cen-ulist clearfix">
            <li class="on" t="studioListTab"><span>直播视频</span></li>
            <li t="tradeInfoTab"><span>交易策略</span></li>
            <li t="commentTab"><span>专业评论</span></li>
        </ul>
        <article class="cen-qhcon swiper-wrapper">
            <!-- 直播视频begin -->
            <section class="cen-pubox swiper-slide" id="studioListTab">
                <div class="boxcont">
                    <ul class="videoroom-ul">
                        <% if (studioList!='[]') { %>
                        <% studioList.forEach(function(row,index){ %>
                        <li class="<%=(!row.disable && row.isOpen ? 'live' : '')%>" ga="<%=!row.disable%>" go="<%=row.isOpen%>" gi="<%= row.id %>">
                            <section class="room-main clearfix">
                                <div class="tit">
                                    <b><%= row.name %></b><i class="st"></i><br>
                                    <span aw="<%= row.clientGroup %>">所有客户均可观看</span>
                                </div>
                                <div class="btns">
                                    <a href="javascript:void(0)" class="timebtn">课程表</a>
                                    <a href="javascript:void(0)" class="enter">进入</a>
                                </div>
                            </section>
                            <section class="room-info">
                                <div class="info intro">
                                    <span class="tag"><b>房间介绍</b></span>
                                    <p><%=row.remark %></p>
                                </div>
                                <div class="info syllabus">
                                    <span class="tag"><b>课程表</b></span>
                                    <table class="timetable" border="0" cellpadding="0" cellspacing="1" width="100%">
                                    </table>
                                </div>
                            </section>
                        </li>
                        <% }); %>
                        <% } %>
                    </ul>
                </div>
            </section>
            <!-- 直播视频end -->
            <!-- 交易策略begin -->
            <section class="cen-pubox swiper-slide" id="tradeInfoTab">
                <div class="boxcont">
                    <a href="javascript:void(0)" class="moreitem">更多交易策略</a>
                </div>
            </section>
            <!-- 交易策略end -->
            <!-- 专业评论begin -->
            <section class="cen-pubox swiper-slide" id="commentTab">
                <div class="boxcont">
                    <a href="javascript:void(0)" class="moreitem">更多专业评论</a>
                </div>
            </section>
            <!-- 专业评论end -->
        </article>
    </section>
</section>

<!-- 收藏提示begin -->
<footer class="collect-tip dn">
    <div class="content_w">
        <b></b>
        <p>先保存书签, 再添加到主屏幕<br>随时打开看直播</p>
        <a href="javascript:void(0)" class="c_close"></a>
    </div>
</footer>
<!-- 收藏提示end -->

<!-- 底部悬浮菜单begin-->
<div class="fob_open">
    <div>
        <a target="_blank" onclick="javascript:void(0)" class="fb_open_real" href="http://m.24k.hk/realaccount_open.html">开真实账户</a>
        <a target="_blank" onclick="javascript:void(0)" class="fb_open_analog" href="http://m.24k.hk/demoaccount_open.html">无风险模拟</a>
        <a onclick="openLive800Chat();" class="fb_consult" style="background-image:none"><i class="qq-fon"><s></s></i>立即咨询</a>
    </div>
</div>
<!-- 底部悬浮菜单end-->

<!-- 弹出层begin -->
<section class="popupbg dn">
    <section class="popupbox pop-time dn">
        <div class="cont">
            <div class="titlebar">
                <span>课程表</span>
            </div>
            <div class="sc_cont">
                <table class="timetable" border="0" cellpadding="0" cellspacing="1" width="100%">
                </table>
            </div>
            <a href="javascript:void(0)" class="pop-close"></a>
        </div>
    </section>

    <% include pop.html %>
</section>
<section class="errorbox dn">
    <div class="cont"></div>
</section>
<!-- 弹出层end -->

<script type="text/javascript" src="/js/lib/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/js/lib/swiper.min.js"></script>
<script type="text/javascript" src="/js/lib/store.min.js"></script>
<script type="text/javascript" src="/js/util/common.min.js"></script>
<script type="text/javascript" src="/js/studio_mb/index.js"></script>
<script type="text/javascript">
$(function(){
    studioChatMbIdx.userInfo=JSON.parse('<%- userInfo %>');
    studioChatMbIdx.mobile24kPath='<%= mobile24kPath %>';
    studioChatMbIdx.apiUrl='<%= apiUrl %>';
    studioChatMbIdx.init();
});
</script>
</body>
</html>