<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
<head>
<title>金道贵金属微解盘</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="telephone=no" name="format-detection">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<link rel="stylesheet" media="screen" href="/css/swiper3.1.0.min.css" />
<link rel="stylesheet" media="screen" href="/css/wechat/index.min.css" />
</head>
<body>
<section class="con-pubox">
  <section class="sroll-box">
    <section class="scroll-imbd swiper-container" id="slider">
        <ul class="clearfix swiper-wrapper"></ul>
      <nav id="position" class="dot-infobox scroll_position">
     </nav>
    </section>
    <aside class="zaix-count">
      <section class="zaix-bg"></section>
      <section class="zaix-con">在线人数：<span id="onlineUserNum"></span></section>
    </aside>
  </section>

  <article class="anounce">
    <ul class="anouncelist" id="bulletinDomId">
    </ul>
  </article>

  <!-- 切换tab -->
  <section class="cen-qhbox swiper-container">
    <ul class="cen-ulist clearfix">
      <li class="on"><span>专家解盘</span></li>
      <li><span>交易策略<i>NEW</i></span></li>
    </ul>
    <article class="cen-qhcon swiper-wrapper">
      <!-- 专家解盘begin -->
      <section class="cen-pubox swiper-slide">
      	<div class="boxcont">
              <ul class="expert-ul"></ul>
              <i class="loading-box"></i>
             <footer class="copyright">金道贵金属公司版权所有</footer>
        </div>
      </section>
      <!-- 专家解盘end -->
      <!-- 交易策略begin -->
      <section class="cen-pubox swiper-slide">
          <div class="boxcont">
            <ul class="tactics-ul"></ul>
              <i class="loading-box"></i>
              <a href="javascript:" class="moreitem">更多交易策略...</a>
          </div>
      </section>
      <!-- 专家解盘end -->
    </article>
  </section>
  
  

</section>
<section class="popupbg dn">
    <section class="popupbox expert-intro ex1 dn">
    	<div class="cont">
        	<img src="" alt="" class="introimg">
            <div class="titlebar">
            	<span>分析师简介</span>
            </div>
            <div class="scrollbox">
                <p class="zw"></p>
            </div>
           <nav class="fxs-btn clearfix"><a href="javascript:" class="conut-on" style="float: right;"><i></i><span></span><b>+1</b></a><!--<a href="javascript:" class="enter-on">进入房间</a>--></nav>
           <a href="javascript:" class="pop-close"></a>
        </div>
    </section>
    
    <section class="popupbox anounce-info dn">
    	<div class="cont">
            <div class="titlebar2">
            	<h3></h3>
            	<span></span>
            </div>
            <div class="scrollbox">
                <p class="zw"></p>
            </div>
           <a href="javascript:void(0)" class="pop-close"></a>
        </div>
    </section>
    
    <section class="popupbox text-info dn">
    	<div class="cont">
            <div class="titlebar2">
            	<h3></h3>
            	<span class="color2"><label></label>&nbsp;&nbsp;&nbsp;&nbsp;来源：金道贵金属</span>
            </div>
            <div class="scrollbox">
              <p class="zw"></p>
           </div>
           <a href="javascript:void(0)" class="pop-close"></a>
        </div>
        
    </section>
    
    <section class="popupbox video-info dn">
    	<div class="cont">
            <div class="titlebar2">
            	<h3></h3>
            	<span class="color2"><label></label>&nbsp;&nbsp;&nbsp;&nbsp;来源：金道贵金属</span>
            </div>
            <div class="scrollbox">
            <div class="videobox"></div>
            <p class="brief"></p>
           </div>
           
           <a href="javascript:void(0)" class="pop-close"></a>
        </div>
        
    </section>
    
</section>
<section class="errorbox my dn">
    <div class="cont">
    </div>
</section>
<script type="text/javascript" src="/js/lib/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.swipebox.min.js"></script>
<script type="text/javascript" src="/js/lib/swiper3.1.0.jquery.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.superslide.2.1.1.js"></script>
<script type="text/javascript" src="/js/lib/socket.io.js"></script>
<script type="text/javascript" src="/js/util/common.min.js?t=<%=new Date()%>"></script>
<script type="text/javascript" src="/js/wechat/index.min.js?t=<%=new Date()%>"></script>
<script type="text/javascript">
    wechat.userInfo=JSON.parse('<%- userInfo %>');
    wechat.socketUrl=JSON.parse('<%- socketUrl %>');
</script>
</body>
</html>
