<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>金道贵金属微解盘</title>
    <meta name="keywords" content="金道贵金属微解盘" />
    <meta name="description" content="金道贵金属微解盘" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="stylesheet" href="/css/swipebox.min.css">
    <link type="text/css" rel="stylesheet" href="/css/wechat/index.min.css?t=<%=new Date()%>" media="screen"/>
    <style type="text/css">
        /**---------------开发加入，begin----------**/
        .dt-txt-name{ position: absolute;top: 5px;left: 5px; }
        .dt-send-name{ color:#093491; margin-right:5px; cursor:pointer;white-space:nowrap;display: inline-block;}
        /**---------------开发加入，end----------**/
    </style>
</head>
<body>
<header id="header">
  <section class="cop-info clearfix">
    <h1 id="logo" class="fl"><a href="http://m.24k.hk" class="hide-t">金道贵金属</a></h1>
    <p class="online-count fl">房间人数<span id="onlineUserNum"></span></p>
    <aside class="user-intr fr">
      <span class="user-img"><img src="" width="20" height="20" alt="头像" /><i class="user-stadus">游客</i></span>
      <span class="user-name"></span>
      <a href="/wechat" class="leavebtn">退出</a>
    </aside>
  </section>
  <section class="date-box dn">
    <ul class="clearfix" id="product_price_ul">
        <li name="XAUUSD" class="date-up">
            <h2>伦敦金</h2>
            <p class="date-sz" id="price_XAUUSD">--</p>
            <p><span id="deltaPrice_XAUUSD">--</span> <span id="deltaPercent_XAUUSD">--</span></p>
        </li>
        <li name="XAGUSD" class="date-up">
            <h2>伦敦银</h2>
            <p class="date-sz" id="price_XAGUSD">--</p>
            <p><span id="deltaPrice_XAGUSD">--</span> <span id="deltaPercent_XAGUSD">--</span></p>
        </li>
        <li name="USDX" class="date-up">
            <h2>美元指数</h2>
            <p class="date-sz" id="price_USDX">--</p>
            <p><span id="deltaPrice_USDX">--</span> <span id="deltaPercent_USDX">--</span></p>
        </li>
        <li name="CLWTI" class="date-up">
            <h2>纽约原油</h2>
            <p class="date-sz" id="price_CLWTI">--</p>
            <p><span id="deltaPrice_CLWTI">--</span> <span id="deltaPercent_CLWTI">--</span></p>
        </li>
    </ul>
    <a href="javascript:void(0)" class="hide-btn">收</a>
  </section>

  <aside class="adbox dn" id="room_advertisement"><a href="javascript:"><img src=""  style="width:100%;height:auto;" alt="广告"></a><s></s></aside>
  <section class="ss-tk-info dn" id="top_info"><label></label><span style="margin-left:5px;text-align:justify;"></span><i id="close_top_btn"></i></section>
  <section class="hq-btn">
  	<div class="wave wave1"></div>
    <div class="wave wave2"></div>
  </section>
  <section class="kf-btn"></section>
</header>
<!-- header end -->
<section class="wrapper" id="content_div">
  <article class="talk-infobox">
    <ul id="content_ul"></ul>
    <i class="loading-box"></i>
  </article>
</section>

<!-- footer begin -->
<footer class="float-box">
  <article class="float-con">
    <button class="set-btn hide-t">设置</button>
    <section class="set-bar clearfix dn">
    	<a href="javascript:" class="set-close"></a>
    	<article class="kaig-icon">只看分析师<span class="kg-stadus guan-fon" id="readSet"><i></i></span></article>
        
  	</section>
    <section class="inp-fon-tix">
        <dt class="dt-txt-name" id="txtNicknameId"></dt>
        <textarea  id="contentText" class="text-area-box"></textarea>
    </section>
    <button class="add-btn hide-t" id="addBtn">添加</button>
      <section class="add-img dn">
          <article class="add-img-in">
              <aside class="select-img"><i></i></aside>
              <input type="file" class="file-img" id="fileBtn" accept="image/*" capture="camera"/>
              <p>图片</p>
          </article>
      </section>
      <button class="send-btn" style="display:none" id="sendBtn">发送</button>
  </article>
</footer>
<!-- footer end -->

<!--登录 begin-->
<section class="layer-out dn" id="openBox" style="display: none;">
   <section class="layer-con" id="loginSection">
    <a href="javascript://" class="del-btn" title="关闭"></a>
    <h3>登录验证</h3>
    <section class="form-box">
        <form id="loginForm">
            <input type="hidden"  name="userId"/>
            <input type="hidden"  name="groupId"/>
            <input type="hidden"  name="nickname"/>
            <input type="hidden"  name="fromPlatform"/>
            <input type="hidden"  name="userType"/>
           <div class="cont">
                <div class="line">
                    <input type="text" placeholder="请输入账号" class="input_l" name="accountNo">
                </div>
                <div class="line">
                    <input type="text" placeholder="请输入手机号" class="input_l" name="mobilePhone">
                </div>
                <div class="line line_d clearfix">
                    <input type="text" placeholder="请输入短信验证码" class="input_l" name="verifyCode">
                    <div class="rbtn_out"><input type="button" class="rbtn" disabled="disabled" ut="wechat_login" value="获取验证码"/></div>
                </div>
           </div>
           <p class="wrong-info"></p>
           <button type="button" class="submit-btn" id="formBtn">提交</button>
      </form>
      <i class="loading-box" id="formBtnLoad"></i>
    </section>
  </section>
    <!--登录成功 begin-->
    <section class="layer-con dn" id="tipSection">
        <a href="javascript:" class="del-btn" title="关闭"></a>
        <h2 class="icontit"></h2>
        <p class="succ-p-info"></p>
    </section>
    <!--登录成功 begin-->
</section>
<!--登录 end-->
<section class="layer-shadow dn"></section>
<!--登录 end-->
<section class="errorbox my dn">
    <div class="cont">
        <span></span>
    </div>
</section>
<script type="text/javascript" src="/js/lib/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.xdomainrequest.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.swipebox.min.js"></script>
<script type="text/javascript" src="/js/lib/socket.io.js"></script>
<script type="text/javascript" src="/js/lib/websocket.min.js"></script>
<script type="text/javascript" src="/js/lib/toucher.js"></script>
<script type="text/javascript" src="/js/lib/newquote.js"></script>
<script type="text/javascript" src="/js/util/common.min.js"></script>
<script type="text/javascript" src="/js/wechat/room.min.js?t=<%=new Date()%>"></script>
<script type="text/javascript">
    room.userInfo=JSON.parse('<%- userInfo %>');
    room.socketUrl=JSON.parse('<%- socketUrl %>');
</script>
</body>
</html>