<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
<head>
    <title>手机视频直播 - 首页</title>
    <meta name="keywords" content="手机视频直播" />
    <meta name="description" content="手机视频直播" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <script type="text/javascript" src="/base/lib/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/base/lib/store.min.js"></script>
    <!-- 自动登录 begin -->
    <script type="text/javascript" src="/hx/theme2/js/loginAuto.js"></script>
    <script>
        LoginAuto.sessionUser = JSON.parse('<%- userInfo %>');
        LoginAuto.init();
        //初始化ga，防止ga脚本加载失败导致的页面异常
        var ga = function(){};
        var _trackData = [];
    </script>
    <!-- 自动登录 end -->
    <link rel="stylesheet" media="screen" href="/hx/theme2/css/index<%=isDevTest? '.css' : ('.min.css?t=' + new Date().getTime())%>" />
    <link rel="stylesheet" media="screen" href="/base/lib/swipe/swiper.min.css" />
</head>

<body class="home">
<section class="content_w">
    <header id="header">
        <section class="content_w clearfix">
            <div class="logobar">
                <!--<h1 class="hide-t">视频直播间</h1>-->
            </div>
            <div class="rightbar">
                <a href="javascript:" onclick="studioMbPop.openCSBox();ga('send', 'event', 'chat_m', 'qq', 'hxstudio_toplink');_trackData.push(['addaction','chat_m', 'qq', 'hxstudio_toplink']);" class="qq"><i></i></a>
                <a id="header_ui" href="javascript:void(0)" class="loginbtn" onClick="ga('send', 'event', 'click_m', 'login', 'hxstudio_toplink');_trackData.push(['addaction','click_m', 'login', 'hxstudio_toplink']);">
                    <%= userSession.isLogin ? userSession.nickname : '登录' %>
                </a>
            </div>
        </section>
    </header>

    <section class="sroll-box">
        <section class="scroll-imbd swiper-container" id="slider">
            <ul class="clearfix swiper-wrapper">
            </ul>
            <nav id="position" class="dot-infobox scroll_position"></nav>
        </section>
    </section>

    <!-- 切换tab -->
    <section class="cen-qhbox swiper-container">
        <ul class="cen-ulist clearfix">
            <li class="on" t="studioListTab"><span>直播视频</span></li>
            <li t="newInfoTab"><span>快讯</span></li>
            <li t="bulletinTab"><span>房间规则</span></li>
        </ul>
        <article class="cen-qhcon swiper-wrapper">
            <!-- 直播视频begin -->
            <section class="cen-pubox swiper-slide" id="studioListTab">
                <div class="boxcont">
                    <ul class="videoroom-ul">
                        <% if (studioList!='[]') { %>
                        <% studioList.forEach(function(row,index){ %>
                        <li class="<%=((!row.disable || !userSession.isLogin) && row.isOpen ? 'live' : '')%>" ga="<%=!row.disable%>" go="<%=row.isOpen%>" gi="<%= row.id %>">
                            <section class="room-main clearfix">
                                <div class="room-left">
                                    <b><%= row.name %></b>
                                    <div class="btns">
                                        <a href="javascript:void(0)" class="timebtn" onClick="ga('send', 'event', 'click_m', 'kecb_<%= row.id %>', 'hxstudio_leftlink');_trackData.push(['addaction','click_m', 'kecb_<%= row.id %>', 'hxstudio_leftlink']);">
                                            课程表
                                        </a>
                                        <a href="javascript:void(0)" class="enter" onClick="ga('send', 'event', 'link_m', 'enter_<%= row.id %>', 'hxstudio_leftlink');_trackData.push(['addaction','link_m', 'enter_<%= row.id %>', 'hxstudio_leftlink']);">
                                            进入房间
                                        </a>
                                    </div>
                                </div>
                                <div class="room-right">
                                    <p>
                                        <label>直播时间：</label><label class="syll-time"></label><label style="margin-left:12px;"></label><label style="margin-left:12px;"></label>
                                    </p>
                                    <p>房间介绍：<%=row.remark %></p>
                                </div>
                            </section>
                            <div class="info syllabus dn">
                                <table class="timetable" border="0" cellpadding="0" cellspacing="1" width="100%">
                                </table>
                            </div>
                        </li>
                        <% }); %>
                        <% } %>
                    </ul>
                </div>
            </section>
            <!-- 直播视频end -->
            <!-- 快讯begin -->
            <section class="cen-pubox swiper-slide" id="newInfoTab">
                <div class="boxcont">
                    <ul class="message_list">
                    </ul>
                </div>
            </section>
            <!-- 快讯end -->
            <!-- 专业评论end -->
            <!-- 公告begin -->
            <section class="cen-pubox swiper-slide" id="bulletinTab">
                <div class="boxcont">
                    <div class="notice_cont">
                    </div>
                </div>
            </section>
            <!-- 公告end -->
        </article>
    </section>
</section>

<!-- 收藏提示begin -->
<footer class="collect-tip dn">
    <div class="content_w">
        <b></b>
        <p>先保存书签, 再添加到主屏幕<br>随时打开看直播</p>
        <a href="javascript:void(0)" class="c_close" onClick="ga('send', 'event', 'click_m', 'close', 'hxstudio_leftlink');_trackData.push(['addaction','click_m', 'close', 'hxstudio_leftlink']);"></a>
    </div>
</footer>
<!-- 收藏提示end -->

<!-- 底部悬浮菜单begin-->
<div class="fob_open">
    <div>
        <a class="fb_open_real"   href="https://myid.hx9999.com/cn/newAccount.html?action=0&pmf_group=optimization&pmf_source=seo_handan&pmf_medium=seo_handan_kaihu&pmf_keyword=seo_handan_kaihu&pmf_id=seo_handan_kaihu&utm_source=seo_handan&utm_medium=seo_handan_kaihu&utm_term=seo_handan_kaihu&utm_content=seo_handan_kaihu&utm_campaign=seo_handan_kaih" target="_blank" onClick="ga('send', 'event', 'account_m', 'real_account', 'hxstudio_bottomlink');_trackData.push(['addaction','account_m', 'real_account_m', 'hxstudio_bottomlink']);">
            开真实账户
        </a>
        <a class="fb_open_analog" href="https://myid.hx9999.com/cn/practice.html?action=0&pmf_group=free&pmf_source=free_handan&pmf_medium=free_handan_moni&pmf_keyword=free_handan_moni&pmf_id=free_handan_moni&utm_source=free_handan&utm_medium=free_handan_moni&utm_term=free_handan_moni&utm_content=free_handan_moni&utm_campaign=free_handan_moni" target="_blank" onClick="ga('send', 'event', 'account_m', 'demo_account', 'hxstudio_bottomlink');_trackData.push(['addaction','account_m', 'demo_account_m', 'hxstudio_bottomlink']);">
            开模拟账户
        </a>
        <a href="javascript:" onclick="studioMbPop.openCSBox();ga('send', 'event', 'chat_m', 'qq', 'hxstudio_bottomlink');_trackData.push(['addaction','chat_m', 'qq', 'hxstudio_bottomlink']);" class="fb_consult" style="background-image:none">
            <i class="qq-fon"><s></s></i>立即咨询
        </a>
    </div>
</div>
<!-- 底部悬浮菜单end-->

<!-- 弹出层begin -->
<section class="popupbg dn">
    <section class="popupbox pop-time dn">
        <div class="cont">
            <div class="titlebar">
                <span>课程表</span>
            </div>
            <div class="sc_cont">
                <table class="timetable" border="0" cellpadding="0" cellspacing="1" width="100%">
                </table>
            </div>
            <a href="javascript:void(0)" class="pop-close"></a>
        </div>
    </section>
    <% include pop.html %>
</section>
<section class="errorbox dn">
    <div class="cont"></div>
</section>
<!-- 弹出层end -->

<script type="text/javascript" src="/base/lib/swipe/swiper.min.js"></script>
<% if(isDevTest) { %>
<script type="text/javascript" src="/base/util/common.js"></script>
<script type="text/javascript" src="/base/util/chatAnalyze.js"></script>
<script type="text/javascript" src="/hx/theme2/js/index.js"></script>
<% }else{ %>
<script type="text/javascript" src="/hx/theme2/js/index.min.js?t=<%=new Date().getTime()%>"></script>
<% }%>
<script type="text/javascript" src="http://images.hx9999.com/scripts/analytics.js"></script>
<script type="text/javascript">
    $(function(){
        indexJS.userInfo=JSON.parse('<%- userInfo %>');
        indexJS.mobile24kPath='<%= mobile24kPath %>';
        indexJS.apiUrl='<%= apiUrl %>';
        indexJS.fromPlatform='<%- fromPlatform%>';
        indexJS.init();
    });
</script>
</body>
</html>