<div class="main_tab on">
    <div class="chat_content" id="chatMsgContentDiv">
        <div style="padding: 0 20px;">
            <div class="dialoglist clearfix" id="dialog_list"></div>
        </div>
    </div>
    <div class="chat_input">
        <div class="mymsg dn">
            <p><span class="sender">Alex</span>对你说：<span class="xcont">按刚才这个逻辑，金价还有一次探底点机会。</span></p>
            <a href="javascript:" class="replybtn">回复</a>
            <a href="javascript:" class="pop_close" id="mymsgClose"><i>关闭</i></a>
        </div>
        <div class="input_box">
            <div class="toolbar">
                <a href="javascript:" class="tbtn facebtn" id="msgFaceBtn" title="添加表情">表情</a>
                <a href="javascript:" class="tbtn clearbtn" title="清屏">清屏</a>
                <a href="javascript:" class="tbtn scrollbtn on" title="自动滚屏">滚屏</a>
            </div>

            <div class="input_area">
                <div class="adiv">
                    <div id="contentText" contenteditable="true" class="ctextarea"></div>
                </div>
                <a href="javascript:" class="sendbtn" id="sendBtn"><i></i><span>发送</span></a>
            </div>
        </div>
    </div>
    <div class="view_select">
        <div class="se_cont">
            <div class="selected">看所有人</div>
            <div class="selectlist">
                <a href="javascript:" class="on" t="all">看所有人</a>
                <a href="javascript:" class="" t="analyst">看分析师</a>
                <a href="javascript:" class="" t="me">与我相关</a>
            </div>
        </div>
        <i></i>
    </div>
</div>